#flashcards-main-options{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;
    flex-wrap:wrap;
    gap:calc(var(--size) * 24px);
    margin:calc(var(--size) * 24px);
    width:calc(100vw - calc(var(--size) * 304px));
}

#flashcards-main-options > div{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    border:1px solid var(--light-border-color);
    gap:calc(var(--size) * 18px);
    padding:calc(var(--size) * 24px);
    border-radius:calc(var(--size) * 6px);
    background:var(--bg-color-1);
    transition-duration:250ms;
}

#flashcards-main-options > div:nth-of-type(1):hover{
    background:var(--light-accent);
}

#flashcards-main-options > div:nth-of-type(2):hover{
    background:var(--light-accent);
}

#flashcards-main-options > div > img:first-of-type{
    height:calc(var(--size) * 30px);
}

#flashcards-main-options > div > div > h1{
    font-size:calc(var(--size) * 12px);
    font-weight:600;
    margin:0;
    cursor:default;
}

#flashcards-main-options > div > div > p{
    font-size:calc(var(--size) * 10px);
    font-weight:400;
    margin:0;
    color:gray;
    cursor:default;
}

#flashcards-main-options > div > img:last-of-type{
    height:calc(var(--size) * 18px);
    margin-left:calc(var(--size) * 18px)
}

#flashcards-sorting{
    display:flex;
    flex-direction:row;
    margin-left:calc(var(--size) * 24px);
    gap:calc(var(--size) * 12px);
}

.flashcard-sorting{
    display:flex;
    flex-direction:row;
    align-items:center;
}

.flashcard-sorting > p{
    font-size:calc(var(--size) * 12px);
    color:gray;
    margin:0;
}

.flashcard-sorting > select{
    outline:none;
    border:none;
    background:transparent;
    color:black;
    font-size:calc(var(--size) * 12px);
    font-weight:400;
}