#flashcards-tab{
    overflow-y:scroll;
    overflow-x:hidden;
}

#flashcards-main-options{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;
    flex-wrap:wrap;
    gap:calc(var(--size) * 24px);
    margin:calc(var(--size) * 24px);
    width:calc(100vw - calc(var(--size) * 304px));
}

#flashcards-main-options > div{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    border:1px solid var(--light-border-color);
    gap:calc(var(--size) * 18px);
    padding:calc(var(--size) * 24px);
    border-radius:calc(var(--size) * 6px);
    background:var(--bg-color-1);
    transition-duration:250ms;
}

#flashcards-main-options > div:nth-of-type(1):hover{
    background:var(--light-accent);
}

#flashcards-main-options > div:nth-of-type(2):hover{
    background:var(--light-accent);
}

#flashcards-main-options > div > img:first-of-type{
    height:calc(var(--size) * 30px);
}

#flashcards-main-options > div > div > h1{
    font-size:calc(var(--size) * 12px);
    font-weight:600;
    margin:0;
    cursor:default;
}

#flashcards-main-options > div > div > p{
    font-size:calc(var(--size) * 10px);
    font-weight:400;
    margin:0;
    color:gray;
    cursor:default;
}

#flashcards-main-options > div > img:last-of-type{
    height:calc(var(--size) * 18px);
    margin-left:calc(var(--size) * 18px)
}

#flashcards-sorting{
    display:flex;
    flex-direction:row;
    margin-left:calc(var(--size) * 24px);
    gap:calc(var(--size) * 12px);
}

.flashcard-sorting{
    display:flex;
    flex-direction:row;
    align-items:center;
}

.flashcard-sorting > p{
    font-size:calc(var(--size) * 12px);
    color:gray;
    margin:0;
}

.flashcard-sorting > select{
    outline:none;
    border:none;
    background:transparent;
    color:black;
    font-size:calc(var(--size) * 12px);
    font-weight:400;
}

#flashcards-list-container{
    margin-left:calc(var(--size) * 24px);
    margin-top:calc(var(--size) * 12px);
}

#no-flashcards:not(.inactive-modal){
    width:calc(100vw - var(--size) * 306px);
    height:calc(100vh - var(--size) * 300px);
    border-radius:calc(var(--size) * 12px);
    border:calc(var(--size) * 2px) dashed lightgray;
    color:lightgray;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

#no-flashcards > p{
    font-size:calc(var(--size) * 12px);
    margin:0;
    font-weight:300;
}

#flashcards-list{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap:calc(var(--size) * 12px);
}

.flashcard-deck{
    display:flex;
    align-items:center;
    background:var(--bg-color-1);
    padding:calc(var(--size) * 12px) calc(var(--size) * 18px);
    border:1px solid var(--light-border-color);
    border-radius:calc(var(--size) * 6px);
    gap:calc(var(--size) * 18px);
    position:relative;
    width:calc(var(--size) * 445px);
    transition-duration:125ms;
    cursor:pointer;
}

.flashcard-deck:hover{
    background:var(--hover-light);
}

.flashcard-deck > div:first-of-type{
    padding:calc(var(--size) * 6px);
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
    border-radius:50%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    width:calc(var(--size) * 30px);
    height:calc(var(--size) * 30px);
    /*box-shadow:0 0 calc(var(--size) * 6px) 0 black;*/
}

.flashcard-deck > div:first-of-type > img:first-of-type{
    height:calc(var(--size) * 24px);
}

.flashcard-deck > div:nth-of-type(2){
    display:flex;
    flex-direction:column;
}

.flashcard-deck > div:nth-of-type(2) > h1{
    font-size:calc(var(--size) * 14px);
    margin:0;
}

.flashcard-deck > div:nth-of-type(2) > div{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:calc(var(--size) * 6px);
}

.flashcard-deck > div:nth-of-type(2) > div > img{
    height:calc(var(--size) * 14px);
}

.flashcard-deck > div:nth-of-type(2) > div > p{
    font-size:calc(var(--size) * 12px);
    font-weight:400;
    margin:0;
}

.flashcard-deck > p{
    text-transform:uppercase;
    font-size:calc(var(--size) * 12px);
    padding:calc(var(--size) * 6px) calc(var(--size) * 12px);
    color:white;
    font-weight:500;
    border-radius:calc(var(--size) * 6px);
    text-shadow:0 0 calc(var(--size) * 2px) black;
}

.community-flashcard{
    background:linear-gradient(135deg, var(--secondary-accent), var(--secondary-accent-gradient));
}

.shared-flashcard{
    /*background:linear-gradient(135deg, var(--secondary-accent), var(--secondary-accent-gradient));*/
    background:linear-gradient(135deg, var(--tertiary-accent), var(--tertiary-accent-gradient));
}

.personal-flashcard{
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
}

.flashcard-deck > div:last-of-type{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:calc(var(--size) * 4px);
    position:absolute;
    right:calc(var(--size) * 18px);
}

.flashcard-deck > div:last-of-type > img{
    height:calc(var(--size) * 18px);
    cursor:pointer;
}