#flashcards-tab{
    overflow-y:scroll;
    overflow-x:hidden;
}

#flashcards-main-options{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;
    flex-wrap:wrap;
    gap:calc(var(--size) * 24px);
    margin:calc(var(--size) * 24px);
    width:calc(100vw - calc(var(--size) * 304px));
}

#flashcards-main-options > div{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    border:1px solid var(--light-border-color);
    gap:calc(var(--size) * 18px);
    padding:calc(var(--size) * 24px);
    border-radius:calc(var(--size) * 6px);
    background:var(--bg-color-1);
    transition-duration:250ms;
    cursor:pointer;
}

/*#flashcards-main-options > div:nth-of-type(1):hover{
    border:1px solid var(--primary-accent);
}

#flashcards-main-options > div:nth-of-type(2):hover{
    border:1px solid var(--secondary-accent);
}*/

#flashcards-main-options > div:hover{
    border:1px solid var(--primary-accent);
}

#flashcards-main-options > div > img:first-of-type{
    height:calc(var(--size) * 30px);
    filter:invert(1) brightness(var(--image-invert));
}

#flashcards-main-options > div > div > h1{
    font-size:calc(var(--size) * 14px);
    font-weight:600;
    margin:0;
    cursor:pointer;
}

#flashcards-main-options > div > div > p{
    font-size:calc(var(--size) * 12px);
    margin:0;
    color:gray;
    cursor:pointer;
}

#flashcards-main-options > div > img:last-of-type{
    height:calc(var(--size) * 18px);
    margin-left:calc(var(--size) * 18px);
    filter:invert(1) brightness(var(--image-invert));
}

#flashcards-sorting{
    display:flex;
    flex-direction:row;
    margin-left:calc(var(--size) * 24px);
    gap:calc(var(--size) * 12px);
}

.flashcard-sorting{
    display:flex;
    flex-direction:row;
    align-items:center;
}

.flashcard-sorting > p{
    font-size:calc(var(--size) * 12px);
    color:gray;
    margin:0;
}

.flashcard-sorting > select{
    outline:none;
    border:none;
    background:transparent;
    color:var(--text-color);
    font-size:calc(var(--size) * 12px);
    font-weight:400;
}

#flashcards-list-container{
    margin-left:calc(var(--size) * 24px);
    margin-top:calc(var(--size) * 12px);
}

#no-flashcards:not(.inactive-modal){
    width:calc(100vw - var(--size) * 306px);
    height:calc(100vh - var(--size) * 300px);
    border-radius:calc(var(--size) * 12px);
    border:calc(var(--size) * 2px) dashed lightgray;
    color:lightgray;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    cursor:pointer;
}

#no-flashcards > p{
    font-size:calc(var(--size) * 12px);
    margin:0;
    font-weight:400;
    transition-duration:250ms;
}

#no-flashcards:hover > p{
    font-size:calc(var(--size) * 14px);
}

#flashcards-list{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap:calc(var(--size) * 12px);
}

#flashcards-display-test{
    width:auto;
    position:absolute;
    font-size:calc(var(--size) * 14px);
    font-weight:700;
    z-index:20;

}

.flashcard-deck{
    display:flex;
    align-items:center;
    background:var(--bg-color-1);
    padding:calc(var(--size) * 12px) calc(var(--size) * 18px);
    border:1px solid var(--light-border-color);
    border-radius:calc(var(--size) * 6px);
    gap:calc(var(--size) * 18px);
    position:relative;
    width:calc(var(--size) * 445px);
    transition-duration:250ms;
    cursor:pointer;
}

.personal-flashcard-border:hover{
    border:1px solid var(--primary-accent);
}

.community-flashcard-border:hover{
    border:1px solid var(--secondary-accent);
}

.shared-flashcard-border:hover{
    border:1px solid var(--tertiary-accent);
}

.flashcard-deck:hover{
    /*box-shadow:0 0 calc(var(--size) * 16px) 0 var(--hover-light);
    transform:scale(1.025);*/
}

.flashcard-deck > div:first-of-type{
    padding:calc(var(--size) * 6px);
    border-radius:50%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    width:calc(var(--size) * 30px);
    height:calc(var(--size) * 30px);
    border:1px solid var(--light-border-color);
    /*box-shadow:inset 0 0 calc(var(--size) * 4px) 0 var(--light-gray);*/
}

.flashcard-deck > div:first-of-type > img:first-of-type{
    height:calc(var(--size) * 24px);
    filter:invert(1);
}

.flashcard-deck > div:nth-of-type(2){
    display:flex;
    flex-direction:column;
}

.flashcard-deck > div:nth-of-type(2) > h1{
    font-size:calc(var(--size) * 14px);
    margin:0;
}

.flashcard-deck > div:nth-of-type(2) > div{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:calc(var(--size) * 6px);
}

.flashcard-deck > div:nth-of-type(2) > div > img{
    height:calc(var(--size) * 14px);
}

.flashcard-deck > div:nth-of-type(2) > div > p{
    font-size:calc(var(--size) * 12px);
    font-weight:400;
    color:gray;
    margin:0;
}

.flashcard-deck > p{
    text-transform:uppercase;
    font-size:calc(var(--size) * 12px);
    padding:calc(var(--size) * 6px) calc(var(--size) * 12px);
    color:white;
    font-weight:500;
    border-radius:calc(var(--size) * 6px);
    text-shadow:0 0 calc(var(--size) * 2px) black;
}

.community-flashcard{
    background:linear-gradient(135deg, var(--secondary-accent), var(--secondary-accent-gradient));
}

.shared-flashcard{
    /*background:linear-gradient(135deg, var(--secondary-accent), var(--secondary-accent-gradient));*/
    background:linear-gradient(135deg, var(--tertiary-accent), var(--tertiary-accent-gradient));
}

.personal-flashcard{
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
}

.flashcard-deck > div:last-of-type{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:calc(var(--size) * 4px);
    position:absolute;
    right:calc(var(--size) * 18px);
}

.flashcard-deck > div:last-of-type > img{
    height:calc(var(--size) * 18px);
    filter:invert(1) brightness(var(--image-invert));
    cursor:pointer;
}

#flashcards-viewer-main{
    display:flex;
    flex-direction:row;
    align-items:center;
    margin: calc(var(--size) * 24px) 0 0 calc(var(--size) * 24px);
}

#flashcard-main-view{
    background:var(--bg-color-1);
    width:calc(100vw - var(--size) * 640px);
    height:calc(9 * (100vw - var(--size) * 640px) / 16);
    display:flex;
    flex-direction:row;
    border-radius:calc(var(--size) * 18px);
    border:1px solid var(--light-border-color);
    overflow:hidden;
}

#flashcard-stripe{
    width:calc(var(--size) * 32px);
    border-right:1px solid var(--light-border-color);
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
}

#flashcard-stripe > p{
    transform:rotate(-90deg);
    text-transform:uppercase;
    color:white;
    font-size:calc(var(--size) * 14px);
    margin-top:calc(var(--size) * 72px);
    text-shadow:0 0 calc(var(--size) * 2px) black;
    width:calc(var(--size) * 128px);
    text-align:right;
}

#flashcard-main{
    display:flex;
    flex-direction:column;
    position:relative;
    width:calc(100% - var(--size) * 33px);
}

#flashcard-options{
    width:100%;
    position:absolute;
    bottom:calc(var(--size) * 4px);
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    /*background:var(--hover-light);
    border-top:1px solid var(--light-border-color);*/
}

.flashcard-option{
    cursor:pointer;
}

.flashcard-option:first-of-type{
    position:absolute;
    left:calc(var(--size) * 12px);
}

.flashcard-option:last-of-type{
    position:absolute;
    right:calc(var(--size) * 12px);
}

.flashcard-option > img{
    height:calc(var(--size) * 24px);
    filter:invert(0.5);
}

#flashcard-text{
    width:90%;
    margin-left:5%;
    height:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    font-weight:800;
    font-size:calc(3.75vw);
    text-align:center;
}

#flashcard-actions{
    margin-left:calc(var(--size) * 24px);
    width:calc(var(--size) * 308px);
    display:flex;
    flex-direction:column;
    gap:calc(var(--size) * 12px);
}

.flashcard-action{
    display:flex;
    width:calc(100% - var(--size) * 24px);
    padding:calc(var(--size) * 12px);
    border:1px solid var(--light-border-color);
    background:var(--bg-color-1);
    align-items:center;
    gap:calc(var(--size) * 12px);
    border-radius:calc(var(--size) * 12px);
    transition-duration:125ms;
    cursor:pointer;
}

.flashcard-action:hover{
    transform:scale(1.025);
}

.flashcard-action > img{
    height:calc(var(--size) * 30px);
    filter:invert(var(--image-invert));
}

.flashcard-action > div > h1{
    margin:0;
    font-size:calc(var(--size) * 16px);
}

.flashcard-action > div > p{
    margin:0;
    font-size:calc(var(--size) * 12px);
}