@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --text-color:black;
    --image-invert:0;
    --hover-dark:#0f0f0f;
    --dark-gray:#1e1e1e;
    --light-gray:#2c2c2c;
    --bg-color-1:#ffffff;
    --bg-color-2:#f6f7fb;
    --light-border-color:#ebebeb;
    --dark-border-color:#343434;
    --hover-light:#f5f5f5;
    --primary-accent:#fe599d;
    --primary-accent-gradient:#f30096;
    --secondary-accent:#00a8ff;
    --secondary-accent-gradient:#31d6dc;
    --tertiary-accent:#f8680a;
    --tertiary-accent-gradient:#fa8d37;
    /*--tertiary-accent:#00ff6e;
    --tertiary-accent-gradient:#31dc53;*/
    --accent-highlight:#f30096;
    --light-accent:#ffedf6;
    --size:1;
}

*::-webkit-scrollbar{
    width:calc(var(--size) * 8px);
    background:transparent;
}

*::-webkit-scrollbar-thumb{
    background:var(--dark-border-color);

}

body{
    font-family: 'Montserrat', sans-serif;
    background:var(--bg-color-1);
    overflow:hidden;
    color:var(--text-color);
    margin:0;
}

body *{
    font-family: 'Montserrat', sans-serif;
}

#desktop-wrapper{
    display:flex;
    flex-direction:column;
    width:100vw;
    height:100vh;
    overflow-x:hidden;
    overflow-y:hidden;
}

#desktop-navbar{
    background:var(--dark-gray);
    display:flex;
    flex-direction:row;
    align-items:center;
    height:calc(var(--size) * 48px);
    position:absolute;
    width:100vw;
    top:0;
    left:0;
}

#desktop-main-image, .desktop-navbar-right-img{
    width:calc(var(--size) * 48px);
    height:calc(var(--size) * 48px);
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    border-right:1px solid var(--dark-border-color);
}

#desktop-main-image > a > img{
    width:calc(var(--size) * 28px);
    padding-top: 3px;
    /*filter:saturate(0);*/
}

#desktop-input-div{
    margin:0 calc(var(--size) * 12px);
    display:flex;
    flex-direction:row;
    align-items:center;
    background:var(--light-gray);
    overflow:hidden;
    border-radius:calc(var(--size) * 5px);
    transition-duration:250ms;
}

#desktop-input-div:hover{
    background:var(--dark-border-color);
}

#desktop-input-img{
    width:calc(var(--size) * 18px);
    filter:invert(1);
    padding:0 calc(var(--size) * 6px);
}

#desktop-navbar-input{
    height:calc(var(--size) * 30px);
    background:transparent;
    border:none;
    width:calc(var(--size) * 256px);
    font-size:calc(var(--size) * 12px);
    outline:none;
    color:white;
    padding-right:calc(var(--size) * 12px);
}

#desktop-navbar-right{
    position:absolute;
    right:0;
    display:flex;
    flex-direction:row;
    align-items:center;
}

.desktop-navbar-right-img{
    width:calc(var(--size) * 36px);
    position:relative;
    border:none;
}

.desktop-navbar-right-img > img{
    width:calc(var(--size) * 18px);
    filter:invert(1);
    cursor:pointer;
}

.desktop-navbar-right-img > div{
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
    width:calc(var(--size) * 8px);
    height:calc(var(--size) * 8px);
    border-radius:50%;
    position:absolute;
    top:calc(var(--size) * 10px);
    right:calc(var(--size) * 4px)
}

#desktop-navbar-profile{
    display:flex;
    flex-direction:row;
    align-items:center;
    padding:0 calc(var(--size) * 12px);
    transition-duration:250ms;
    height:calc(var(--size) * 48px);
    border-left:1px solid var(--dark-border-color);
    width:calc(var(--size) * 176px);
}

#desktop-navbar-profile:hover{
    background:var(--hover-dark);
}

#desktop-navbar-profile-image {
    height: calc(var(--size) * 24px);
    margin-right:calc(var(--size) * 12px);
}

#navbar-profile-text > h1{
    font-size:calc(var(--size) * 12px);
    font-weight:500;
    cursor:default;
    color:white;
    margin:0;
}

#navbar-profile-text > p{
    font-size:calc(var(--size) * 10px);
    font-weight:300;
    color:lightgray;
    cursor:default;
    width:auto;
    margin:0;
}

#desktop-navbar-profile > img:last-of-type{
    filter:invert(1);
    height:calc(var(--size) * 16px);
    margin:0 calc(var(--size) * 6px);
    position:absolute;
    right:0;
}

#desktop-navbar-profile > div:last-of-type{
    visibility: hidden;
    opacity:0;
    transition-duration:250ms;
    transition-delay:125ms;
}

#desktop-navbar-profile:hover > div:last-of-type{
    visibility:visible;
    opacity:1;
}

#desktop-profile-modal, .profile-sub-modal{
    position:absolute;
    z-index:4;
    width:calc(var(--size) * 194px);
    border-radius:calc(var(--size) * 6px);
    background:var(--dark-gray);
    padding:calc(var(--size) * 12px) 0;
    display:flex;
    flex-direction:column;
    align-items:center;
    transition-duration:250ms;
}

#desktop-profile-modal::before{
    content:'';
    width: 0;
    height: 0;
    border-left: calc(var(--size) * 8px) solid transparent;
    border-right: calc(var(--size) * 8px) solid transparent;
    border-bottom: calc(var(--size) * 6px) solid var(--dark-gray);
    position:absolute;
    top:calc(var(--size) * -6px);
    right:calc(var(--size) * 150px);
}

#desktop-profile-modal{
    right:calc(var(--size) * 8px);
    top:calc(var(--size) * 56px);
    opacity:1;
    visibility:visible;
}

.profile-sub-modal{
    left:calc(var(--size) * -202px);
}

#desktop-profile-modal > div:not(.profile-break), .profile-sub-modal > div{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    gap:calc(var(--size) * 12px);
    align-items:flex-start;
    padding:calc(var(--size) * 6px) calc(var(--size) * 12px);
    transition-duration:125ms;
    width:calc(100% - var(--size) * 24px);
    position:relative;
    cursor:pointer;
}

#desktop-profile-modal > div:not(.profile-break) > .profile-sub-modal{
    visibility:hidden;
    transition-delay:125ms;
    opacity:0;
}

#desktop-profile-modal > div:not(.profile-break):hover, .profile-sub-modal > div:hover{
    background:var(--primary-accent);
}

#desktop-profile-modal > div:not(.profile-break):hover > .profile-sub-modal{
    visibility: visible;
    opacity:1;
}

#desktop-profile-modal > div:not(.profile-break) > img:first-of-type, .profile-sub-modal > div > img:first-of-type{
    height:calc(var(--size) * 17px);
    filter:invert(1);
}

#desktop-profile-modal > div:not(.profile-break) > img:nth-of-type(2), .profile-sub-modal > div > img:nth-of-type(2){
    position:absolute;
    right:calc(var(--size) * 12px);
    height:calc(var(--size) * 16px);
    filter:invert(1);
}

#desktop-profile-modal > div:not(.profile-break) > p, .profile-sub-modal > div > p{
    font-size:calc(var(--size) * 13px);
    cursor:pointer;
    margin:0;
    font-weight:400;
    color:white;
}

.profile-break{
    width:calc(100% - var(--size) * 24px);
    height:1px;
    background:var(--dark-border-color);
    margin:calc(var(--size) * 6px) 0
}

#desktop-profile-modal > button{
    width:calc(100% - var(--size) * 24px);
    height:calc(var(--size) * 24px);
    background:var(--dark-border-color);
    border:none;
    outline:none;
    border-radius:calc(var(--size) * 6px);
    text-transform:uppercase;
    transition-duration:250ms;
    color:white;
    font-weight:500;
    font-size:calc(var(--size) * 13px);
    letter-spacing:1px;
    cursor:pointer;
}

#desktop-profile-modal > button:hover{
    background:var(--primary-accent);
}

#desktop-parent-container{
    position:absolute;
    left:0;
    top:calc(var(--size) * 48px);
    width:100vw;
    height:calc(100vh - var(--size) * 48px);
    background:var(--bg-color-2);
    overflow:hidden;
    display:flex;
    flex-direction:row;
}

#desktop-sidebar{
    width:calc(var(--size) * 256px);
    border-right:1px solid var(--light-border-color);
    height:calc(100vh - var(--size) * 72px);
    background:var(--bg-color-1);
    padding:calc(var(--size) * 12px) 0;
}

.desktop-sidebar-category, .desktop-sidebar-folder{
    width:calc(var(--size) * 256px);
    display:flex;
    align-items:center;
    padding:calc(var(--size) * 6px) 0;
    transition-duration:250ms;
    cursor:pointer;
}

.desktop-sidebar-category:not(.active-sidebar-category):not(.unavailable-sidebar-category):hover {
    background:var(--hover-light)
}

.unavailable-sidebar-category{
    background:var(--light-border-color);
    color:gray;
}

.unavailable-sidebar-category > div > img{
    filter:invert(0.5);
}

.desktop-sidebar-category > div, .desktop-sidebar-folder > div{
    width:calc(var(--size) * 48px);
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.desktop-sidebar-category > div > img, .desktop-sidebar-folder > div > img{
    height:calc(var(--size) * 18px);
    filter:invert(1) brightness(var(--image-invert));
}

.desktop-sidebar-category > p, .desktop-sidebar-folder > p{
    margin:0;
    font-size:calc(var(--size) * 12px);
    font-weight:400;
    cursor:pointer;
}

.desktop-sidebar-break{
    height:1px;
    width:calc(var(--size) * 220px);
    background:var(--light-border-color);
    margin:calc(var(--size) * 12px) calc(var(--size) * 18px);
}

#desktop-sidebar-categories > h1{
    font-size:calc(var(--size) * 12px);
    font-weight:700;
    margin: 0 0 calc(var(--size) * 6px) calc(var(--size) * 18px);
}

#context-menu:not(.inactive-modal){
    visibility: visible;
    opacity:1;
    transition-duration:250ms;
    transition-property: opacity;
    background:var(--dark-gray);
    position:absolute;
    display:flex;
    flex-direction:column;
    padding:calc(var(--size) * 12px) 0;
    /*border-radius:5px;*/
    overflow:hidden;
    border-radius:calc(var(--size) * 6px);
    box-shadow:0 0 calc(var(--size) * 12px) 0 black;
    width:calc(var(--size) * 128px);
    color:white;
    z-index:1;
}

#context-menu > div{
    display:flex;
    flex-direction:row;
    align-items:center;
    width:calc(var(--size) * 128px);
    cursor:pointer;
    padding:3px 0;
}

#context-menu > div:hover{
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
}

#context-menu > div > img{
    height:calc(var(--size) * 14px);
    filter:invert(1);
    padding:0 8px;
}

#context-menu > div > p{
    font-size:calc(var(--size) * 12px);
    font-weight:500;
    cursor:pointer;
    margin:0;
}

.inactive-modal{
    visibility:hidden;
    opacity:0;
}

.active-sidebar-category{
    background:var(--light-accent);
}

#desktop-main-container{
    width:calc(100vw - calc(var(--size) * 256px));
    height:calc(100vh - calc(var(--size) * 48px));
}

#desktop-main-container-tab{
    font-size:calc(var(--size) * 12px);
    width:calc(100% - var(--size) * 48px);
    padding:calc(var(--size) * 14px) calc(var(--size) * 24px);
    font-weight:600;
    border-bottom:1px solid var(--light-border-color);
    margin:0;
    position:absolute;
    top:0;
}

.desktop-tab:not(.active-tab){
    visibility:hidden;
    opacity:0;
}

.active-tab{
    opacity:1;
    visibility:visible;
}

#desktop-main-tabs{
    width:100%;
}

.desktop-tab{
    transition-duration:250ms;
    transition-property:opacity;
    position:absolute;
    top:calc(var(--size) * 44px);
    left:calc(var(--size) * 256px);
    width:calc(100vw - var(--size) * 256px);
    height:calc(100vh - var(--size) * 92px)
}

#mobile-wrapper{
    display:none;
}

#desktop-main-news{
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
    visibility:hidden;
    height:calc(var(--size) * 24px);
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    position:relative;
}

#desktop-main-news > img{
    height:calc(var(--size) * 18px);
    margin-right:calc(var(--size) * 6px);
}

#desktop-main-news > a{
    font-size:calc(var(--size) * 12px);;
    font-weight:600;
    text-decoration:underline 2px;
    color:black;
}

#desktop-main-news > p{
    position:absolute;
    right:calc(var(--size) * 18px);
    font-size:calc(var(--size) * 12px);
    cursor:pointer;
}

#desktop-loader-container:not(.inactive-modal){
    opacity:1;
    visibility: visible;
}

#desktop-loader-container{
    transition-duration:500ms;
    position:absolute;
    z-index:5;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    overflow:hidden;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

#desktop-loader-bg-left{
    background:var(--dark-gray);
    width:50vw;
    height:100vh;
    position:absolute;
    left:0;
    z-index:6;
}

#desktop-loader-bg-right{
    background:var(--dark-gray);
    width:50vw;
    height:100vh;
    position:absolute;
    right:0;
    z-index:6;
}

#desktop-loader{
    width:30vmin;
    height:30vmin;
    background:linear-gradient(135deg, var(--primary-accent) 50%, var(--accent-highlight) 50%);
    z-index:7;
    border-radius:50%;
    box-shadow:0 0 5vmin 0 black;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    animation-name:loaderRotate;
    animation-duration:2500ms;
    animation-iteration-count:infinite;
}

#desktop-loader-img{
    height:17.5vmin;
    position:absolute;
    animation-name:elephantZoom;
    animation-duration:2500ms;
    animation-iteration-count:infinite;
    z-index:7;
}

#desktop-loader-text{
    position:absolute;
    z-index:7;
    color:white;
    bottom:27.5vmin;
}

#desktop-bottom-buttons{
    position:absolute;
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:calc(var(--size) * 12px);
    bottom:calc(var(--size) * 12px);
    right:calc(var(--size) * 12px);
}

.desktop-bottom-btn{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    background:var(--dark-gray);
    width:calc(var(--size) * 36px);
    height:calc(var(--size) * 36px);
    border-radius:50%;
    cursor:pointer;
    transition-duration:250ms;
}

.desktop-bottom-btn:not(.inactive-modal){
    opacity:1;
    visibility:visible;
}

.desktop-bottom-btn > img{
    height:calc(var(--size) * 20px);
    filter:invert(1);
}

@keyframes loaderRotate{
    from{
        transform:rotate(0deg);
    } to {
        transform:rotate(2880deg)
    }
}

@keyframes elephantZoom{
    from{
        transform:scale(1);
    } 50%{
        transform:scale(1.1);
    } to{
        transform:scale(1);
    }
}

#desktop-music-container{
    position:absolute;
    width:calc(var(--size) * 256px);
    right:0;
    bottom:0;
    height:calc(100vh - var(--size) * 48px);
    border-left:1px solid var(--light-border-color);
    backdrop-filter:blur(4px);
    z-index:1;
    transition-duration:500ms;
    opacity:1;
}

#desktop-music-main{
    background:rgba(255,255,255,0.25);
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    height:100%;
}

#desktop-music-container.inactive-modal {
    transform: translateX(calc(var(--size) * 256px));
    opacity: 0;
    visibility: hidden;
}

#music-image-div{
    margin-top:calc(var(--size) * 48px);
    border-radius:50%;
    box-shadow:0 0 calc(var(--size) * 6px) 0 var(--dark-gray);
    width:calc(var(--size) * 160px);
    height:calc(var(--size) * 160px);
    overflow:hidden;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    position:relative;
    animation-name:rotateDisc;
    animation-duration:3s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    animation-play-state:paused;
}

@keyframes rotateDisc {
    from{
        transform:rotate(0);
    } to {
        transform:rotate(360deg);
    }
}

#music-image-div::after{
    content:'';
    width:calc(var(--size) * 36px);
    height:calc(var(--size) * 36px);
    background:white;
    position:absolute;
    top:calc(50% - var(--size) * 18px);
    box-shadow:inset 0 0 calc(var(--size) * 6px) 0 var(--dark-gray);
    border-radius:50%;
}

#music-image-div > img{
    height:calc(var(--size) * 175px);

}

#music-name{
    text-align:center;
    font-size:calc(var(--size) * 14px);
    font-weight:700;
    margin: calc(var(--size) * 12px) 0 0;
}

#music-author{
    text-align:center;
    font-size:calc(var(--size) * 12px);
    font-weight:400;
    margin:0;
    color:gray;
}

#slider-input{
    width:calc(var(--size) * 208px);
    height:calc(var(--size) * 5px);
    background:var(--light-border-color);
    border:none;
    outline:none;
    overflow:hidden;
    border-radius:3px;
    -webkit-appearance:none;
    box-shadow: inset 0 0 5px 0 var(--hover-light);
    margin-top:calc(var(--size) * 18px);
}

#slider-input::-webkit-slider-thumb{
    -webkit-appearance:none;
    width:7px;
    height:7px;
    border-radius:50%;
    background:var(--primary-accent);
    box-shadow:calc(var(--size) * -208px) 0 0 calc(var(--size) * 208px) var(--primary-accent)
}

#music-controls{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:calc(var(--size) * 160px);
    align-items:center;
    margin-top:calc(var(--size) * 6px);
}

#music-controls > img{
    filter:invert(0.5);
    height:calc(var(--size) * 24px);
    transition-duration:250ms;
    cursor:pointer;
}

#music-controls > img:hover{
    filter:invert(0);
    transform:scale(1.05);
}

#playlist-list{
    margin-top:calc(var(--size) * 18px);
    display:flex;
    flex-direction:row;
    gap:calc(var(--size) * 18px);
    flex-wrap:wrap;
    width:calc(var(--size) * 208px);
    justify-content:center;
    align-items:flex-start;
}

#playlist-list > div{
    display:flex;
    flex-direction:column-reverse;
    gap:calc(var(--size) * 6px);
    text-align:center;
    width:calc(var(--size) * 64px);
    cursor:pointer;
    transition-duration:250ms;
}

#playlist-list > div > img{
    width:100%;
    border-radius:calc(var(--size) * 18px);
    transition-duration:250ms;
}

#playlist-list > div:hover > img{
    transform:scale(1.05);
}

#playlist-list > div > p{
    font-size:12px;
    transition-duration:250ms;
    color:gray;
    font-weight:400;
    opacity:0;
    margin:0;
}

#playlist-list > div:hover > p{
    opacity:1;
}

#playlist-playing{
    position:absolute;
    width:100%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    height:calc(var(--size) *  60px);
    bottom:calc(var(--size) * 18px);
}

#playlist-playing > div{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    background:var(--bg-color-1);
    height:100%;
    position:absolute;
    width:calc(100% - var(--size) * 36px);
    border-radius:calc(var(--size) * 12px);
    border:1px solid var(--light-border-color);
    box-shadow:0 0 calc(var(--size) * 6px) 0 gray;
}

#playlist-playing > div > img{
    height:calc(var(--size) * 36px);
    margin-right:calc(var(--size) * 8px);
    border-radius:50%;
}

#playlist-playing > div > div > h1{
    font-size:calc(var(--size) * 14px);
    margin:0;
    font-weight:700;
}

#playlist-playing >div > div > p{
    font-size:calc(var(--size) * 12px);
    font-weight:400;
    margin:0;
    color:gray;
}

#folder-main{
    margin:calc(var(--size) * 25px);
    display:flex;
    flex-direction:column;
    align-items:center;
    color:white;
    width:calc(var(--size) * 235px);
}

#folder-tab{
    width:calc(var(--size) * 100px);
    height:calc(var(--size) * 15px);
    background:var(--dark-gray);
    border-radius:calc(var(--size) * 10px) calc(var(--size) * 10px) 0 0;
}

#folder-back{
    width:calc(var(--size) * 225px);
    height:calc(var(--size) * 20px);
    background:var(--dark-gray);
    border-top-right-radius:calc(var(--size) * 10px);
    display:flex;
    flex-direction:row;
    align-items:flex-end;
    justify-content:center;
    gap:calc(var(--size) * 10px);
}

.folder-page{
    width:calc(var(--size) * 95px);
    height:calc(var(--size) * 10px);
    background:white;
    border-radius:calc(var(--size) * 5px) calc(var(--size) * 5px) 0 0;
}

#folder-forward{
    width:calc(var(--size) * 205px);
    height:calc(var(--size) * 110px);
    padding:calc(var(--size) * 15px);
    background:var(--dark-border-color);
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    border-radius:calc(var(--size) * 5px);
    position:relative;
}

#folder-text > h1{
    margin:0;
    cursor:pointer;
    font-size:calc(var(--size) * 16px);
    width:calc(var(--size) * 200px);
    font-weight:700;
}

#folder-text > input{
    outline:none;
    border:none;
    font-size:calc(var(--size) * 16px);
    background:transparent;
    color:white;
    width:calc(var(--size) * 201px);
    margin-left:calc(var(--size) * -1px);
    font-weight:700;
}

#folder-text > p{
    margin:0;
    color:lightgray;
    font-size:calc(var(--size) * 12px);
}

#folder-main-image{
    position:absolute;
    right:calc(var(--size) * 15px);
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

#folder-main-image > img{
    height:calc(var(--size) * 25px);
}

@media(max-width:480px){
    #desktop-wrapper{
        display:none;
    }

    #mobile-wrapper{
        display:flex;
        flex-direction:column;
    }
}