html {
    scroll-behavior: smooth;
}

#desktop-parent-container{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
}

.bottom-btns, .bottom-left-btns{
    position:absolute;
    display:flex;
    flex-direction:row;
    align-items:center;
    bottom:calc(var(--size) * 12px);
    gap:calc(var(--size) * 6px);
    z-index:2;
}

.bottom-btns{
    right:calc(var(--size) * 12px);
}

.bottom-left-btns{
    left:calc(var(--size) * 12px);
}

.bottom-btns > a.inactive-modal, .bottom-btns > div.inactive-modal, .bottom-left-btns > a.inactive-modal, .bottom-left-btns > div.inactive-modal{
    display:none;
}

.bottom-btns > a, .bottom-btns > div, .bottom-left-btns > a, .bottom-left-btns > div{
    width:calc(var(--size) * 36px);
    height:calc(var(--size) * 36px);
    background:var(--dark-gray);
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    cursor:pointer;
    transition-duration:250ms;
}

.bottom-btns > a:hover, .bottom-btns > div:hover, .bottom-left-btns > a:hover, .bottom-left-btns > div:hover{
    box-shadow:0 0 calc(var(--size) * 6px) 0 var(--dark-gray);
}

.bottom-btns > a > img, .bottom-btns > div > img, .bottom-left-btns > a > img, .bottom-left-btns > div > img{
    height:calc(var(--size) * 20px);
    filter:invert(1);
}

.personal, .active-view-button{
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient)) !important;
}

.community{
    background:linear-gradient(135deg, var(--secondary-accent), var(--secondary-accent-gradient)) !important;
}

.shared{
    background:linear-gradient(135deg, var(--tertiary-accent), var(--tertiary-accent-gradient)) !important;
}

#editor-tools{
    background:var(--bg-color-1);
    width:100vw;
    height:calc(var(--size) * 42px);
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    position:relative;
    border-bottom:1px solid var(--light-border-color);
    gap:calc(var(--size) * 12px);
}

#editor-tools > div{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:12px;
}

#editor-tools-left{
    position:absolute;
    left:calc(var(--size) * 24px);
}

#editor-tools-right{
    position:absolute;
    right:calc(var(--size) * 24px);
}

#editor-tools-middle > button{
    width:calc(var(--size) * 128px);
    font-size:calc(var(--size) * 12px);
    height:calc(var(--size) * 24px);
    border-radius:calc(var(--size) * 6px);
    outline:none;
    font-weight:600;
    cursor:pointer;
    transition-duration:250ms;
}

#change-visibility{
    font-size:calc(var(--size) * 12px);
    height:calc(var(--size) * 24px);
    border-radius:calc(var(--size) * 6px);
    outline:none;
    font-weight:600;
    cursor:pointer;
    transition-duration:250ms;
    border:none;
    color:white;
    width:calc(var(--size) * 128px);
}

#editor-tools-middle > button::before{
    content:'+';
    margin-right:calc(Var(--size) * 6px);
    font-size:calc(var(--size) * 12px);
}

#create-event-btn{
    border:1px solid var(--dark-border-color);
    background:var(--dark-gray);
    color:white;
}

#create-marker-btn{
    background:var(--bg-color-1);
    border:1px dashed var(--dark-border-color);
}

#editor-tools > div > button:hover, #visibility-options > button:hover{
    box-shadow:0 0 calc(var(--size) * 6px) 0 gray;
}

#editor-tools > div > button:active, #visibility-options > button:active{
    box-shadow:none;
}

#editor-tools-left > h1{
    font-size:calc(var(--size) * 12px);
    outline:none;
    min-width:calc(var(--size) * 128px);
}

#editor-tools-left > h1:focus{
    background:var(--bg-color-2);
    border-bottom:1px solid var(--light-border-color);
}

#desktop-main-container{
    width:100vw;
    height:calc(100vh - var(--size) * 90px);
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    position:absolute;
    top:calc(var(--size) * 42px);
}

.standard-modal{
    position:absolute;
    background:var(--bg-color-1);
    border:1px solid var(--light-border-color);
    padding:calc(var(--size) * 24px);
    border-radius:calc(var(--size) * 16px);
    width:calc(var(--size) * 320px);
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
    gap:calc(var(--size) * 6px);
    z-index:2;
    cursor:default;
}

#change-visibility-modal{
    right:calc(var(--size) * 24px);
    top:calc(var(--size) * 114px);
}

#change-visibility-modal h6 {
    font-size:calc(var(--size) * 12px);
    font-weight:600;
    margin: calc(var(--size) * 12px) 0 0;
}

#sharing-done{
    width:calc(var(--size) * 320px);
    color:white;
    border:none;
    outline:none;
    padding:calc(var(--size) * 12px) 0;
    font-size:calc(var(--size) * 14px);
    text-transform:uppercase;
    letter-spacing:1px;
    border-radius:calc(var(--size) * 12px);
    transition-duration:250ms;
    cursor:pointer;
}

#sharing-input{
    display:flex;
    flex-direction:row;
    align-items:center;
    width:calc(var(--size) * 288px);
    padding:calc(var(--size) * 6px) calc(var(--size) * 16px);
    position:relative;
    border:1px solid var(--light-border-color);
    gap:calc(var(--size) * 12px);
    margin-bottom:calc(var(--size) * 12px);
    border-radius:calc(var(--size) * 6px);
}

#sharing-input-friends-list{
    position:absolute;
    background:var(--bg-color-1);
    border:1px solid var(--light-border-color);
    width:calc(var(--size) * 312px);
    top:calc(var(--size) * 36px);
    left:calc(var(--size) * -12px);
    padding:calc(var(--size) * 6px) calc(var(--size) * 16px);
    border-radius:calc(var(--size) * 6px);
    display:flex;
    flex-direction:column;
    gap:calc(var(--size) * 6px);
}

#sharing-input > img:first-of-type {
    height:calc(var(--size) * 18px);
    filter:invert(0.5);
}

#sharing-input > p{
    margin:0;
    font-size:calc(var(--size) * 14px);
    color:gray;
}

#sharing-input > img:last-of-type{
    position:absolute;
    right:calc(var(--size) * 16px);
    height:calc(var(--size) * 18px);
    filter:invert(0.5);
}

#no-friends{
    width:calc(var(--size) * 308px);
    text-align:center;
    color:gray;
    padding:calc(var(--size) * 8px) 0;
    margin:calc(var(--size) * 4px) 0;
    border:1px dashed gray;
    border-radius:calc(var(--size) * 6px);
}

#no-friends.inactive-modal{
    display:none;
}

#sharing-input-hitbox{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:transparent;
    z-index:2;
}

#desktop-publish-input-container{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    width:100%;
}

#desktop-publish-input-container > input{
    background:var(--bg-color-2);
    color:gray;
    border:1px solid var(--light-border-color);
    height:calc(var(--size) * 24px);
    border-radius:calc(var(--size) * 6px);
    width:calc(100% - var(--size) * 60px);
    outline:none;
    padding:0 calc(var(--size) * 12px);
    font-size:calc(var(--size) * 12px);
}

#desktop-publish-input-container > img{
    transition-duration:250ms;
    cursor:pointer;
    filter:invert(0.5);
    width:calc(var(--size) * 18px);
}

#desktop-publish-input-container > img:hover{
    transform:scale(1.05);
}

#desktop-sharing-modal > h6{
    font-size:calc(var(--size) * 12px);
    font-weight:600;
    margin: calc(var(--size) * 12px) 0 0;
}

#visibility-options{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    gap:calc(var(--size) * 12px);
    width:100%;
}

#visibility-options > button{
    width:calc(var(--size) * 100px);
    color:white;
    border:none;
    outline:none;
    height:calc(var(--size) * 24px);
    border-radius:calc(var(--size) * 6px);
    font-size:calc(var(--size) * 12px);
    cursor:pointer;
    font-weight:700;
    /*transform:scale(1.1);*/
    transition-duration:250ms;
}

#visibility-options > button:not(.active-visibility-button){
    transform:scale(1);
    filter:grayscale(1) contrast(0.375);
}

#visibility-carousel > div:not(.active-visibility-options){
    visibility:hidden;
    height:0;
    opacity:0;
    margin:0;
    padding:0;
}

.active-visibility-options{
    margin:calc(var(--size) * 12px) 0;
}

#restricted-access-container{
    position:absolute;
    top:0;
    left:0;
    z-index:10;
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    backdrop-filter:blur(calc(var(--size) * 4px));
    opacity:1;
}

#restricted-access-container > div:first-of-type{
    width:100vw;
    height:100vh;
    background:var(--bg-color-1);
    opacity:0.25;
}

#restricted-access-modal{
    position:absolute;
    background:var(--bg-color-1);
    border:1px solid var(--light-border-color);
    padding:calc(var(--size) * 48px);
    border-radius:calc(var(--size) * 24px);
    width:calc(var(--size) * 512px);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:calc(var(--size) * 12px);
}

#restricted-access-modal > div:first-of-type{
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient)) !important;
    width:calc(var(--size) * 96px);
    height:calc(var(--size) * 96px);
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    margin-bottom:calc(var(--size) * 24px);
}

#restricted-access-modal > div:first-of-type > img{
    filter:invert(1);
    width:calc(var(--size) * 72px);
}

#restricted-access-modal > h1{
    font-size:calc(var(--size) * 24px);
    text-align:center;
    margin:0;
}

#restricted-access-modal > p{
    font-size:calc(var(--size) * 13px);
    color:gray;
    margin:0;
    text-align:center;
}

#restricted-access-modal > a{
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient)) !important;
    text-decoration:none;
    color:white;
    font-weight:700;
    font-size:calc(var(--size) * 14px);
    padding:calc(var(--size) * 12px) calc(var(--size) * 24px);
    border-radius:calc(var(--size) * 6px);
    margin-top:calc(var(--size) * 24px);
    text-transform:uppercase;
}