@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --hover-dark:#0f0f0f;
    --dark-gray:#010409;
    --light-gray:#18181b;
    --bg-color-1:#ffffff;
    --bg-color-2:#f6f7fb;
    --light-border-color:#e4e4e7;
    --dark-border-color:#21262d;
    --hover-light:#f5f5f5;
    --primary-accent:#fe599d;
    --primary-accent-gradient:#f30096;
    --secondary-accent:#00a8ff;
    --secondary-accent-gradient:#31d6dc;
    --tertiary-accent:#f8680a;
    --tertiary-accent-gradient:#fa8d37;
    /*--tertiary-accent:#00ff6e;
    --tertiary-accent-gradient:#31dc53;*/
    --accent-highlight:#f30096;
    --light-accent:#f4f4f5;
}

::selection, ::-moz-selection {
    background: var(--primary-accent);
}

*::-webkit-scrollbar{
    width:8px;
    height:8px;
    background:var(--light-gray);
}

*::-webkit-scrollbar-thumb{
    background:var(--dark-border-color);
}

*::-webkit-scrollbar-corner{
    background:transparent;
}

body{
    font-family: 'Inter', sans-serif;
    background:var(--bg-color-1);
    overflow-x:hidden;
    overflow-y:scroll;
    margin:0;
}

body *{
    font-family: 'Inter', sans-serif;
}

p{
    font-family: 'Montserrat', sans-serif !important;
}

.header-label{
    margin:0;
    font-weight:700;
    background:hotpink;
    font-size:12px;
    padding:6px 12px;
    border-radius:6px;
    color:white;
    text-transform:uppercase;
}

.inactive-modal{
    visibility:hidden !important;
    opacity:0 !important;
    height:0 !important;
}

.bold{
    font-weight:700;
}

#navbar{
    width:calc(100vw - 256px);
    padding:0 128px;
    height:64px;
    position:sticky;
    top:0;
    margin-bottom:-56px;
    z-index:3;
    background:var(--bg-color-1);
    /*box-shadow:0 1px 2px 0 var(--light-border-color);
    border-bottom:1px solid var(--light-border-color);
    box-shadow:0 1px 2px 0 var(--border-color);*/
}

#navbar, #navbar > div, #navbar-input{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}

#navbar > div:first-of-type{
    gap:24px;
}

#navbar > div:last-of-type{
    gap:12px;
}

#navbar-left > a > img{
    height:28px;
    border-radius:3px;
    transition-duration:250ms;
    cursor:pointer;
    margin-right:-12px;
}

#navbar-left > a > img:hover{
    filter:none;
    transform:scale(1) !important;
}

#navbar-left > h1{
    font-size:16px;
}

#navbar-left > a, .navbar-modal > div:first-of-type > p {
    color:gray;
    text-decoration:none;
    font-weight:500;
    font-size:14px;
    cursor:pointer;
}

.navbar-modal{
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.navbar-modal > div:last-of-type{
    position:absolute;
    top:48px;
    left:-48px;
    border:1px solid var(--light-border-color);
    overflow:hidden;
    border-radius:12px;
    visibility:hidden;
    opacity:0;
    transition-duration:250ms;
    transition-delay:1s;
}

.navbar-modal:hover > div:last-of-type{
    visibility: visible;
    opacity:1;
    transition-delay:0s;
}

.navbar-modal > div:last-of-type > div:first-of-type{
    display:flex;
    padding:24px;
    gap:24px;
    flex-direction:row;
    justify-content:flex-start;
    align-items:flex-start;
    background:var(--bg-color-1);
}

.navbar-modal > div:last-of-type > div:first-of-type > div{
    width:256px;
}

.navbar-modal > div:last-of-type > div:first-of-type > div:first-of-type{
    display:flex;
    flex-direction:column;
    gap:12px;
}

.navbar-modal > div:last-of-type > div:first-of-type > div:first-of-type > a{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;
    gap:12px;
    padding:12px;
    transition-duration:250ms;
    cursor:pointer;
    border-radius:6px;
    text-decoration:none;
}

.navbar-modal > div:last-of-type > div:first-of-type > div:first-of-type > a:hover{
    background:var(--bg-color-2);
}

.navbar-modal > div:last-of-type > div:first-of-type > div:first-of-type > a > img{
    height:18px;
}

.navbar-modal > div:last-of-type > div:first-of-type > div:first-of-type > a > div > h1, .navbar-modal > div:last-of-type > div:last-of-type > div > h1, .navbar-modal > div:last-of-type > div:first-of-type > div:last-of-type > h1{
    margin:0;
    font-size:14px;
    text-decoration:none;
    color:black;
}

.navbar-modal > div:last-of-type > div:first-of-type > div:last-of-type > h1{
    font-weight:500;
    color:gray;
}

.navbar-modal > div:last-of-type > div:first-of-type > div:last-of-type{
    display:flex;
    flex-direction:column;
    gap:6px;
}

.navbar-modal > div:last-of-type > div:first-of-type > div:last-of-type > a{
    text-decoration:none;
    color:black;
    font-weight:700;
    font-size:14px;
}

.navbar-modal > div:last-of-type > div:first-of-type > div:first-of-type > a > div > p{
    font-size:13px;
    text-decoration:none;
    margin:0;
    color:gray;
}

.navbar-modal > div:last-of-type > div:last-of-type{
    border-top:1px solid var(--light-border-color);
    background:var(--bg-color-2);
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    width:536px;
    padding:24px;
}
.navbar-modal > div:last-of-type > div:last-of-type > div{
    display:flex;
    flex-direction:column;
    gap:6px;
}

.navbar-modal > div:last-of-type > div:last-of-type > div > p{
    color:gray;
    margin:0;
    font-size:13px;
}

.navbar-modal > div:last-of-type > div:last-of-type > a{
    padding:8px 12px;
    border-radius:6px;
    transition-duration:250ms;
}

.navbar-modal > div:last-of-type > div:last-of-type > a:hover{
    transform:scale(1.05);
}

.navbar-modal > div:last-of-type > div:last-of-type > a:active{
    transform:scale(1);
}

#navbar-right > a{
    padding: 8px 18px;
    font-size:13px;
}



#navbar-prefix{
    display:none;
}

.pink-image{
    filter: invert(43%) sepia(84%) saturate(879%) hue-rotate(302deg) brightness(104%) contrast(99%) !important;
}

.button-primary{
    border:1px solid var(--dark-gray);
    background:var(--dark-gray);
    cursor:pointer;
    transition-duration:250ms;
    font-size:14px;
    text-decoration:none;
    font-weight:500;
    color:white;
    border-radius:6px;
}

.button-secondary{
    border:1px solid var(--light-border-color);
    background:var(--bg-color-1);
    box-shadow:0 1px 2px 0 var(--light-border-color);
    font-size:14px;
    cursor:pointer;
    transition-duration:250ms;
    font-weight:500;
    text-decoration:none;
    color:black;
}

.button-tertiary{
    text-decoration:none;
    font-weight:600;
    color:black;
}

#cookies-modal{
    position: fixed;
    bottom:24px;
    left:24px;
    background:var(--bg-color-1);
    box-shadow:0 0 12px 0 gray;
    width:256px;
    padding:30px;
    border-radius:12px;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:flex-start;
    z-index:5;
    gap:18px;
    transition-duration:1000ms;
    transition-property:opacity, transform;
}

#cookies-modal.inactive-modal{
    transform:translatey(48px);
}

#cookies-modal > div:first-of-type > div{
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
    height:28px;
    width:28px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    border-radius:50%;
}

#cookies-modal > div:first-of-type > div > img{
    width:18px;
    filter:invert(1);
}

#cookies-modal > div:last-of-type{
    display:flex;
    flex-direction:column;
    gap:6px;
}

#cookies-modal > div:last-of-type > h1{
    font-size:14px;
    margin:0;
}

#cookies-modal > div:last-of-type > p{
    font-size:12px;
    margin:0;
    color:gray;
}

#cookies-modal > div:last-of-type > p > span > a{
    font-weight:600;
    color:var(--primary-accent);
}

#cookies-modal > button{
    position:absolute;
    right:30px;
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:flex-start;
    color:gray;
    background:transparent;
    outline:none;
    border:none;
    cursor:pointer;
    font-weight:500;
    font-size:16px;
    height:16px;
    width:16px;
    text-align:right;
}

#desktop-wrapper{
    position:absolute;
    top:0;
}

@media (max-width:950px) {
    #main-container > h1{
        font-size:32px;
    }

    #navbar-right{
        display:none !important;
    }

    .video-container{
        flex-direction:column;
        height:auto;
        padding:64px 0;
        gap:32px;
        text-align:center;
    }

    .video-container > div{
        align-items:center;
        height:auto;
        width:85vw;
    }
}