@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --hover-dark:#0f0f0f;
    --dark-gray:#010409;
    --light-gray:#18181b;
    --bg-color-1:#ffffff;
    --bg-color-2:#f6f7fb;
    --light-border-color:#e4e4e7;
    --dark-border-color:#21262d;
    --hover-light:#f5f5f5;
    --primary-accent:#fe599d;
    --primary-accent-gradient:#f30096;
    --primary-light:#fdeefa;
    --secondary-accent:#00a8ff;
    --secondary-accent-gradient:#31d6dc;
    --secondary-light:#edf9fe;
    --tertiary-accent:#f8680a;
    --tertiary-accent-gradient:#fa8d37;
    --tertiary-light:#fefaed;
    /*--tertiary-accent:#00ff6e;
    --tertiary-accent-gradient:#31dc53;*/
    --accent-highlight:#f30096;
    --light-accent:#f4f4f5;
}

::selection, ::-moz-selection {
    background: var(--primary-accent);
}

*::-webkit-scrollbar{
    width:8px;
    height:8px;
    background:var(--light-gray);
}

*::-webkit-scrollbar-thumb{
    background:var(--dark-border-color);
}

*::-webkit-scrollbar-corner{
    background:transparent;
}

body{
    font-family: 'Inter', sans-serif;
    background:var(--bg-color-1);
    overflow-x:hidden;
    overflow-y:scroll;
    margin:0;
}

body *{
    font-family: 'Inter', sans-serif;
}

p{
    font-family: 'Montserrat', sans-serif !important;
}

.header-label{
    margin:0;
    font-weight:700;
    background:hotpink;
    font-size:12px;
    padding:6px 12px;
    border-radius:6px;
    color:white;
    text-transform:uppercase;
}

.primary-filter{
    filter: invert(64%) sepia(80%) saturate(4293%) hue-rotate(305deg) brightness(102%) contrast(99%);
}

.secondary-filter{
    filter: invert(41%) sepia(71%) saturate(2119%) hue-rotate(178deg) brightness(108%) contrast(106%);
}

.tertiary-filter{
    filter: invert(49%) sepia(44%) saturate(3737%) hue-rotate(355deg) brightness(97%) contrast(101%);
}

.primary-color{
    color:var(--primary-accent);
}

.secondary-color{
    color:var(--secondary-accent);
}

.tertiary-color{
    color:var(--tertiary-accent);
}

.inactive-modal{
    visibility:hidden !important;
    opacity:0 !important;
    height:0 !important;
}

.bold{
    font-weight:700;
}

#announcements{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    position:relative;
    height:36px;
    background:var(--light-gray);
    overflow:none;
    transition-duration:500ms;
}

#announcements.inactive-modal{
    height:0;
}

#announcements > p{
    font-size:13px;
    font-weight:500;
    color:white;
    margin:0;
}

#announcements > button{
    position:absolute;
    right:12px;
    height:24px;
    width:24px;
    font-weight:700;
    color:gray;
    background:transparent;
    border:none;
    cursor:pointer;
}

#navbar{
    width:calc(100vw - 96px);
    padding:0 48px;
    height:64px;
    position:sticky;
    top:0;
    margin-bottom:-56px;
    z-index:3;
    background:var(--bg-color-1);
    /*box-shadow:0 1px 2px 0 var(--light-border-color);
    border-bottom:1px solid var(--light-border-color);*/
    box-shadow:0 1px 2px 0 var(--light-border-color);
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
}

#navbar > div{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
}

#navbar-left{
    gap:12px;
}

#navbar-left > a > img{
    height:24px;
}

#navbar-left > h1{
    font-size:20px;
    font-weight:700;
    margin:0;
}

#navbar-right{
    gap:32px;
}

.navbar-modal{
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.navbar-modal > div:last-of-type{
    position:absolute;
    top:76px;
    right:-48px;
    border:1px solid var(--light-border-color);
    overflow:hidden;
    border-radius:12px;
    visibility:hidden;
    opacity:0;
    transition-duration:250ms;
    transition-delay:1s;
}

.navbar-modal > div:first-of-type > p:hover, #navbar-right > a:hover{
    border-top:2px solid var(--primary-accent);
}

.navbar-modal > div:first-of-type > p{
    cursor:default;
}

.navbar-modal > div:first-of-type > p, #navbar-right > a{
    margin:0;
    font-size:14px;
    text-decoration:none;
    color:black;
    font-family:"Montserrat", sans-serif;
    height:62px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    transition-duration:250ms;
    border-top:2px solid var(--bg-color-1);
    padding:0;
}

.navbar-modal:hover > div:last-of-type{
    visibility: visible;
    opacity:1;
    transition-delay:0s;
}

.navbar-modal > div:last-of-type > div:first-of-type{
    display:flex;
    padding:24px;
    gap:24px;
    flex-direction:row;
    justify-content:flex-start;
    align-items:flex-start;
    background:var(--bg-color-1);
}

.navbar-modal > div:last-of-type > div:first-of-type > div{
    width:256px;
}

.navbar-modal > div:last-of-type > div:first-of-type > div:first-of-type{
    display:flex;
    flex-direction:column;
    gap:12px;
}

.navbar-modal > div:last-of-type > div:first-of-type > div:first-of-type > a{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;
    gap:12px;
    padding:12px;
    transition-duration:250ms;
    cursor:pointer;
    border-radius:6px;
    text-decoration:none;
}

.navbar-modal > div:last-of-type > div:first-of-type > div:first-of-type > a:hover{
    background:var(--bg-color-2);
}

.navbar-modal > div:last-of-type > div:first-of-type > div:first-of-type > a > img{
    height:18px;
}

.navbar-modal > div:last-of-type > div:first-of-type > div:first-of-type > a > div > h1, .navbar-modal > div:last-of-type > div:last-of-type > div > h1, .navbar-modal > div:last-of-type > div:first-of-type > div:last-of-type > h1{
    margin:0;
    font-size:14px;
    text-decoration:none;
    color:black;
}

.navbar-modal > div:last-of-type > div:first-of-type > div:last-of-type > h1{
    font-weight:500;
    color:gray;
}

.navbar-modal > div:last-of-type > div:first-of-type > div:last-of-type{
    display:flex;
    flex-direction:column;
    gap:6px;
}

.navbar-modal > div:last-of-type > div:first-of-type > div:last-of-type > a{
    text-decoration:none;
    color:black;
    font-weight:700;
    font-size:14px;
}

.navbar-modal > div:last-of-type > div:first-of-type > div:first-of-type > a > div > p{
    font-size:13px;
    text-decoration:none;
    margin:0;
    color:gray;
}

.navbar-modal > div:last-of-type > div:last-of-type{
    border-top:1px solid var(--light-border-color);
    background:var(--bg-color-2);
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    width:536px;
    padding:24px;
}
.navbar-modal > div:last-of-type > div:last-of-type > div{
    display:flex;
    flex-direction:column;
    gap:6px;
}

.navbar-modal > div:last-of-type > div:last-of-type > div > p{
    color:gray;
    margin:0;
    font-size:13px;
}

.navbar-modal > div:last-of-type > div:last-of-type > a{
    padding:8px 12px;
    border-radius:6px;
    transition-duration:250ms;
}

.navbar-modal > div:last-of-type > div:last-of-type > a:hover{
    transform:scale(1.05);
}

.navbar-modal > div:last-of-type > div:last-of-type > a:active{
    transform:scale(1);
}

.navbar-image-button{
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;
    cursor:default !important;
}

.navbar-image-button > a > img{
    height:18px;
}

.navbar-image-button:hover > div:first-of-type, .navbar-image-button:hover::after{
    opacity:1;
    visibility:visible;
}

.navbar-image-button::after{
    content:'';
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid var(--light-gray);
    position:absolute;
    top:53px;
    visibility:hidden;
    opacity:0;
    transition-duration:250ms;
    transition-delay:250ms;
}

.navbar-image-button > div:first-of-type{
    opacity:0;
    transition-delay:250ms;
    visibility:hidden;
    transition-duration:250ms;
    position:absolute;
    right:-24px;
    top:58px;
    background:var(--light-gray);
    color:white;
    font-weight:500;
    text-transform:uppercase;
    font-size:13px;
    padding:6px 12px;
    border-radius:6px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    text-align:center;
    white-space:nowrap;
}

.navbar-image-button > div:nth-of-type(2){
    position:absolute;
    top:-3px;
    right:-3px;
    width:10px;
    height:10px;
    border-radius:50%;
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
}

#navbar-prefix{
    display:none;
}

.pink-image{
    filter: invert(43%) sepia(84%) saturate(879%) hue-rotate(302deg) brightness(104%) contrast(99%) !important;
}

.button-primary{
    border:1px solid var(--dark-gray);
    background:var(--dark-gray);
    cursor:pointer;
    transition-duration:250ms;
    font-size:14px;
    text-decoration:none;
    font-weight:500;
    color:white;
    border-radius:6px;
}

.button-secondary{
    border:1px solid var(--light-border-color);
    background:var(--bg-color-1);
    box-shadow:0 1px 2px 0 var(--light-border-color);
    font-size:14px;
    cursor:pointer;
    transition-duration:250ms;
    font-weight:500;
    text-decoration:none;
    color:black;
}

.button-tertiary{
    text-decoration:none;
    font-weight:600;
    color:black;
}

#cookies-modal{
    position: fixed;
    bottom:24px;
    left:24px;
    background:var(--bg-color-1);
    box-shadow:0 0 6px 0 gray;
    width:256px;
    border-radius:12px;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:flex-start;
    z-index:5;
    gap:18px;
    transition-duration:1000ms;
    transition-property:opacity, transform;
    padding: 30px 30px 58px;
}

#cookies-modal.inactive-modal{
    transform:translatey(48px);
}

#cookies-modal > div:first-of-type > div{
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
    height:28px;
    width:28px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    border-radius:50%;
}

#cookies-modal > div:first-of-type > div > img{
    width:18px;
    filter:invert(1);
}

#cookies-modal > div:last-of-type{
    display:flex;
    flex-direction:column;
    gap:6px;
}

#cookies-modal > div:last-of-type > h1{
    font-size:14px;
    margin:0;
}

#cookies-modal > div:last-of-type > p{
    font-size:12px;
    margin:0;
    color:gray;
}

#cookies-modal > div:last-of-type > p > span > a{
    font-weight:600;
    color:var(--primary-accent);
}

#cookies-modal > button{
    position:absolute;
    bottom:30px;
    right:30px;
    height:18px;
    width:128px;
    color:white;
    font-size:10px;
    font-weight:700;
    border-radius:6px;
    border:none;
    outline:none;
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
    cursor:pointer;
}

#desktop-wrapper{
    position:absolute;
    top:0;
}

.video-container{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-evenly;
    width:100vw;
    height:100vh;
}

.column-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100vw;
    height:100vh;
}

.video-container > div{
    width:calc(50% - 192px);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    position:relative;
    height:calc(100vh - 256px);
    border-radius:32px;
    gap:16px;
}

@media only screen and (max-width: 1075px) {
    #main-container > h1{
        font-size:32px;
    }

    #navbar-right{
        display:none !important;
    }

    .video-container{
        flex-direction:column;
        height:auto;
        padding:128px 0;
        gap:32px;
        text-align:center;
    }

    .video-container > div{
        align-items:center;
        height:auto;
        width:calc(100vw - 256px);
    }
}