#navbar{
    height:60px;
    background:var(--bg-color-1);
    width:84vw;
    padding:0 8vw;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}

#navbar > div{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    gap:18px;
}

#navbar > div:first-of-type > a > img:first-of-type{
    height:28px;
    margin-right:36px;
}

#navbar > div:first-of-type > h1{
    font-size:20px;
}

.navbar-dropdown{
    display:flex;
    flex-direction:row;
    align-items:center;
    cursor:pointer;
}

.navbar-dropdown > p{
    font-weight:600;
    font-size:13px;
    cursor:pointer;
}

#navbar a{
    font-size:12px;
    color:var(--primary-accent);
    font-weight:600;
    text-decoration:none;
}

.navbar-dropdown > img{
    height:20px;
}

.navbar-dropdown:not(.active-dropdown) > img{
    transform:rotate(90deg);
}

.navbar-dropdown.active-dropdown > img{
    transform:rotate(-90deg);
}

#navbar-prefix{
    display:none;
}