@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --hover-dark:#0f0f0f;
    --dark-gray:#1e1e1e;
    --light-gray:#2c2c2c;
    --bg-color-1:#ffffff;
    --bg-color-2:#f6f7fb;
    --light-border-color:#ebebeb;
    --dark-border-color:#343434;
    --hover-light:#f5f5f5;
    --primary-accent:#fe599d;
    --primary-accent-gradient:#f30096;
    --secondary-accent:#00a8ff;
    --secondary-accent-gradient:#31d6dc;
    --tertiary-accent:#f8680a;
    --tertiary-accent-gradient:#fa8d37;
    /*--tertiary-accent:#00ff6e;
    --tertiary-accent-gradient:#31dc53;*/
    --accent-highlight:#f30096;
    --light-accent:#ffedf6;
}

::selection, ::-moz-selection {
    background: var(--primary-accent);
}

*::-webkit-scrollbar{
    width:8px;
    height:8px;
    background:transparent;
}

*::-webkit-scrollbar-thumb{
    background:var(--dark-border-color);
}

*::-webkit-scrollbar-corner{
    background:transparent;
}

body{
    font-family: 'Montserrat', sans-serif;
    background:var(--bg-color-1);
    overflow:hidden;
    margin:0;
}

body *{
    font-family: 'Montserrat', sans-serif;
    color:var(--text-color);
}

#desktop-wrapper{
    display:flex;
    flex-direction:column;
    width:100vw;
    height:100vh;
    overflow-x:hidden;
    overflow-y:scroll;
}

#desktop-navbar{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    width:calc(100% - 128px);
    padding:24px 72px;
    gap:24px;
}

#desktop-navbar > div{
    display:flex;
    align-items:center;
    gap:30px;
}

#desktop-navbar-left > img{
    height:36px;
}

.desktop-navbar-link{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:6px;
}

.desktop-navbar-link > a{
    text-decoration:none;
    transition-duration:250ms;
    cursor:pointer;
    font-size:14px;
}

.desktop-navbar-link:not(.active-navbar-link) > a{
    color:gray;
    font-weight:600;
}

.desktop-navbar-link:not(.active-navbar-link) > a:hover{
    color:black;
}

#desktop-navbar-right > a{
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
    padding:12px 24px;
    text-decoration:none;
    font-size:14px;
    border-radius:6px;
    transition-duration:500ms;
    cursor:pointer;
    color:white;
}

#desktop-navbar-right > a:hover, #desktop-main-container > a:hover{
    transform:scale(1.025);
    box-shadow:0 0 12px 0 var(--primary-accent);
}

#desktop-navbar-right > a:active, #desktop-main-container > a:active{
    transform:scale(1);
    box-shadow:none;
}

.active-navbar-link{
    border-bottom:3px solid var(--primary-accent);
    padding:6px 0;
}

.active-navbar-link > a{
    color:var(--primary-accent);
    position:relative;
    font-weight:700;
}

#desktop-main-container{
    height:calc(100vh - 84px);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    gap:12px;
}

#desktop-main-container > h1{
    font-size:48px;
    width:65vw;
    margin:0;
    font-weight:700;
}

#desktop-main-container > p{
    color:gray;
    width:50vw;
    font-size:14px;
    font-weight:500;
}

#desktop-main-container > a{
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
    padding:12px 36px;
    text-decoration:none;
    font-size:16px;
    border-radius:12px;
    transition-duration:500ms;
    cursor:pointer;
    color:white;
    margin:12px 0;
}

#desktop-main-container-tags{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    gap:24px;
}

.desktop-main-container-tag{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    gap:12px;
}

.desktop-main-container-tag > img{
    height:18px;
    background:var(--light-accent);
    padding:6px;
    border-radius:6px;
}

.desktop-main-container-tag > p{
    color:black;
    font-weight:500;
    font-size:14px;
}

#circle-one{
    width:60vw;
    height:35vw;
    background:var(--light-accent);
    position:absolute;
    top:-15vw;
    left:-30vw;
    border-radius:50%;
    z-index:-1;
}

#circle-two{
    width:45vw;
    height:50vw;
    background:var(--light-accent);
    position:absolute;
    top:calc(100vh - 25vw);
    right:-22.5vw;
    border-radius:50%;
    z-index:-1;
}