body{
    font-family: 'Montserrat', sans-serif;
    background:var(--bg-color-1);
    overflow-x:hidden;
    overflow-y:scroll;
    margin:0;
}

body *{
    font-family: 'Montserrat', sans-serif;
}

#banner-container{
    width:100vw;
    height:320px;
    margin-top:56px;
    position:relative;
}

#banner-container > div{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;

}

#banner-container > div:first-of-type{
    background:var(--primary-accent);
    filter:brightness(2);
}

#banner-container > div:last-of-type{
    background-image:url("./images/patterns_primary.png");
    background-size:auto 400px;
}

#main-container{
    width:100vw;
    padding:96px 0;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:18px;
}

#main-container > *{
    max-width:50vw;
    text-align:center;
}

#main-container > h1{
    margin:0;
    font-size:72px;
    color:#1f1f1f;
    /*animation-name:spark;
    animation-iteration-count: infinite;
    animation-duration:5s;*/
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:18px;
}

#main-container > h1 > span{
    font-size:24px;
    font-weight:800;
    font-family:"Inter", sans-serif;
}

#main-container > p{
    font-size:14px;
    margin: 0 0 36px;
}

#main-container > a{
    padding:12px 24px;
    border-radius:12px;
    text-transform:uppercase;
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
    font-weight:500;
    color:white;
    text-decoration:none;
    border:none;
    font-size:16px;
    transition-duration:250ms;
}

#main-container > a:hover{
    filter:brightness(1.25);
}

#services-container{
    display:flex;
    flex-direction:column;
    width:calc(100vw - 256px);
    align-items:center;
    justify-content:center;
    padding:128px 128px;
    gap:16px;
    background:var(--primary-light);
}

#services-container > h1{
    max-width:36vw;
    text-align:center;
    font-size:32px;
    margin:0;
}

#services-container > p{
    margin:0;
    font-size:14px;
    color:gray;
    width:36vw;
    text-align:center;
}

#services-container-list{
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:center;
    flex-wrap:wrap;
    gap:24px;
    margin-top:48px;
}

#services-container-list > div{
    position:relative;
    border-radius:24px;
    border:1px solid var(--light-border-color);
    padding: 192px 24px 24px;
    overflow:hidden;
    width:256px;
    display:flex;
    flex-direction:column;
    box-shadow:0 0 16px -10px gray;
    transition-duration:250ms;
    background:var(--bg-color-1);
    gap:12px;
}

#services-container-list > div:hover{
    box-shadow:0 0 32px -10px gray;
    transform:scale(1.05);
    cursor:default;
}

#services-container-list > div > img{
    position:absolute;
    top:0;
    right:0;
    height:256px;
}

#services-container-list > div > div:first-of-type{
    width:64px;
    height:64px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    border-radius:16px;
}

#services-container-list > div > div:first-of-type > img{
    height:32px;
}

#services-container-list > div > h1{
    font-size:18px;
    margin:0;
}

#services-container-list > div > p{
    font-size:13px;
    margin:0;
    color:gray;
}

#services-container-list > div > a{
    font-weight:700;
    font-size:14px;
    text-decoration:none;
    display:flex;
    flex-direction:row;
    align-items:center;
}

#services-container-list > div > a > span > img{
    height:24px;
}

.video-container > div > img{
    width:100%;
    border-radius:32px;
}

.video-container > div > h1{
    margin:0;
    font-size:32px;
}

.video-container > div > p{
    margin:0;
    font-size:14px;
    color:gray;
}

.video-container > div > div{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
    gap:18px;
}

.video-container > div > div > div{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    /*background:var(--bg-color-1);
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));*/
    padding:0 24px;
    border-radius:24px;
    gap:16px;
}

.video-container > div > div > div > h1{
    margin:0;
    font-size:16px;
    color:black;
    font-weight:700;
}

.video-container > div > div > div > div{
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
    width:30px;
    height:30px;
    border-radius:18px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

.video-container > div > div > div > div > img{
    height:18px;
    filter:invert(1);
}

#testimonies{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:16px;
    padding:128px 64px;
    width:calc(100vw - 128px);
    background:var(--primary-light);
}

#testimonies > h1{
    font-size:32px;
    margin:0;
    text-align:center;
    max-width:36vw;
}

#testimonies > p{
    font-size:14px;
    margin:0;
    text-align:center;
    color:gray;
    max-width:36vw;
}

#testimonies > div{
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:center;
    flex-wrap:wrap;
    gap:24px;
    margin-top:48px;
}

#testimonies > div > div{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
    gap:6px;
    width:272px;
    padding:32px;
    border-radius:12px;
    box-shadow:0 0 16px -10px gray;
    background:var(--bg-color-1);
}

#testimonies > div > div > div:first-of-type{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    width:100%;
    margin-bottom:18px;
}

#testimonies > div > div > div:first-of-type > img{
    height:28px;
    filter:invert(0.5);
}

#testimonies > div > div > div:first-of-type > div{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:6px;
    padding:0 18px;
    height:30px;
    background:var(--primary-light);
    border-radius:15px;
}

#testimonies > div > div > div:first-of-type > div > p{
    color:var(--primary-accent);
    font-weight:700;
    font-size:18px;
    margin:0;
}

#testimonies > div > div > div:first-of-type > div > img{
    height:18px;
}

#testimonies > div > div > h1{
    font-size:18px;
    margin:0;
}

#testimonies > div > div > p{
    font-size:13px;
    margin:0;
    color:gray;
    display: -webkit-box;
    -webkit-line-clamp: 9   ;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#testimonies > div > div > div:nth-of-type(2){
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;
    gap:12px;
    margin-top:32px;
}

#testimonies > div > div > div:nth-of-type(2) > img{
    height:32px;
}

#testimonies > div > div > div:nth-of-type(2) > div{
    display:flex;
    flex-direction:column;
}

#testimonies > div > div > div:nth-of-type(2) > div > h1{
    font-size:14px;
    margin:0;
}

#testimonies > div > div > div:nth-of-type(2) > div > p{
    font-size:12px;
    color:gray;
    margin:0;
}

@media only screen and (max-width: 1075px) {
    #main-container > h1{
        font-size:32px;
    }

    #navbar-right{
        display:none !important;
    }

    .video-container{
        flex-direction:column;
        height:auto;
        padding:64px 0;
        gap:32px;
        text-align:center;
    }

    .video-container > div{
        align-items:center;
        height:auto;
        width:85vw;
    }
}