@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --hover-dark:#0f0f0f;
    --dark-gray:#1e1e1e;
    --light-gray:#2c2c2c;
    --bg-color-1:#ffffff;
    --bg-color-2:#f6f7fb;
    --light-border-color:#ebebeb;
    --dark-border-color:#343434;
    --hover-light:#f5f5f5;
    --primary-accent:#fe599d;
    --primary-accent-gradient:#f30096;
    --secondary-accent:#00a8ff;
    --secondary-accent-gradient:#31d6dc;
    --tertiary-accent:#f8680a;
    --tertiary-accent-gradient:#fa8d37;
    /*--tertiary-accent:#00ff6e;
    --tertiary-accent-gradient:#31dc53;*/
    --accent-highlight:#f30096;
    --light-accent:#ffedf6;
}

::selection, ::-moz-selection {
    background: var(--primary-accent);
}

*::-webkit-scrollbar{
    width:8px;
    height:8px;
    background:var(--light-gray);
}

*::-webkit-scrollbar-thumb{
    background:var(--dark-border-color);
}

*::-webkit-scrollbar-corner{
    background:transparent;
}

body{
    font-family: 'Montserrat', sans-serif;
    background:var(--bg-color-1);
    overflow-x:hidden;
    overflow-y:scroll;
    margin:0;
}

body *{
    font-family: 'Montserrat', sans-serif;
    color:var(--text-color);
}

#main-wrapper{
    display:flex;
    flex-direction:column;
    width:100vw;
}

#main-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
    width:100vw;
    height:512px;
    padding:64px 0;
    gap:24px;
}

#main-container > *{
    color:white;
    text-align:center;
}

#main-container > h1{
    width:50%;
    font-size:36px;
    margin:0;
}

#main-container > p{
    font-weight:500;
    width:40%;
    margin:0;
}

#main-container > a{
    text-decoration:none;
    background:var(--light-gray);
    border:1px solid var(--dark-border-color);
    padding:12px 48px;
    border-radius:12px;
    font-weight:700;
}

#dashboard-img{
    width:75vw;
    height:75vh;
    background:white;
    border-radius:12px;
    position:absolute;
    /*box-shadow:0 0 24px 0 var(--light-border-color);*/
    top:364px;
    overflow:hidden;
}

#dashboard-navbar{
    height:36px;
    width:100%;
    background:var(--dark-gray);
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;
    position:relative;
}

#dashboard-left{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

#dashboard-left > img{
    height:20px;
    margin-right:8px;
    margin-left:8px;
}

#dashboard-search{
    width:256px;
    height:18px;
    border-radius:6px;
    background:var(--dark-border-color);
}

#dashboard-right{
    position:absolute;
    right:0;
}

#dashboard-profile{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:6px;
    margin-right:12px;
}

#dashboard-profile-text{
    display:flex;
    flex-direction:column;
    gap:4px;
}

#dashboard-profile > div:first-of-type{
    width:18px;
    height:18px;
    background:var(--dark-border-color);
    border-radius:50%;
}

#dashboard-profile-text > div:first-of-type{
    width:128px;
    height:10px;
    background:var(--dark-border-color);
    border-radius:5px;
}

#dashboard-profile-text > div:last-of-type{
    width:96px;
    height:4px;
    background:var(--dark-border-color);
    border-radius:2px;
}

#dashboard-parent-container{
    display:flex;
    flex-direction:row;
    width:100%;
    height:calc(100% - 36px);
}

#dashboard-sidebar{
    width:200px;
    height:calc(100% - 24px);
    background:var(--bg-color-2);
    border-right:1px solid var(--light-border-color);
    display:flex;
    flex-direction:column;
    padding:12px;
    gap:12px;
}

.dashboard-sidebar-item{
    display:flex;
    flex-direction:row;
    gap:6px;
}

.dashboard-sidebar-item > div:first-of-type{
    height:18px;
    width:18px;
    background:var(--light-border-color);
    border-radius:50%;
}

.dashboard-sidebar-item > div:last-of-type{
    height:18px;
    width:calc(100% - 24px);
    background:var(--light-border-color);
    border-radius:9px;
}

#dashboard-main-container{
    display:flex;
    flex-direction:column;
    padding:18px;
    width:calc(100% - 260px);
}

#dashboard-main-buttons{
    display:flex;
    flex-direction:row;
    gap:12px;
}

#dashboard-main-buttons > div{
    border:1px solid var(--light-border-color);
    width:200px;
    height:56px;
    border-radius:6px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    gap:6px;
}

#dashboard-main-buttons > div > div:first-of-type{
    width:32px;
    height:32px;
    background:var(--light-border-color);
    border-radius:50%;
}

#dashboard-main-buttons > div > div:last-of-type{
    display:flex;
    flex-direction:column;
    gap:4px;
}

#dashboard-main-buttons > div > div:last-of-type > div:first-of-type{
    height:20px;
    width:128px;
    background:var(--light-border-color);
    border-radius:4px;
}

#dashboard-main-buttons > div > div:last-of-type > div:last-of-type{
    height:8px;
    width:128px;
    background:var(--light-border-color);
    border-radius:4px;
}

#dashboard-sort-text{
    width:512px;
    height:12px;
    background:var(--light-border-color);
    border-radius:6px;
    margin-top:18px;
    margin-bottom:12px;
}

#dashboard-flashcards{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap:6px;
}

#dashboard-flashcards > div{
    padding:12px 8px;
    border:1px solid var(--light-border-color);
    border-radius:6px;
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:6px;
}

#dashboard-flashcards > div > div:first-of-type{
    width:24px;
    height:24px;
    background:var(--light-border-color);
    border-radius:50%;
}

#dashboard-flashcards > div > div:nth-of-type(2){
    display:flex;
    flex-direction:column;
    gap:4px;
}

#dashboard-flashcards > div > div:nth-of-type(2) > div:first-of-type{
    width:96px;
    height:14px;
    background:var(--light-border-color);
    border-radius:7px;
}

#dashboard-flashcards > div > div:nth-of-type(2) > div:last-of-type{
    width:64px;
    height:6px;
    background:var(--light-border-color);
    border-radius:3px;
}

#dashboard-flashcards > div > div:nth-of-type(3){
    width:48px;
    height:14px;
    background:var(--light-border-color);
    border-radius:4px;
}

#dashboard-flashcards > div > div:last-of-type{
    margin-left:12px;
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:4px;
}

#dashboard-flashcards > div > div:last-of-type > div{
    background:var(--light-border-color);
    width:14px;
    height:14px;
    border-radius:50%;
}