#desktop-sidebar{
    width:calc(var(--size) * 256px);
    border-right:1px solid var(--light-border-color);
    height:calc(100vh - var(--size) * 72px);
    background:transparent;
    background:var(--bg-color-1);
    padding:calc(var(--size) * 12px) 0;
}

.desktop-sidebar-category, .desktop-sidebar-folder{
    width:calc(var(--size) * 256px);
    display:flex;
    align-items:center;
    padding:calc(var(--size) * 6px) 0;
    transition-duration:250ms;
    cursor:pointer;
}

.desktop-sidebar-category:not(.active-sidebar-category):not(.unavailable-sidebar-category):hover, .desktop-sidebar-folder:not(.active-sidebar-category):hover {
    background:var(--hover-light)
}

.unavailable-sidebar-category{
    background:var(--light-border-color);
    color:gray;
}

.unavailable-sidebar-category > div > img{
    filter:invert(0.5);
}

.desktop-sidebar-category > div, .desktop-sidebar-folder > div{
    width:calc(var(--size) * 48px);
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.desktop-sidebar-category > div > img, .desktop-sidebar-folder > div > img{
    height:calc(var(--size) * 18px);
    filter:invert(1) brightness(var(--image-invert));
}

.desktop-sidebar-category > p, .desktop-sidebar-folder > p{
    margin:0;
    font-size:calc(var(--size) * 12px);
    font-weight:400;
    cursor:pointer;
}

.desktop-sidebar-break{
    height:1px;
    width:calc(var(--size) * 220px);
    background:var(--light-border-color);
    margin:calc(var(--size) * 12px) calc(var(--size) * 18px);
}

#desktop-sidebar-categories > h1{
    font-size:calc(var(--size) * 12px);
    font-weight:700;
    margin: 0 0 calc(var(--size) * 6px) calc(var(--size) * 18px);
}

.active-sidebar-category{
    background:var(--light-accent);
}

#desktop-main-container{
    width:calc(100vw - calc(var(--size) * 256px));
    height:calc(100vh - calc(var(--size) * 48px));
}

#desktop-main-container-tab{
    font-size:calc(var(--size) * 12px);
    width:calc(100% - var(--size) * 48px);
    padding:calc(var(--size) * 14px) calc(var(--size) * 24px);
    font-weight:600;
    border-bottom:1px solid var(--light-border-color);
    margin:0;
    position:absolute;
    top:0;
}

.bottom-btns{
    position:absolute;
    display:flex;
    flex-direction:row;
    align-items:center;
    bottom:calc(var(--size) * 12px);
    right:calc(var(--size) * 12px);
    gap:calc(var(--size) * 6px);
    z-index:2;
}

.bottom-btns > a, .bottom-btns > div{
    width:calc(var(--size) * 36px);
    height:calc(var(--size) * 36px);
    background:var(--dark-gray);
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    cursor:pointer;
    transition-duration:250ms;
}

.bottom-btns > a:hover, .bottom-btns > div:hover{
    box-shadow:0 0 calc(var(--size) * 6px) 0 var(--dark-gray);
}

.bottom-btns > a > img, .bottom-btns > div > img{
    height:calc(var(--size) * 20px);
    filter:invert(1);
}

.desktop-tab:not(.active-tab){
    visibility:hidden;
    opacity:0;
}

.active-tab{
    opacity:1;
    visibility:visible;
}

#desktop-main-tabs{
    width:100%;
}

.desktop-tab{
    transition-duration:250ms;
    transition-property:opacity;
    position:absolute;
    top:calc(var(--size) * 44px);
    left:calc(var(--size) * 256px);
    width:calc(100vw - var(--size) * 256px);
    height:calc(100vh - var(--size) * 92px)
}