#flashcards-tab{
    overflow-y:scroll;
    overflow-x:hidden;
}

#flashcards-main-options, #folder-main-options{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;
    flex-wrap:wrap;
    gap:calc(var(--size) * 24px);
    margin:calc(var(--size) * 24px);
    width:calc(100vw - calc(var(--size) * 304px));
}

#flashcards-main-options > div, #folder-main-options > div{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    border:1px solid var(--light-border-color);
    gap:calc(var(--size) * 18px);
    padding:calc(var(--size) * 24px);
    border-radius:calc(var(--size) * 6px);
    background:var(--bg-color-1);
    transition-duration:250ms;
    cursor:pointer;
}

/*#flashcards-main-options > div:nth-of-type(1):hover{
    border:1px solid var(--primary-accent);
}

#flashcards-main-options > div:nth-of-type(2):hover{
    border:1px solid var(--secondary-accent);
}*/

#flashcards-main-options > div:hover, #folder-main-options > div:hover{
    border:1px solid var(--primary-accent);
}

#flashcards-main-options > div > img:first-of-type, #folder-main-options > div > img:first-of-type{
    height:calc(var(--size) * 30px);
    filter:invert(1) brightness(var(--image-invert));
}

#flashcards-main-options > div > div > h1, #folder-main-options > div > div > h1{
    font-size:calc(var(--size) * 14px);
    font-weight:600;
    margin:0;
    cursor:pointer;
}

#flashcards-main-options > div > div > p, #folder-main-options > div > div > p{
    font-size:calc(var(--size) * 12px);
    margin:0;
    color:gray;
    cursor:pointer;
}

#flashcards-main-options > div > img:last-of-type, #folder-main-options > div > img:last-of-type{
    height:calc(var(--size) * 18px);
    margin-left:calc(var(--size) * 18px);
    filter:invert(1) brightness(var(--image-invert));
}

#flashcards-sorting{
    display:flex;
    flex-direction:row;
    margin-left:calc(var(--size) * 24px);
    gap:calc(var(--size) * 12px);
}

#folder-main-container{
    margin-left:calc(var(--size) * 24px);
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}

.flashcard-sorting{
    display:flex;
    flex-direction:row;
    align-items:center;
}

.flashcard-sorting > p, #search-results-main > p{
    font-size:calc(var(--size) * 12px);
    color:gray;
    margin:0;
}

.flashcard-sorting > select{
    outline:none;
    border:none;
    background:transparent;
    color:var(--text-color);
    font-size:calc(var(--size) * 12px);
    font-weight:400;
}

#flashcards-list-container{
    margin-left:calc(var(--size) * 24px);
    margin-top:calc(var(--size) * 12px);
    position:relative;
}

#no-flashcards:not(.inactive-modal){
    width:calc(100vw - var(--size) * 306px);
    height:calc(100vh - var(--size) * 300px);
    border-radius:calc(var(--size) * 12px);
    border:calc(var(--size) * 2px) dashed gray;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    position:absolute;
    top:0;
    cursor:pointer;
}

#no-flashcards > p{
    font-size:calc(var(--size) * 12px);
    color:gray;
    margin:0;
    font-weight:400;
    transition-duration:250ms;
}

#no-flashcards:hover > p{
    font-size:calc(var(--size) * 14px);
}

#show-more-btn{
    height:calc(var(--size) * 36px);
    width:calc(var(--size) * 481px);
    position:absolute;
    z-index:2;
    bottom:0;
    left:0;
    color:white;
    text-transform:uppercase;
    letter-spacing:1px;
    font-size:calc(var(--size) * 14px);
    background:var(--light-gray);
    border:none;
    outline:none;
    border-radius:calc(var(--size) * 12px);
    transition-duration:250ms;
    cursor:pointer;
}

#show-more-btn:hover{
    box-shadow:0 0 calc(var(--size) * 6px) 0 var(--light-gray);
}

#show-more-btn:active{
    box-shadow:none;
}

#flashcards-list, #folder-flashcard-display{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap:calc(var(--size) * 12px);
    padding-bottom:calc(var(--size) * 48px);
    position:relative;
}

#folder-flashcard-display{
    margin-top:calc(var(--size) * 12px);
}

#flashcards-display-test{
    width:auto;
    position:absolute;
    font-size:calc(var(--size) * 14px);
    font-weight:700;
    z-index:20;

}

.flashcard-deck{
    display:flex;
    align-items:center;
    background:var(--bg-color-1);
    padding:calc(var(--size) * 12px) calc(var(--size) * 18px);
    border:1px solid var(--light-border-color);
    border-radius:calc(var(--size) * 6px);
    gap:calc(var(--size) * 18px);
    position:relative;
    width:calc(var(--size) * 445px);
    transition-duration:250ms;
    cursor:pointer;
}

.personal-flashcard-border:hover{
    border:1px solid var(--primary-accent);
}

.community-flashcard-border:hover{
    border:1px solid var(--secondary-accent);
}

.shared-flashcard-border:hover{
    border:1px solid var(--tertiary-accent);
}

.flashcard-deck:hover{
    /*box-shadow:0 0 calc(var(--size) * 16px) 0 var(--hover-light);
    transform:scale(1.025);*/
}

.flashcard-deck > div:first-of-type{
    padding:calc(var(--size) * 6px);
    border-radius:50%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    width:calc(var(--size) * 30px);
    height:calc(var(--size) * 30px);
    border:1px solid var(--light-border-color);
    /*box-shadow:inset 0 0 calc(var(--size) * 4px) 0 var(--light-gray);*/
}

.flashcard-deck > div:first-of-type > img:first-of-type{
    height:calc(var(--size) * 24px);
}

.flashcard-deck:not(.user-flashcard) > div:first-of-type > img:first-of-type{
    filter:invert(1);
}

.flashcard-deck > div:nth-of-type(2){
    display:flex;
    flex-direction:column;
}

.flashcard-deck > div:nth-of-type(2) > h1{
    font-size:calc(var(--size) * 14px);
    margin:0;
}

.flashcard-deck > div:nth-of-type(2) > div{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:calc(var(--size) * 6px);
}

.flashcard-deck > div:nth-of-type(2) > div > img{
    height:calc(var(--size) * 14px);
}

.flashcard-deck > div:nth-of-type(2) > div > p{
    font-size:calc(var(--size) * 12px);
    font-weight:400;
    color:gray;
    margin:0;
}

.flashcard-deck > p{
    text-transform:uppercase;
    font-size:calc(var(--size) * 12px);
    padding:calc(var(--size) * 6px) calc(var(--size) * 12px);
    color:white;
    font-weight:500;
    border-radius:calc(var(--size) * 6px);
    text-shadow:0 0 calc(var(--size) * 2px) black;
}

.community-flashcard{
    background:linear-gradient(135deg, var(--secondary-accent), var(--secondary-accent-gradient));
}

.shared-flashcard{
    /*background:linear-gradient(135deg, var(--secondary-accent), var(--secondary-accent-gradient));*/
    background:linear-gradient(135deg, var(--tertiary-accent), var(--tertiary-accent-gradient));
}

.personal-flashcard{
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
}

.flashcard-deck > div:last-of-type{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:calc(var(--size) * 4px);
    position:absolute;
    right:calc(var(--size) * 18px);
}

.flashcard-deck > div:last-of-type > img, .flashcard-deck > div:last-of-type > div > img{
    height:calc(var(--size) * 18px);
    filter:invert(var(--image-invert));
    transition-duration:250ms;
    cursor:pointer;
}

.flashcard-deck > div:last-of-type > img:hover, .flashcard-deck > div:last-of-type > div > img:hover{
    transform:scale(1.1);
}

.flashcard-deck > div:last-of-type > div{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    position:relative;
}

.flashcard-deck > div:last-of-type > div > div{
    position:absolute;
    bottom:calc(var(--size) * 24px);
    background:var(--light-gray);
    padding:calc(var(--size) * 6px) calc(var(--size) * 24px);
    font-size:calc(var(--size) * 12px);
    border-radius:6px;
    border:1px solid var(--dark-border-color);
    transition-duration:250ms;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    transition-delay:0ms;
    opacity:0;
    visibility:hidden;
    color:white;
    z-index:3;
}

.flashcard-deck > div:last-of-type > div > img:hover ~ div{
    visibility:visible;
    transition-delay:500ms;
    opacity:1;
}

.flashcard-deck > div:last-of-type > div > div::after{
    content:'';
    position:absolute;
    top:calc(var(--size) * 27px);
    z-index:2;
    width: 0;
    height: 0;
    border-left: calc(var(--size) * 8px) solid transparent;
    border-right: calc(var(--size) * 8px) solid transparent;
    border-top: calc(var(--size) * 6px) solid var(--light-gray);
}

#flashcards-viewer-main{
    display:flex;
    flex-direction:row;
    align-items:center;
    margin: calc(var(--size) * 24px) 0 0 calc(var(--size) * 24px);
}

#flashcard-main-view{
    background:var(--bg-color-1);
    width:calc(100vw - var(--size) * 640px);
    height:calc(9 * (100vw - var(--size) * 640px) / 16);
    display:flex;
    flex-direction:row;
    border-radius:calc(var(--size) * 18px);
    border:1px solid var(--light-border-color);
    overflow:hidden;
}

#flashcard-stripe{
    width:calc(var(--size) * 32px);
    border-right:1px solid var(--light-border-color);
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
}

#flashcard-stripe > p{
    transform:rotate(-90deg);
    text-transform:uppercase;
    color:white;
    font-size:calc(var(--size) * 14px);
    margin-top:calc(var(--size) * 72px);
    text-shadow:0 0 calc(var(--size) * 2px) black;
    width:calc(var(--size) * 128px);
    text-align:right;
}

#flashcard-main{
    display:flex;
    flex-direction:column;
    position:relative;
    width:calc(100% - var(--size) * 33px);
}

#flashcard-options{
    width:100%;
    position:absolute;
    bottom:calc(var(--size) * 4px);
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    /*background:var(--hover-light);
    border-top:1px solid var(--light-border-color);*/
}

.flashcard-option{
    cursor:pointer;
}

.flashcard-option:first-of-type{
    position:absolute;
    left:calc(var(--size) * 12px);
}

.flashcard-option:last-of-type{
    position:absolute;
    right:calc(var(--size) * 12px);
}

.flashcard-option > img{
    height:calc(var(--size) * 24px);
    filter:invert(0.5);
}

#flashcard-text{
    width:90%;
    margin-left:5%;
    height:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    font-weight:800;
    font-size:calc(3.75vw);
    text-align:center;
}

#flashcard-actions{
    margin-left:calc(var(--size) * 24px);
    width:calc(var(--size) * 308px);
    display:flex;
    flex-direction:column;
    gap:calc(var(--size) * 12px);
}

.flashcard-action{
    display:flex;
    width:calc(100% - var(--size) * 24px);
    padding:calc(var(--size) * 12px);
    border:1px solid var(--light-border-color);
    background:var(--bg-color-1);
    align-items:center;
    gap:calc(var(--size) * 12px);
    border-radius:calc(var(--size) * 12px);
    transition-duration:125ms;
    cursor:pointer;
}

.flashcard-action:hover{
    transform:scale(1.025);
}

.flashcard-action > img{
    height:calc(var(--size) * 30px);
    filter:invert(var(--image-invert));
}

.flashcard-action > div > h1{
    margin:0;
    font-size:calc(var(--size) * 16px);
}

.flashcard-action > div > p{
    margin:0;
    font-size:calc(var(--size) * 12px);
}

#flashcards-information-editor {
    border-left:1px solid var(--light-border-color);
    width:calc(var(--size) * 250px);
    position:absolute;
    right:0;
    padding:calc(var(--size) * 24px) 0;
    height:calc(100% - calc(var(--size) * 48px));
    display:flex;
    flex-direction:column;
    align-items:center;
}

/*#flashcards-information-editor > div:first-of-type {
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
    width:calc(var(--size) * 125px);
    height:calc(var(--size) * 125px);
    border-radius:50%;
    box-shadow:0 0 calc(var(--size) * 12px) 0 var(--light-gray);
    margin-bottom:calc(var(--size) * 12px);
    border:1px solid gray;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

#flashcards-information-editor > div:first-of-type > div{
    width:calc(var(--size) * 100px);
    height:calc(var(--size) * 100px);
    background:var(--bg-color-1);
    border-radius:50%;
    box-shadow:inset 0 0 calc(var(--size) * 6px) 0 var(--light-gray);
    border:1px solid gray;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

#flashcards-information-editor > div:first-of-type > div > img{
    width:calc(var(--size) * 60px);
    filter:invert(calc(var(--image-invert) * 0.5 + 0.25));
}*/

#flashcards-information-editor > h1{
    text-align:center;
    margin: 0 0 calc(var(--size) * 2px);
    font-size:calc(var(--size) * 14px);
    width:calc(var(--size) * 200px);
}

#flashcards-information-editor > p{
    text-align:center;
    font-size:calc(var(--size) * 12px);
    color:gray;
    margin:0;
    width:calc(var(--size) * 200px);
}

#flashcards-information-buttons{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:calc(var(--size) * 6px);
    position:absolute;
    bottom:calc(var(--size) * 24px);
}

#flashcards-information-buttons > button{
    width:calc(var(--size) * 200px);
    font-size:calc(var(--size) * 12px);
    font-weight:600;
    text-transform:uppercase;
    height:calc(var(--size) * 28px);
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    border-radius:calc(var(--size) * 8px);
    transition-duration:250ms;
    border:none;
    color:white;
    cursor:pointer
}

#flashcards-information-buttons > button:hover{
    transform:scale(1.025);
    box-shadow:0 0 calc(var(--size) * 6px) 0 var(--dark-gray);
}

#flashcards-information-buttons > button:active{
    transform:none;
    box-shadow:none;
}

#flashcards-information-buttons > button:first-of-type{
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
}

#flashcards-information-buttons > button:nth-of-type(2){
    background:var(--dark-gray)
}

.flashcards-information-input{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    width:calc(var(--size) * 200px);
    margin-top:calc(var(--size) * 12px);
    position:relative;
}

.flashcards-information-input > input{
    height:calc(var(--size) * 24px);
    width:100%;
    border:1px solid var(--light-border-color);
    background:var(--bg-color-1);
    border-radius:calc(var(--size) * 6px);
    padding-left:calc(var(--size) * 26px);
    color:gray;
    font-size:calc(var(--size) * 13px);
    outline:none;
}

.flashcards-information-input > img{
    position:absolute;
    height:calc(var(--size) * 18px);
    left:calc(var(--size) * 5px);
    filter:invert(0.5);
}

.flashcards-information-dropdown {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    width:calc(var(--size) * 200px);
    margin-top:calc(var(--size) * 12px);
    position:relative;
}

#flashcards-main-editor{
    width:calc(100% - 250px);
    display:flex;
    flex-direction:column;
    align-items:center;
    height:100%;
}

#flashcards-main-editor-tools{
    height:calc(var(--size) * 24px);
    padding:calc(var(--size) * 6px) calc(var(--size) * 24px);
    width:calc(100% - var(--size) * 48px);
    border-bottom:1px solid var(--light-border-color);
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;
    gap:calc(var(--size) * 6px);
}

#flashcards-main-editor-tools > button{
    font-size:calc(var(--size) * 10px);
    padding:calc(var(--size) * 3px) calc(var(--size) * 12px);
    color:white;
    background:var(--light-gray);
    border:1px solid var(--dark-border-color);
    border-radius:calc(var(--size) * 8px);
    cursor:pointer;
    transition-duration:125ms;
}

#flashcards-main-editor-tools > button:hover{
    transform:scale(1.025);
}

#flashcards-main-editor-tools > img{
    height:calc(var(--size) * 14px);
    cursor:pointer;
    background:white;
    filter:invert(1);
    padding:calc(var(--size) * 6px);
    border-radius:50%;
}

#flashcards-editor{
    display:flex;
}

#flashcard-editor-cards{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    flex-shrink:0;
    overflow-y: scroll;
    overflow-x:hidden;
    height:calc(100% - var(--size) * 85px);
    align-items:center;
    gap:calc(var(--size) * 24px);
    padding:calc(var(--size) * 24px) 0;
}

.editor-card{
    width:calc(100% - var(--size) * 48px);
    /*min-height:calc(var(--size) * 124px);*/
    background:var(--bg-color-1);
    border:1px solid var(--light-border-color);
    border-radius:calc(var(--size) * 6px);
    display:flex;
    flex-direction:column;
    align-items:center;
}

.editor-card > p{
    margin:0;
    width:calc(100% - var(--size) * 12px);
    background:var(--dark-border-color);
    font-size:calc(var(--size) * 16px);
    font-weight:700;
    padding: calc(var(--size) * 4px) 0 calc(var(--size) * 4px) calc(var(--size) * 12px);
    border-top-left-radius:calc(var(--size) * 6px);
    border-top-right-radius:calc(var(--size) * 6px);
    color:white;
}

.editor-card > div{
    width:100%;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.editor-card > div > div{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:calc(50% - 50px);
    gap:calc(var(--size) * 12px);
    padding:calc(var(--size) * 24px) 0;
}

.editor-card input, .editor-card button{
    width:calc(100% - var(--size) * 12px);
    padding:calc(var(--size) * 6px) calc(var(--size) * 12px);
    font-size:calc(var(--size) * 12px);
    border-radius:calc(var(--size) * 6px);
    outline:none;
}

.editor-card input{
    border:1px solid var(--light-border-color);
    background:var(--bg-color-2);
}

.editor-card button{
    border:none;
    cursor:pointer;
    color:white;
    background:var(--dark-border-color);
    width:calc(100% + var(--size) * 14px);
    font-weight:700;
    text-transform: uppercase;
    transition-duration:125ms;
}

.editor-card button:hover{
    background:var(--primary-accent);
    transform:scale(1.01);
}

#editor-add-card{
    border:calc(var(--size) * 2px) dashed lightgray;
    border-radius:calc(var(--size) * 6px);
    cursor:pointer;
    width:calc(100% - var(--size) * 48px);
    min-height:calc(var(--size) * 196px);
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    color:lightgray;
    font-weight:400;
    font-size:calc(var(--size) * 16px);
    transition-duration:125ms;
}

#editor-add-card:hover{
    transform:scale(1.01);
}