#desktop-main-container{
    width:calc(100vw - calc(var(--size) * 256px));
    height:calc(100vh - calc(var(--size) * 48px));
}

#desktop-bottom-buttons{
    position:absolute;
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:calc(var(--size) * 12px);
    bottom:calc(var(--size) * 12px);
    right:calc(var(--size) * 12px);
}

.desktop-bottom-btn{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    background:var(--dark-gray);
    width:calc(var(--size) * 36px);
    height:calc(var(--size) * 36px);
    border-radius:50%;
    cursor:pointer;
    transition-duration:250ms;
}

.desktop-bottom-btn:not(.inactive-modal){
    opacity:1;
    visibility:visible;
}

.desktop-bottom-btn > img{
    height:calc(var(--size) * 20px);
    filter:invert(1);
}

.desktop-bottom-btn:hover{
    box-shadow:0 0 calc(var(--size) * 6px) 0 var(--dark-gray);
}

#desktop-main-container-tab{
    font-size:calc(var(--size) * 12px);
    width:calc(100% - var(--size) * 48px);
    padding:calc(var(--size) * 14px) calc(var(--size) * 24px);
    font-weight:600;
    border-bottom:1px solid var(--light-border-color);
    margin:0;
    position:absolute;
    top:0;
}

#desktop-answers-dashboard{
    position:absolute;
    top:calc(var(--size) * 44px);
    left:calc(var(--size) * 256px);
    width:calc(100vw - var(--size) * 256px);
    height:calc(100vh - var(--size) * 92px);
    overflow-y:scroll !important;
    overflow-x:hidden;
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:flex-start;
}

#desktop-answers-main{
    width:calc(100% - var(--size) * 328px);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    gap:calc(var(--size) * 24px);
    padding: calc(var(--size) * 24px) calc(var(--size) * 12px) calc(var(--size) * 24px) calc(var(--size) * 24px);
}

#desktop-answers-sidebar{
    width:calc(var(--size) * 256px);
    height:calc(100% - var(--size) * 48px);
    padding: calc(var(--size) * 24px) calc(var(--size) * 24px) calc(var(--size) * 24px) calc(var(--size) * 12px);
    position:sticky;
    top:0;
}

#ask-new-btn{
    background:var(--bg-color-1);
    cursor:pointer;
    border-radius:calc(var(--size) * 6px);
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    height:calc(var(--size) * 48px);
    gap:calc(var(--size) * 6px);
    transition-duration:250ms;
    border:1px solid var(--light-border-color);
}

#ask-new-btn:hover{
    transform:scale(1.025);
}

#ask-new-btn:active{
    transform:none;
}

#ask-new-btn > img{
    height:calc(var(--size) * 16px);
}

#ask-new-btn > p{
    margin:0;
    font-size:calc(var(--size) * 12px);
    font-weight:500;
}

#desktop-answers-main > div{
    width:calc(100% - var(--size) * 2px);
    border:1px solid var(--light-border-color);
    background:var(--bg-color-1);
    border-radius:calc(var(--size) * 6px);
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:flex-start;
}

#desktop-answers-main > div > div:first-of-type{
    width:calc(var(--size) * 64px);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    padding:calc(var(--size) * 24px) 0;
    gap:calc(var(--size) * 6px);
}

#desktop-answers-main > div > div:first-of-type > img{
    width:calc(var(--size) * 24px);
    filter:invert(0.5);
    cursor:pointer;
    transition-duration:250ms;
}

#desktop-answers-main > div > div:first-of-type > img:hover{
    transform:scale(1.05);
}

#desktop-answers-main > div > div:first-of-type > p{
    font-size:calc(var(--size) * 12px);
    font-weight:500;
    color:gray;
    margin:0;
}

#desktop-answers-main > div > div:last-of-type{
    padding:calc(var(--size) * 24px);
    width:calc(100% - var(--size) * 113px);
    border-left:1px solid var(--light-border-color);
}

#desktop-answers-main > div > div:last-of-type > h1{
    margin:0;
    font-size:calc(var(--size) * 24px);
}

#desktop-answers-main > div > div:last-of-type > p{
    color:gray;
    font-size:calc(var(--size) * 12px);
}

#desktop-answers-main > div > div:last-of-type > div:first-of-type{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;
    gap:calc(var(--size) * 12px);
}

#desktop-answers-main > div > div:last-of-type > div:first-of-type > p{
    transition-duration:250ms;
    font-size:calc(var(--size) * 12px);
    padding:calc(var(--size) * 4px) calc(var(--size) * 12px);
    background:var(--bg-color-2);
    border-radius:calc(var(--size) * 6px);
    margin:0;
    font-weight:500;
    cursor:default;
}

#desktop-answers-main > div > div:last-of-type > div:first-of-type > p:hover{
    background:var(--light-gray);
    color:white;
}

#desktop-answers-main > div > div:last-of-type > div:nth-of-type(2){
    width:100%;
    height:1px;
    background:var(--light-border-color);
    margin:calc(var(--size) * 16px) 0;
}

#desktop-answers-main > div > div:last-of-type > div:last-of-type{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
}

#desktop-answers-main > div > div:last-of-type > div:last-of-type > div{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    gap:calc(var(--size) * 6px);
}

#desktop-answers-main > div > div:last-of-type > div:last-of-type > div > img{
    height:calc(var(--size) * 18px);
}

#desktop-answers-main > div > div:last-of-type > div:last-of-type > div > p{
    font-size:calc(var(--size) * 12px);
    margin:0;
}

#desktop-answers-main > div > div:last-of-type > div:last-of-type > div:first-of-type > p:last-of-type{
    margin-left:calc(var(--size) * 24px);
    color:gray;
}

#desktop-answers-main > div > div:last-of-type > div:last-of-type > div:last-of-type{
    cursor:pointer;
}

#desktop-answers-main > div > div:last-of-type > div:last-of-type > div:last-of-type > img{
    transition-duration:250ms;
}

#desktop-answers-main > div > div:last-of-type > div:last-of-type > div:last-of-type:hover > img{
    transform:scale(1.05);
}