#desktop-main-container{
    width:calc(100vw - calc(var(--size) * 256px));
    height:calc(100vh - calc(var(--size) * 48px));
}

#desktop-bottom-buttons{
    position:absolute;
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:calc(var(--size) * 12px);
    bottom:calc(var(--size) * 12px);
    right:calc(var(--size) * 12px);
}

.desktop-bottom-btn{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    background:var(--dark-gray);
    width:calc(var(--size) * 36px);
    height:calc(var(--size) * 36px);
    border-radius:50%;
    cursor:pointer;
    transition-duration:250ms;
}

.desktop-bottom-btn:not(.inactive-modal){
    opacity:1;
    visibility:visible;
}

.desktop-bottom-btn > img{
    height:calc(var(--size) * 20px);
    filter:invert(1);
}

.desktop-bottom-btn:hover{
    box-shadow:0 0 calc(var(--size) * 6px) 0 var(--dark-gray);
}

#desktop-main-container-tab{
    font-size:calc(var(--size) * 12px);
    width:calc(100% - var(--size) * 48px);
    padding:calc(var(--size) * 14px) calc(var(--size) * 24px);
    font-weight:600;
    border-bottom:1px solid var(--light-border-color);
    margin:0;
    position:absolute;
    top:0;
}

#desktop-answers-dashboard{
    position:absolute;
    top:calc(var(--size) * 44px);
    left:calc(var(--size) * 256px);
    width:calc(100vw - var(--size) * 256px);
    height:calc(100vh - var(--size) * 92px);
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:flex-start;
}

#flashcards-main-options{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;
    flex-wrap:wrap;
    gap:calc(var(--size) * 24px);
    margin:calc(var(--size) * 24px);
    width:calc(100vw - calc(var(--size) * 561px));
}

#desktop-answers-sidebar{
    border-left:1px solid var(--light-border-color);
    width:calc(var(--size) * 256px);
    height:calc(100vh - var(--size) * 116px);
    padding-top:calc(var(--size) * 24px);
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;

}

#flashcards-main-options > div:not(.options-display){
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    border:1px solid var(--light-border-color);
    gap:calc(var(--size) * 18px);
    padding:calc(var(--size) * 24px);
    border-radius:calc(var(--size) * 6px);
    background:var(--bg-color-1);
    transition-duration:250ms;
    cursor:pointer;
}

#flashcards-main-options > div:not(.options-display):hover{
    border:1px solid var(--primary-accent);
}

#flashcards-main-options > div:not(.options-display) > img:first-of-type{
    height:calc(var(--size) * 30px);
    filter:invert(1) brightness(var(--image-invert));
}

#flashcards-main-options > div:not(.options-display) > div > h1{
    font-size:calc(var(--size) * 14px);
    font-weight:600;
    margin:0;
    cursor:pointer;
}

#flashcards-main-options > div:not(.options-display) > div > p{
    font-size:calc(var(--size) * 12px);
    margin:0;
    color:gray;
    cursor:pointer;
}

#flashcards-main-options > div:not(.options-display) > img:last-of-type{
    height:calc(var(--size) * 18px);
    margin-left:calc(var(--size) * 18px);
    filter:invert(1) brightness(var(--image-invert));
}

.options-display{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    background:var(--bg-color-1);
    padding:calc(var(--size) * 24px);
    border-radius:calc(var(--size) * 6px);
    border:1px solid var(--light-border-color);
    transition-duration:250ms;
    width:calc(var(--size) * 160px);
    cursor:default;
}

.options-display > h1{
    margin:0;
    font-size:calc(var(--size) * 48px);
}

.options-display > p{
    text-transform:uppercase;
    font-size:calc(var(--size) * 10px);
    margin:0;
    color:gray;
}

.desktop-answers-sidebar-break{
    width:calc(var(--size) * 208px);
    height:1px;
    background:var(--light-border-color);
    margin: calc(var(--size) * 24px) 0;
}

#desktop-answers-sidebar > h1{
    margin:0;
    font-size:calc(var(--size) * 12px);
}

#desktop-answers-sidebar-list{
    margin-top:calc(var(--size) * 24px);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    gap:calc(var(--size) * 12px);
}

.unanswered > div:nth-of-type(2){
    background:var(--light-border-color);
    color:gray;
}

.new-updates > div:nth-of-type(2){
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
    color:white;
}

.resolved > div:nth-of-type(2){
    background:linear-gradient(135deg, var(--secondary-accent), var(--secondary-accent-gradient));
    color:white;
}

.desktop-answers-sidebar-element{
    background:var(--bg-color-1);
    width:calc(var(--size) * 184px);
    margin-right:calc(var(--size) * 12px);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:calc(var(--size) * 6px);
    border-radius:calc(var(--size) * 6px);
    border:1px solid var(--bg-color-1);
    padding: calc(var(--size) * 12px) calc(var(--size) * 12px) calc(var(--size) * 12px) 0;
    cursor:pointer;
    transition-duration:250ms;
    position:relative;
}

.desktop-answers-sidebar-element:hover, .desktop-answers-sidebar-element:hover > div:last-of-type{
    box-shadow:0 0 calc(var(--size) * 6px) 0 var(--light-border-color);
}

.desktop-answers-sidebar-element > div:first-of-type{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;
    gap:calc(var(--size) * 6px);
    width:calc(var(--size) * 160px);
}

.desktop-answers-sidebar-element > div:first-of-type > img{
    height:calc(var(--size) * 16px);
    filter:invert(var(--image-invert));
}

.desktop-answers-sidebar-element > div:first-of-type > h1{
    margin:0;
    font-size:calc(var(--size) * 12px);
    color:black;
    filter:invert(1) brightness(var(--image-invert));
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}

.desktop-answers-sidebar-element > div:nth-of-type(2){
    text-transform:uppercase;
    font-weight:700;
    font-size:calc(var(--size) * 10px);
    padding:calc(var(--size) * 4px) 0;
    width:calc(var(--size) * 160px);
    text-align:center;
    border-radius:calc(var(--size) * 6px);
}

.desktop-answers-sidebar-element > div:last-of-type{
    position:absolute;
    height:calc(var(--size) * 36px);
    padding:calc(var(--size) * 6px) 0;
    width:calc(var(--size) * 24px);
    background:var(--bg-color-1);
    border:1px solid var(--bg-color-1);
    right:calc(var(--size) * -12px);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    border-radius:calc(var(--size) * 6px);
    cursor:default;
    transition-duration:250ms;
}

.desktop-answers-sidebar-element > div:last-of-type > img{
    width:calc(var(--size) * 16px);
    filter:invert(0.5);
    transition-duration:250ms;
    cursor:pointer;
}

.desktop-answers-sidebar-element > div:last-of-type > img:hover{
    transform:scale(1.1);
}

#answers-list-container{
    width:calc(100vw - var(--size) * 304px);
    height:calc(100vh - var(--size) * 222px);
    padding-left:calc(var(--size) * 24px);
    padding-right:calc(var(--size) * 24px);
}


#answers-list-headers{
    display:flex;
    flex-direction:row;
    align-items:center;
    position:relative;
    width:100%;
    background:blue;
}

#answers-list-headers > p:first-of-type{
    left:calc(var(--size) * 24px);
}

#answers-list-headers > p:nth-of-type(2){
    right:calc(33% + var(--size) * 100px);
}

#answers-list-headers > p:last-of-type{
    right:calc(var(--size) * 24px);
}

#answers-list-headers > p{
    font-size:calc(var(--size) * 12px);
    position:absolute;
    margin:0;
    color:gray;
}

#answers-list{
    display:flex;
    flex-direction:column;
}

#answers-list > div{
    display:flex;
    flex-direction:row;
    align-items:center;
    position:relative;
    top:calc(var(--size) * 24px);
    border-radius:calc(var(--size) * 6px);
    height:calc(var(--size) * 42px);
}

.answers-elem{
    cursor:default !important;
}

.active-answers-elem{
    cursor:pointer !important;
}

.active-answers-elem{
    background:var(--light-accent);
}

#answers-list > div > img{
    position:absolute;
    left:calc(var(--size) * 12px);
    width:calc(var(--size) * 16px);
}

#answers-list > div > h1{
    position:absolute;
    left:calc(var(--size) * 36px);
    width:calc(67% - var(--size) * 48px);
    margin:0;
    font-size:calc(var(--size) * 14px);
    font-weight:500;
}

#answers-list > div > div{
    position:absolute;
    right:calc(var(--size) * 128px);
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:calc(var(--size) * 6px);
    overflow-x:hidden;
    width:33%;
}

#answers-list > div > div > p{
    font-size:calc(var(--size) * 10px);
    padding:calc(var(--size) * 2px) calc(var(--size) * 6px);
    flex-shrink:0;
    border:1px solid var(--light-border-color);
    border-radius:calc(var(--size) * 6px);
    background:var(--light-gray);
    margin:0;
    color:white;
}

#answers-list > div > p{
    margin:0;
    position:absolute;
    right:calc(var(--size) * 12px);
    font-size:calc(var(--size) * 12px);
    font-weight:600;
}