#delete-login-modal-bg{
    width:100vw;
    height:100vh;
    position:absolute;
    top:0;
    left:0;
    background:rgba(0,0,0,0.5);
    z-index:5;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

#delete-login-modal{
    background:var(--bg-color-1);
    padding:calc(var(--size) * 24px);
    border:1px solid var(--light-border-color);
    border-radius:calc(var(--size) * 12px);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    width:calc(var(--size) * 256px);
    gap:calc(var(--size) * 6px);
}

#delete-login-modal > div:first-of-type{
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
    width:calc(var(--size) * 48px);
    height:calc(var(--size) * 48px);
    border-radius:calc(var(--size) * 24px);
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

#delete-login-modal > div:first-of-type > img{
    height:calc(var(--size) * 28px);
    filter:invert(1);
}

#delete-login-modal > h1{
    margin: calc(var(--size) * 32px) 0 0;
    font-size:calc(var(--size) * 18px);
}

#delete-login-modal > p{
    margin: 0 0 calc(var(--size) * 32px);
    font-size:calc(var(--size) * 13px);
    color:gray;
}

#delete-login-modal > button{
    width:100%;
    padding:calc(var(--size) * 6px) 0;
    border:none;
    border-radius:calc(var(--size) * 6px);
    background:var(--bg-color-2);
    color:gray;
    text-transform:uppercase;
    transition-duration:250ms;
    cursor:pointer;
}

#delete-login-modal > button:first-of-type:hover{
    background:var(--light-gray);
    color:white;
}

#delete-login-modal > button:last-of-type:hover{
    background:var(--primary-accent);
    color:white;
}

#delete-login-modal > input{
    width:calc(100% - var(--size) * 12px);
    border:1px solid var(--light-border-color);
    height:calc(var(--size) * 24px);
    border-radius:calc(var(--size) * 6px);
    padding:0 calc(var(--size) * 6px);
    color:gray;
    outline:none;
    margin-bottom:calc(var(--size) * 12px);
}

#delete-login-modal > input:focus{
    border:1px solid var(--dark-gray);
}

#desktop-main-container{
    width:calc(100vw - calc(var(--size) * 256px));
    height:calc(100vh - calc(var(--size) * 48px));
}

#my-profile-container{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:calc(var(--size) * 24px);
}

#desktop-main-container-tab{
    font-size:calc(var(--size) * 12px);
    width:calc(100% - var(--size) * 48px);
    padding:calc(var(--size) * 14px) calc(var(--size) * 24px);
    font-weight:600;
    border-bottom:1px solid var(--light-border-color);
    margin:0;
    position:absolute;
    top:0;
}

#desktop-profile-section{
    position:absolute;
    top:calc(var(--size) * 48px);
    left:calc(var(--size) * 280px);
    overflow-y:scroll;
    padding-top:calc(var(--size) * 24px);
    height:calc(100vh - var(--size) * 121px);
    width:calc(100vw - var(--size) * 280px);
}

.personal{
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient)) !important;
}

.community{
    background:linear-gradient(135deg, var(--secondary-accent), var(--secondary-accent-gradient)) !important;
}

.shared{
    background:linear-gradient(135deg, var(--tertiary-accent), var(--tertiary-accent-gradient)) !important;
}

.admin{
    background:linear-gradient(135deg, var(--quaternary-accent), var(--quaternary-accent-gradient)) !important;
}

#desktop-profile-section{
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:flex-start;
    gap:calc(var(--size) * 24px);
}

#desktop-profile-card{
    width:calc(var(--size) * 320px);
    background:var(--bg-color-1);
    border-radius:calc(var(--size) * 12px);
    border:1px solid var(--light-border-color);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
}

#desktop-profile-card > *{
    width:calc(var(--size) * 272px);
}

#desktop-profile-banner{
    width:calc(var(--size) * 320px);
    height:calc(var(--size) * 96px);
    margin-bottom:calc(var(--size) * -32px);
    border-top-left-radius:calc(var(--size) * 12px);
    border-top-right-radius:calc(var(--size) * 12px);
}

#desktop-profile-image-container{
    width:calc(var(--size) * 64px);
    height:calc(var(--size) * 64px);
    background:var(--bg-color-1);
    border-radius:50%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

#desktop-profile-image-container > img{
    height:calc(var(--size) * 36px);
}

#my-profile-name{
    font-size:calc(var(--size) * 16px);
    text-align:center;
    margin:0;
}

#my-profile-type{
    font-size:calc(var(--size) * 12px);
    color:gray;
    margin:0;
    text-align:center;
}

.my-profile-break{
    width:100%;
    height:0;
    border-top:1px solid lightgray;
    margin:calc(var(--size) * 24px) 0;
}

#edit-profile-btn{
    margin-top:calc(var(--size) * 18px);
    background:var(--bg-color-2);
    height:calc(var(--size) * 28px);
    font-size:calc(var(--size) * 12px);
    font-weight:400;
    cursor:pointer;
    text-transform:uppercase;
    border:1px solid var(--light-border-color);
    letter-spacing:1px;
    color:gray;
    outline:none;
    border-radius:calc(var(--size) * 6px);
    transition-duration:250ms;
}

#edit-profile-btn:hover{
    box-shadow:0 0 calc(var(--size) * 4px) 0 lightgray;
}

#edit-profile-btn:active{
    box-shadow:none;
}

.my-profile-information-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    gap:calc(var(--size) * 3px);
}

.my-profile-information{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:calc(var(--size) * 6px);
}

.my-profile-information > img{
    height:calc(var(--size) * 16px);
    filter:invert(0.5);
}

.my-profile-information > p {
    font-size: calc(var(--size) * 12px);
    max-width:calc(var(--size) * 250px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: gray;
    margin: 0;
}

.my-profile-section-header{
    margin:0;
    font-size:calc(var(--size) * 12px);
    font-weight:500;
    text-align:center;
}

.experimental{
    font-size:calc(var(--size) * 10px);
    color:var(--primary-accent);
    text-transform:uppercase;
    font-weight:500;
    border:1px solid var(--primary-accent);
    padding:calc(var(--size) * 2px) calc(var(--size) * 6px);
    width:auto !important;
    border-radius:calc(var(--size) * 9px);
}

#my-profile-badges{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    gap:calc(var(--size) * 12px);
    margin-top:calc(var(--size) * 12px);
    flex-wrap:wrap;
}

#my-profile-badges > p{
    margin:0;
    color:gray;
    text-transform:uppercase;
    font-size:calc(var(--size) * 10px);
    width:100%;
    height:calc(var(--size) * 32px);
    text-align:center;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    border:1px dashed lightgray;
    border-radius:calc(var(--size) * 6px);
}

#my-profile-badges > div{
    position:relative;
}

#my-profile-badges > div > img{
    box-shadow:0 0 calc(var(--size) * 6px) calc(var(--size) * 4px) var(--light-border-color);
    height:calc(var(--size) * 64px);
    border-radius:50%;
}

#my-profile-badges > div > div::before{
    position:absolute;
    top:calc(var(--size) * -12px);
    left:calc(var(--size) * 24px);
    width: 0;
    height: 0;
    border-left: calc(var(--size) * 12px) solid transparent;
    border-right: calc(var(--size) * 12px) solid transparent;
    border-bottom: calc(var(--size) * 12px) solid var(--light-border-color);
    content:'';
}

#my-profile-badges > div > div{
    visibility:hidden;
    opacity:0;
    transition-duration:250ms;
    position:absolute;
    top:calc(var(--size) * 82px);
    transition-delay:0ms;
    width:calc(var(--size) * 320px);
    background:var(--bg-color-1);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    border-radius:calc(var(--size) * 12px);
    margin-bottom:calc(var(--size) * 24px);
    border:1px solid var(--light-border-color);
    z-index:2;
}

#my-profile-badges > div > div > div:first-of-type{
    overflow:hidden;
    width:calc(var(--size) * 320px);
    height:calc(var(--size) * 192px);
    margin-bottom:calc(var(--size) * -144px);
    border-top-left-radius:calc(var(--size) * 12px);
    border-top-right-radius:calc(var(--size) * 12px);
}

#my-profile-badges > div > div > div:first-of-type > div{
    width:100%;
    height:100%;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    filter:blur(calc(var(--size) * 12px));
}

#my-profile-badges > div > div > img{
    width:calc(var(--size) * 96px);
    margin-bottom:calc(var(--size) * 48px);
    border-radius:50%;
    box-shadow:0 0 calc(var(--size) * 24px) 0 black;
    z-index:1;
}

#my-profile-badges > div > div > div:last-of-type{
    background:var(--bg-color-1);
    width:calc(var(--size) * 272px);
    padding:calc(var(--size) * 24px);
    display:flex;
    flex-direction:column;
    gap:calc(var(--size) * 4px);
    border-bottom-left-radius:calc(var(--size) * 12px);
    border-bottom-right-radius:calc(var(--size) * 12px);
    z-index:1;
}

#my-profile-badges > div > div > div:last-of-type > h1{
    font-size:calc(var(--size) * 16px);
    margin:0;
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:calc(var(--size) * 6px);
}

#my-profile-badges > div > div > div:last-of-type > h1 > span{
    font-size:calc(var(--size) * 10px);
    font-weight:500;
    text-transform:uppercase;
    padding:calc(var(--size) * 2px) calc(var(--size) * 6px);
    border-radius:calc(var(--size) * 10px);
}

#my-profile-badges > div > div > div:last-of-type > p{
    font-size:calc(var(--size) * 12px);
    margin:0;
    color:gray;
}

#my-profile-badges > div:hover > div{
    visibility:visible;
    transition-delay:500ms;
    opacity:1;
}

#desktop-profile-information{
    width:calc(100vw - var(--size) * 660px);
}

#desktop-profile-information > div:not(.main-profile-break){
    background:var(--bg-color-1);
    padding:calc(var(--size) * 24px);
    border:1px solid var(--light-border-color);
    border-radius:calc(var(--size) * 12px);
    display:flex;
    flex-direction:column;
    gap:calc(var(--size) * 12px);
    margin-bottom:calc(var(--size) * 24px);
}

#desktop-profile-information > div:not(.main-profile-break) > h1{
    margin:0;
    font-size:calc(var(--size) * 16px);
}

.main-profile-break{
    width:100%;
    height:0;
    border-top:calc(var(--size) * 2px) solid var(--light-border-color);
    margin-bottom:calc(var(--size) * 24px);
}

#profile-friends-list, .profile-item-list{
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:flex-start;
    gap:calc(var(--size) * 12px);
    flex-wrap:wrap;
}

#profile-friends-list > div, .profile-item-list > div{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:calc(var(--size) * 12px);
}

#profile-friends-list > div > img, .profile-item-list > div > img{
    height:calc(var(--size) * 24px);
}

.profile-item-list > div > img{
    filter:invert(var(--image-invert));
}

#profile-friends-list > div > div > h1, .profile-item-list > div > div > h1{
    margin:0;
    font-size:calc(var(--size) * 12px);
}

#profile-friends-list > div > div > p, .profile-item-list > div > div > p{
    font-size:calc(var(--size) * 10px);
    color:gray;
    margin:0;
}

#desktop-avatar-container{
    width:100vw;
    height:100vh;
    position:absolute;
    z-index:3;
    left:0;
    background:rgba(0,0,0,0.5);
    background-blend-mode:multiply;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    transition-duration:500ms;
}

#desktop-avatar-container:not(.inactive-modal){
    top:0;
    opacity:1;
}

#desktop-avatar-container.inactive-modal{
    top:100vh;
}

#desktop-avatar-main{
    width:calc(100vw - 20vmin);
    height:calc(100vh - 20vmin);
    background:var(--bg-color-1);
    border-radius:calc(var(--size) * 32px);
    display:flex;
    flex-direction:row;
    align-items:center;
}

#desktop-avatar-current-container{
    width:25%;
    height:100%;
    border-right:1px solid var(--light-border-color);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    gap:2%;
}

#desktop-avatar-current{
    width:25%;
    margin-top:10%;
}

#desktop-avatar-current-container > *:not(img){
    width:80%;
}

#desktop-avatar-current-container > h1{
    margin:0;
    font-size:calc(var(--size) * 24px);
}

#desktop-avatar-current-container > p{
    margin:0;
    font-size:calc(var(--size) * 14px);
    color:gray;
}

#desktop-avatar-selector-container{
    background:var(--bg-color-2);
    width:75%;
    height:100%;
    border-bottom-right-radius:calc(var(--size) * 32px);
    border-top-right-radius:calc(var(--size) * 32px);
}

#desktop-avatar-selector-main{
    width:90%;
    height:65%;
    padding:0 5% 5% 5%;
    margin-top:5%;
    overflow-y:scroll;
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:center;
    flex-wrap:wrap;
    gap:calc(var(--size) * 6px);
}

#desktop-avatar-selector-main > img{
    height:calc(var(--size) * 64px);
    padding:calc(var(--size) * 12px);
    background:var(--bg-color-1);
    border-radius:calc(var(--size) * 12px);
    cursor:pointer;
}

#desktop-avatar-selector-main > img:not(.selected-avatar-img){
    border:1px solid var(--light-border-color);
}

#desktop-avatar-selector-container > button{
    margin-top:2.5%;
    margin-left:5%;
    height:10%;
    width:90%;
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
    color:white;
    font-size:150%;
    text-transform:uppercase;
    letter-spacing:calc(var(--size) * 4px);
    font-weight:700;
    border:none;
    outline:none;
    border-radius:calc(var(--size) * 12px);
    cursor:pointer;
    transition-duration:250ms;
}

#desktop-avatar-selector-container > button:hover{
    box-shadow:0 0 calc(var(--size) * 12px) 0 var(--primary-accent);
}

#desktop-avatar-selector-container > button:active{
    box-shadow:none;
}

.selected-avatar-img{
    border:1px solid var(--primary-accent);
}

#my-profile-misc{
    display:flex;
    flex-direction:row;
    align-items: flex-start;
    justify-content:flex-start;
    gap:calc(var(--size) * 24px);
    margin-top:calc(var(--size) * 24px);
}

#my-profile-misc > div{
    background:var(--bg-color-1);
    border:1px solid var(--light-border-color);
    padding:calc(var(--size) * 24px);
    border-radius:calc(var(--size) * 12px);
    display:flex;
    flex-direction:column;
    gap:calc(var(--size) * 6px);
    flex-shrink:0;
    height:auto;
}

#my-profile-misc > div > div{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:calc(var(--size) * 8px);
}

#my-profile-misc > div > h1{
    font-size:calc(var(--size) * 12px);
    margin: 0 0 calc(var(--size) * 6px);
}

#my-profile-misc > div > div p, #my-profile-misc > div > div h1{
    max-width:calc(var(--size) * 256px);
    overflow-x:hidden;
}

#my-profile-misc > div > div > img{
    height:calc(var(--size) * 18px);
}

#my-profile-misc > div > div > div > h1{
    font-size:calc(var(--size) * 12px);
    margin:0;
}

#my-profile-misc > div > div > div > p{
    font-size:calc(var(--size) * 10px);
    margin:0;
    color:gray;
}

#my-profile-decks > div > img{
    filter:invert(var(--image-invert));
}

#tags-modal-bg{
    position:absolute;
    top:0;
    left:0;
    z-index:5;
    width:100vw;
    height:100vh;
    backdrop-filter:blur(calc(var(--size) * 5px));
    background:rgba(255,255,255,0.5);
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    transition-duration:250ms;
}

#tags-modal{
    width:calc(var(--size) * 512px);
    background:var(--bg-color-1);
    padding:calc(var(--size) * 24px);
    border-radius:calc(var(--size) * 24px);
    box-shadow:0 0 calc(var(--size) * 24px) 0 var(--light-border-color);
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    overflow:hidden;
    gap:calc(var(--size) * 6px);
}

#tags-modal > div:first-of-type{
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
    width:calc(var(--size) * 42px);
    height:calc(var(--size) * 42px);
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    margin-bottom:calc(var(--size) * 18px);
}

#tags-modal > div:first-of-type > img{
    height:calc(var(--size) * 24px);
    filter:invert(1);
}

#tags-modal > h1{
    margin:0;
    font-size:calc(var(--size) * 18px);
}

#tags-modal > p{
    margin:0;
    font-size:calc(var(--size) * 14px);
    color:gray;
}

#tags-modal-buttons{
    margin-top:calc(var(--size) * 24px);
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    gap:calc(var(--size) * 12px)
}

#tags-modal-buttons > button{
    outline:none;
    font-size:calc(var(--size) * 14px);
    text-transform:uppercase;
    font-weight:600;
    letter-spacing:1px;
    border-radius:calc(var(--size) * 12px);
    width:calc(var(--size) * 250px);
    height:calc(var(--size) * 48px);
    border:none;
    cursor:pointer;
    transition-duration:1s;
}

#tags-modal-buttons > button:first-of-type{
    color:gray;
    background:transparent;
    border:calc(var(--size) * 2px) dashed var(--light-border-color);
}

#tags-modal-buttons > button:last-of-type.inactive-modal-button{
    background:var(--bg-color-2);
    color:lightgray;
    cursor:default;
}

#tags-modal-buttons > button:last-of-type:not(.inactive-modal-button){
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
    color:white;
    cursor:pointer;
}

#tags-list{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:flex-start;
    flex-wrap:wrap;
    gap:calc(var(--size) * 6px);
    margin-top:calc(var(--size) * 18px);
}

#tags-list > div{
    font-size:calc(var(--size) * 12px);
    padding:calc(var(--size) * 4px) calc(var(--size) * 6px);
    border:1px solid var(--light-border-color);
    border-radius:calc(var(--size) * 6px);
    cursor:pointer;
    color:gray;
}

#tags-list > div.active-tag{
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
    color:white;
}