@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --dark-blue:#004153;
    --blue:#335762;
    --light-blue:#f6f7fb;
    --green:#3dffae;
    --red:#ff3d71;
    --mid-blue:#42b3ff;

    --theme-color-1:#405DE6;
    --theme-color-2:#833AB4;
    --theme-color-dark:#354382;

    --bg-color-1:white;
    --bg-color-2:#f6f7fb;
    --card-color:white;
    --text-color:black;
    --border-color:lightgray;
    --image-invert:0;

    --popup-color-1:#000;
    --popup-color-2:#000;

    --darken-amount:0.15;
}

body{
    margin:0;
    font-family: 'Montserrat', sans-serif;
    background:var(--bg-color-1);
    color:var(--text-color);
    display:flex;
    flex-direction:row;
    overflow:hidden;
    font-size:12px;
    transition-duration:250ms;
    transition-property:background, color;
}

#sidebar{
    width:200px;
    height:calc(100vh - 50px);
    padding:25px;
    background:linear-gradient(150deg, var(--theme-color-1), var(--theme-color-2));
    border-right:1px solid var(--border-color);
    position:relative;
    z-index:2;
    filter:brightness(calc(-1 * var(--darken-amount) * var(--image-invert) + 1));
    transition-duration:250ms;
}

#sidebar > button{
    width:200px;
    height:25px;
    font-size:1.25em;
    transition-duration:250ms;
    background:var(--theme-color-dark);
    box-shadow:0 0 10px 0 black;
    color:var(--light-blue);
    border:none;
    outline:none;
    border-radius:5px;
    cursor:pointer;
    position:absolute;
}

#sidebar > button:active{
    box-shadow:inset 0 0 10px 0 black;
}

#sidebar > button:nth-child(3){
    top:60px;
}

#custom-picture{
    background-image:url("images/patterns/4.jpg");
    background-repeat:repeat;
    background-size:512px;
    width:250px;
    height:100vh;
    position:absolute;
    mix-blend-mode: multiply;
    top:0;
    left:0;
    opacity:0.25;
}

#parent-container{
    display:flex;
    flex-direction:column;
}

#navbar{
    width:calc(100vw - 300px);
    border-bottom:1px solid var(--border-color);
    box-shadow:0 0 25px 0 var(--border-color);
    padding:0 25px;
    display:flex;
    z-index:5;
}

#navbar-right{
    position:absolute;
    right:25px;
    display:flex;
    flex-direction:row;
    align-items:center;
    height:70px;
    gap:10px;
}

.navbar-icon-btn > img{
    height:25px;
    cursor:pointer;
    filter:invert(var(--image-invert));
}

#progress-bar{
    width:300px;
    height:20px;
    border:1px solid var(--border-color);
    border-radius:10px;
    margin-right:10px;
    background:linear-gradient(135deg, var(--theme-color-1) 0%, var(--theme-color-2) 62%, var(--bg-color-2) 62%);
    filter:brightness(calc(-1 * var(--darken-amount) * var(--image-invert) + 1));
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    font-size:12px;
    font-weight:300;
}

#logo-div{
    display:flex;
    flex-direction:row;
    align-items:center;
    height:70px;
}

#logo-div img:first-of-type{
    height:40px;
    margin-right:10px;
}

#logo-div div h1:first-of-type{
    font-size:25px;
    margin:0;
}

#logo-div div p{
    margin:-5px 0 0 0;
    font-size:12px;
    font-weight:300;
}

#main-container{
    background:var(--bg-color-2);
    width:calc(100vw - 300px);
    height:calc(100vh - 120px);
    padding: 25px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-items:flex-start;
    overflow-y:scroll;
    gap:25px;
    transition-duration:250ms;
    position:absolute;
    top:70px;
}

#main-container > div{
    overflow:hidden;
    width:200px;
    border-radius:25px;
    box-shadow:0 0 10px 0 var(--border-color);
    position:relative;
}

#main-container > div div:first-of-type{
    background-position:center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
    width:200px;
    height:125px;
    filter:brightness(calc(-1 * var(--darken-amount) * var(--image-invert) + 1));
}

#main-container > div div:last-of-type {
    padding:25px 10px;
    background:var(--card-color);
    transition-duration:250ms;
}

#main-container > div div:last-of-type h1{
    font-size:16px;
    width:130px;
    margin:0;
}

#main-container > div div:last-of-type div{
    position:absolute;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    padding:0;
    width:35px;
    height:35px;
    border-radius:10px;
    background:var(--bg-color-2);
    top:150px;
    right:10px;
}

#main-container > div div:last-of-type div img{
    filter:invert(var(--image-invert));
    height:25px;
}

#main-container > div div:last-of-type p {
    font-size:11px;
    line-height:12px;
    color:gray;
    margin:10px 0;
}

#main-container > div div:last-of-type button{
    font-size:1em;
    width:180px;
    height:25px;
    margin-top:5px;
    background:var(--bg-color-2);
    transition-duration:250ms;
    color:var(--text-color);
    border-radius:5px;
    border:none;
    cursor:pointer;
}

.outdated-div{
    position:absolute;
    top:95px;
    width:160px;
    margin-left:20px;
    height:20px;
    font-size:12px;
    background:white;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    border-radius:10px;
    color:black;
}

#main-container > div div:last-of-type button:hover{
    background:var(--theme-color-1);
}

#main-container > div div:last-of-type button:active{
    box-shadow:inset 0 0 10px 0 black;
}

#main-container > div > img{
    position:absolute;
    right:10px;
    width:24px;
    padding:4px;
    cursor:pointer;
    background:white;
    border-radius:16px;
    filter:invert(var(--image-invert));
    opacity:0;
    transition-duration:250ms;
}

#main-container > div > img:nth-of-type(1){
    top:10px;
}

#main-container > div > img:nth-of-type(2){
    top:50px;
}

#main-container > div > img:nth-of-type(3){
    top:10px;
    left:10px;
}

#main-container > div:hover > img{
    opacity:1;
}

#create-modal{
    background:rgba(0, 0, 0, 0.25);
    position:absolute;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    width:100vw;
    height:100vh;
    backdrop-filter:blur(2px);
}

.active-modal{
    display:flex;
    z-index:10;
}

.inactive-modal{
    display:none;
}

#create-modal > div{
    width:calc(100vw - 100px);
    height:calc(100vh - 100px);
    border-radius:25px;
    background:var(--bg-color-1);
    overflow:hidden;
    display:flex;
    flex-direction:row;
    box-shadow:0 0 45px 0 black;
}

#create-sidebar {
    background:var(--bg-color-2);
    height:calc(100vh - 150px);
    border-right:1px solid var(--border-color);
    width:250px;
    padding:25px;
}

#create-sidebar h1{
    font-size:2em;
    margin:0;
}

#create-sidebar p, #create-sidebar > ul{
    color:gray;
    font-size:1em;
    line-height:12px;
    margin:0 0 6px 0;
}

#card-information{
    background:var(--theme-color-1);
    height:calc(100vh - 150px);
    padding:25px;
    width:250px;
}

#card-information h1{
    font-size:2em;
    color:white;
    margin:0;
}

#deck-preview{
    margin-top:25px;
    box-shadow:0 0 35px 0 black;
    border-radius:31px;
    overflow:hidden;
    margin-bottom:25px;
}

#deck-preview-color{
    width:250px;
    height:156px;
    background:linear-gradient(150deg, var(--theme-color-1), var(--theme-color-2));
}

#card-information textarea:first-of-type{
    font-family: 'Source Sans Pro', sans-serif;
    background:transparent;
    outline:none;
    color:var(--text-color);
    resize:none;
    border:none;
    font-size:1.75em;
    font-weight:bold;
    width:200px;
    min-height:25px;
}

#card-information textarea:last-of-type{
    font-family: 'Source Sans Pro', sans-serif;
    background:transparent;
    outline:none;
    resize:none;
    border:none;
    font-size:1.2em;
    line-height:14px;
    color:gray;
    font-weight:normal;
    width:200px;
    min-height:25px;
    overflow-y:scroll;
    max-height:60px;
}

#deck-preview-main{
    padding:25px 10px;
    background:var(--card-color);
    transition-duration:250ms;
}

#create-deck-img{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
    gap:10px;
    margin-top:25px;
}

#create-deck-img > div {
    width:35px;
    height:35px;
    border-radius:15px;
    box-shadow:0 0 15px 0 black;
    cursor:pointer;
    position:relative;
}

#create-deck-img > div:not(.active-create-color-div) > img{
    display:none;
}

.active-create-color-div > img{
    display:flex;
    filter:invert(var(--image-invert));
    width:15px;
    padding:2px;
    background:white;
    border-radius:50%;
    position:absolute;
    top:-5px;
    right:-5px;
}

#save-card{
    position:absolute;
    bottom:130px;
    right:75px;
    width:250px;
    outline:none;
    border:none;
    font-size:1em;
    height:25px;
    border-radius:5px;
    cursor:pointer;
    background:var(--theme-color-dark);
    color:white;
    font-weight:500;
}

#export-card{
    position:absolute;
    bottom:100px;
    right:75px;
    width:250px;
    outline:none;
    border:none;
    font-size:1em;
    height:25px;
    border-radius:5px;
    cursor:pointer;
    background:var(--theme-color-dark);
    color:white;
    font-weight:500;
}

#cancel-card{
    position:absolute;
    bottom:70px;
    right:75px;
    width:250px;
    outline:none;
    border:none;
    font-size:1em;
    height:25px;
    border-radius:5px;
    cursor:pointer;
    background:#450025;
    color:white;
    font-weight:500;
}

#main-create{
    width:calc(100vw - 700px);
    padding:50px 50px;
    overflow-y:scroll;
    scroll-behavior: smooth;
}

#main-create::-webkit-scrollbar, #main-container::-webkit-scrollbar {
    width:16px;
}

#main-create::-webkit-scrollbar-track, #main-container::-webkit-scrollbar-track {
    background: var(--bg-color-2);
}

#main-create::-webkit-scrollbar-thumb, #main-container::-webkit-scrollbar-thumb {
    background: var(--theme-color-2);
    border-radius:8px 0 0 8px;
}

#main-create input::placeholder{
    color:var(--theme-color-2);
}

#main-create > *{
    width:calc(100vw - 800px);
    border:1px solid var(--border-color);
    border-radius:10px;
    margin-bottom:20px;
    background:var(--bg-color-2);
}

#main-create > button{
    height:200px;
    color:gray;
    cursor:pointer;
    font-size:5em;
    font-weight:100;
}

#main-create > div{
    display:flex;
    flex-direction:column;
    overflow:hidden;
}

#main-create > div > p{
    width:calc(100vw - 850px);
    position:relative;
    background:linear-gradient(150deg, var(--theme-color-1), var(--theme-color-2));
    border-bottom:1px solid var(--border-color);
    margin:0;
    display:flex;
    flex-direction:row;
    align-items:center;
    padding:5px 25px;
    font-size:1.25em;
    color:white;
}

#main-create > div > p > img{
    position:absolute;
    right:5px;
    height:16px;
    padding:2px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    background:white;
    border:1px solid var(--border-color);
    border-radius:50%;
    cursor:pointer;
}

#main-create > div > div{
    display:flex;
    flex-direction:row;
    align-items:center;
}

#main-create > div > div > input{
    width:calc(50vw - 445px);
    border:1px solid var(--border-color);
    font-size:1.25em;
    border-radius:10px;
    background:var(--bg-color-1);
    height:25px;
    margin-left:25px;
    margin-right:12.5px;
    color:gray;
    padding:0 10px;
    outline:none;
    font-weight:300;
}

#main-create > div > div > input:focus{
    border:1px solid var(--theme-color-dark);
}

#main-create > div > div > div{
    display:flex;
    flex-direction:column;
    padding:15px 0;
    gap:10px;
}

#main-create > div > div > div > button{
    width:calc(50vw - 425px);
    background:linear-gradient(150deg, var(--theme-color-1), var(--theme-color-2));
    outline:none;
    border:none;
    height:25px;
    color:white;
    margin:0 25px 0 12.5px;
    cursor:pointer;
    border-radius:10px;
    font-size:1em;
}

.definition-div{
    display:flex;
    position:relative;
}

.definition-div > input{
    width:calc(50vw - 445px);
    margin:0 25px 0 12.5px;
    background:var(--bg-color-1);
    padding:0 10px;
    border:1px solid var(--border-color);
    border-radius:10px;
    height:25px;
    color:gray;
    outline:none;
    font-size:1em;
}


.definition-div > img {
    position: absolute;
    height: 12px;
    right: 30px;
    top: 4px;
    display: flex;
    padding: 2px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: var(--bg-color-2);
    border: 1px solid var(--border-color);
    border-radius: 50%;
    cursor: pointer;
}

#settings-modal{
    width:150px;
    position:absolute;
    top:70px;
    right:25px;
    background:var(--bg-color-1);
    padding:25px;
    border-radius:0 0 15px 15px;
    flex-direction:column;
    border:1px solid var(--border-color);
    border-top:none;
    z-index:2;
}

#settings-modal > div > h2{
    font-size:1.25em;
    color:var(--text-color);
    font-weight:300;
    margin:8px 0;
}

#settings-theme > div{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap:16px;
}

#settings-theme > div > div {
    width:25px;
    height:25px;
    border-radius:5px;
    cursor:pointer;
    transition-duration:250ms;
}

#settings-background > div > div{
    width:50px;
    height:50px;
    border-radius:10px;
    cursor:pointer;
    transition-duration:250ms;
    background-size:64px;
    border:1px solid var(--border-color);
    filter:brightness(calc(var(--image-invert) * -0.25 + 1));
    z-index:1000;
}

#settings-background > div{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    gap:10px;
}

#settings-theme > div > div:hover, #settings-background > div > div:hover{
    transform:scale(1.1);
}

#settings-bg-1 {background-image:url("images/patterns/0.jpg")}
#settings-bg-2 {background-image:url("images/patterns/1.jpg")}
#settings-bg-3 {background-image:url("images/patterns/2.jpg")}
#settings-bg-4 {background-image:url("images/patterns/3.jpg")}
#settings-bg-5 {background-image:url("images/patterns/4.jpg")}
#settings-bg-6 {background-image:url("images/patterns/5.jpg")}

#settings-mode {
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:8px;
}

#review-modal{
    flex-direction:row;
    position:absolute;
    bottom:0;
    right:0;
    width:calc(100vw - 250px);
    height:calc(100vh - 70px);
    background:var(--bg-color-2);
    z-index:1;
}

#review-main-container{
    width:calc(100vw - 500px);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#review-sidebar{
    width:200px;
    padding:25px;
    background:var(--bg-color-2);
    border-left:1px solid var(--border-color);
}

#review-flashcard{
    display:flex;
    flex-direction:row;
    border:1px solid var(--border-color);
    border-radius:25px;
}

#flashcard-header{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    padding:25px;
    width:200px;
    border-right:1px solid var(--border-color);
    background:var(--theme-color-1);
    border-radius:25px 0 0 25px;
    color:white;
}

#flashcard-header > h1{
    margin:0;
    font-size:32px;
    font-weight:500;
}

#flashcard-answers{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
    gap:12px;
    padding:25px;
    background:var(--bg-color-1);
    overflow-y:scroll;
    overflow-x:hidden;
    max-height:calc(100vh - 175px);
    min-height:30vh;
    transition-duration:250ms;
}

#flashcard-answers > div{
    display:flex;
    flex-direction:row;
    align-items:center;
    position:relative;
}

#flashcard-answers > div > button{
    width:calc(100vw - 900px);
    background:var(--bg-color-2);
    border:1px solid var(--border-color);
    border-radius:10px;
    padding:5px 0;
    cursor:pointer;
    font-size:16px;
    font-weight:100;
    color:var(--text-color);
    transition-duration:250ms;
}

#flashcard-answers > div > input{
    width:calc(100vw - 924px);
    background:var(--bg-color-2);
    border:1px solid var(--border-color);
    color:var(--theme-color-2);
    outline:none;
    border-radius:10px;
    padding:5px 12px;
}

#flashcard-answers > div > input:focus{
    border:1px solid var(--theme-color-1);
}

#flashcard-answers > div > button:hover{
    box-shadow:0 0 15px 0 var(--border-color);
}

#flashcard-answers > button:last-of-type{
    width:calc(100vw - 900px);
    border:1px solid var(--border-color);
    border-radius:10px;
    padding:5px 0;
    cursor:pointer;
    font-size:16px;
    font-weight:100;
    cursor:pointer;
    transition-duration:250ms;
    background:var(--theme-color-1);
    color:white;
}

#flashcard-answers > button:last-of-type:hover{
    background:var(--theme-color-2);
}

#flashcard-answers > div > div{
    position:absolute;
    width:15px;
    height:15px;
    right:10px;
    border-radius:50%;
}

.wrong{
    background:var(--red);
}

.right{
    background:var(--green);
}

#review-progress{
    width:200px;
    height:15px;
    border:1px solid var(--border-color);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    border-radius:10px;
    margin-right:10px;
    text-align:center;
    font-size:11px;
}

#dashboard-review-btn{
    position:absolute;
    width:200px;
    font-size:1em;
    padding:10px 0;
    border-radius:5px;
    border:1px solid var(--border-color);
    background:var(--bg-color-2);
    transition-duration:250ms;
    cursor:pointer;
    color:var(--text-color);
}

#dashboard-review-btn:hover{
    background:var(--theme-color-1);
}

#popup-modal{
    flex-direction:row;
    position:absolute;
    z-index:1000;
    justify-content:center;
    align-items:center;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.25)
}

.popup-image-bg{
    width:150px;
    height:300px;
    background:linear-gradient(135deg, var(--popup-color-1), var(--popup-color-2));
    border-radius:60px 0 0 60px;
    overflow:hidden;
}

.popup-image{
    background-image:url("images/patterns/0.jpg");
    background-size:128px;
    background-repeat:repeat;
    width:150px;
    height:300px;
    mix-blend-mode:multiply;
    opacity:0.25;
}

.popup-main{
    padding:25px;
    background:white;
    height:250px;
    border-radius:0 60px 60px 0;
    width:350px;
    position:relative;
}

.popup-main > div:first-of-type{
    font-size:16px;
    font-weight:300;
    position:absolute;
    background:var(--bg-color-2);
    border:1px solid var(--border-color);
    width:25px;
    height:25px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    transition-duration:250ms;
    color:gray;
    cursor:pointer;
    right:25px;
}

.popup-main > div:first-of-type:hover{
    transform:scale(1.1);
    box-shadow:0 0 10px 0 var(--border-color);
}

.popup-main > h1{
    background: -webkit-linear-gradient(135deg, var(--popup-color-1), var(--popup-color-2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:30px;
    margin: 0 0 12px;
}

.popup-main > h2{
    font-size:16px;
    font-weight:700;
    margin: 0 0 6px;
}

.popup-main > p{
    font-size:12px;
    color:black;
    margin:0;
}

.popup-main > button{
    margin:12px 0;
    width:350px;
    background:var(--bg-color-2);
    border:1px solid var(--border-color);
    height:24px;
    border-radius:8px;
    cursor:pointer;
    font-size:12px;
}

.popup-main::after{
    content:'- The Elephant Team';
    position:absolute;
    color:gray;
    bottom:5px;
    right:75px;
}

#subject-input{
    outline:none;
    width:240px;
    height:25px;
    background:var(--bg-color-2);
    padding:0 5px;
    border-radius:10px;
    color:gray;
    border:none;
}

select option:hover,
select option:focus,
select option:active {
    background: linear-gradient(#000000, #000000);
    background-color: #000000 !important; /* for IE */
    color: #ffed00 !important;
}

select option:checked {
    background: linear-gradient(#d6d6d6, #d6d6d6);
    background-color: #d6d6d6 !important; /* for IE */
    color: #000000 !important;
}

#import-deck-modal{
    position:absolute;
    width:100vw;
    height:100vh;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,0.25);
}

#import-deck-modal > div{
    background:var(--bg-color-1);
    box-shadow:0 0 15px 0 black;
    border-radius:15px;
    overflow:hidden;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    width:300px;
}

#import-deck-modal-header{
    background:linear-gradient(150deg, var(--theme-color-1), var(--theme-color-2));
    width:300px;
    height:150px;
    position:relative;
}

#import-deck-modal-header > p{
    position:absolute;
    right:25px;
    top:25px;
    margin:0;
    filter:invert(var(--image-invert));
    color:black;
    background:white;
    width:30px;
    height:30px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    font-weight:700;
    border-radius:15px;
    font-size:15px;
    cursor:pointer;
}

#import-deck-modal-body{
    padding:25px 0;
}

#import-deck-modal-body > h1{
    margin:0;
    font-size:25px;
}

#import-deck-modal-body > p{
    margin:0;
    font-size:12px;
    color:gray;
}

#import-file-trigger{
    width:250px;
    height:40px;
    border-radius:10px;
    border:1px solid var(--border-color);
    background:var(--bg-color-2);
    margin-top:15px;
    font-size:16px;
    font-weight:100;
    cursor:pointer;
    outline:none;
    color:var(--text-color);
}

#import-deck-modal-body > h6{
    width:200px;
    background:var(--bg-color-2);
    color:gray;
    font-weight:300;
    font-size:12px;
    padding:5px 0;
    margin:10px 50px;
    border-radius:7px;
}

#import-deck-modal-body > button:last-of-type{
    width:250px;
    height:40px;
    border-radius:10px;
    border:1px solid var(--border-color);
    background:linear-gradient(150deg, var(--theme-color-1), var(--theme-color-2));
    color:black;
    font-size:16px;
    font-weight:100;
    cursor:pointer;
    margin-top:25px;
}

#import-file-upload{
    opacity:0;
    width:0;
    height:0;
}

#notifications-modal{
    position:absolute;
    flex-direction:column;
    background:var(--bg-color-1);
    top:70px;
    right:0;
    border-radius:0 0 25px 25px;
    border:1px solid var(--border-color);
    border-top:none;
    gap:15px;
    max-height:200px;
    overflow-y:scroll;
    padding: 15px 25px 25px;
    z-index:2;
}

#notifications-modal > div{
    display:flex;
    flex-direction:row;
    align-items:center;
    background:var(--bg-color-2);
    padding:10px;
    border-radius:15px;
}

#notifications-modal > div > img{
    filter:invert(var(--image-invert));
    width:20px;
    height:20px;
    padding:5px;
    border-radius:15px;
}

#notifications-modal > div > div{
    margin:0 0 0 10px;
}

#notifications-modal > div > div > p{
    width:150px;
    font-size:12px;
    margin:0;
}

#notifications-modal > div > div > h6{
    font-size:10px;
    color:gray;
    font-weight:300;
    margin: 5px 0 0;
}

#sort-div:not(.inactive-sort){
    opacity:1;
    visibility:visible;
}

#sort-div{
    height:50px;
    width:calc(100vw - 300px);
    padding:0 25px;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;
    transition:opacity 250ms ease-in-out, visibility ease-in-out 250ms;
    position:absolute;
    z-index:2;
    gap:15px;
    top:70px;
    backdrop-filter: blur(4px);
    display:flex;
}

.inactive-sort{
    opacity:0;
    visibility:hidden;
}

#sort-div > *:not(#sort-div-bg){
    z-index:2;
}

#sort-div-bg{
    position: absolute;
    width:calc(100vw - 250px);
    height:50px;
    opacity: 0.8;
    z-index: 1;
    background: var(--bg-color-1);
    left:0;
}

#sort-div > input, #sort-div > select{
    width:250px;
    height:25px;
    background:var(--bg-color-1);
    border:1px solid var(--border-color);
    border-radius:15px;
    padding:0 10px;
    outline:none;
    color:gray;
    font-size:14px;
    font-weight:300;
}

#sort-div > button{
    width:100px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    border:none;
    outline:none;
    background:var(--theme-color-1);
    height:25px;
    border-radius:10px;
    color:white;
    transition-duration:500ms;
    box-shadow:0 0 10px 0 #191919;
}

.inactive-button{
    opacity:0;
    cursor:default;
}

#sort-div > button:active{
    box-shadow:inset 0 0 10px 0 #191919;
}

.active-button{
    opacity:1;
    cursor:pointer;
}

#music-player{
    position:absolute;
    right:0;
    width:calc(100vw - 250px);
    transition-duration:1s;
    height:75px;
}

#music-modal{
    width:calc(100vw - 250px);
    position:absolute;
    height:75px;
    z-index:5;
    display:flex;
    backdrop-filter:blur(6px);
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

#music-player:not(.hidden-music-player) {
    bottom:0;
    visibility:visible;
}

#music-heart{
    width:20px;
    height:20px;
    transform:rotate(45deg) scale(0.65) translateY(11px) translateX(-3px);
    position:relative;
    transition-duration:250ms;
    cursor:pointer;
}

#music-heart:hover{
    transform:rotate(45deg) scale(0.7) translateY(11px) translateX(-3px);
}

.filled-heart{
    background:var(--theme-color-1);
}

.unfilled-heart{
    background:var(--text-color);
}

.unfilled-heart::before, .unfilled-heart::after{
    background:var(--text-color);
}


#music-heart::before{
    content:'';
    width:20px;
    height:15px;
    position:absolute;
    top:-14px;
    border-radius:10px 10px 0 0;
    transition-duration:250ms;
}

#music-heart::after{
    content:'';
    width:15px;
    height:20px;
    position:absolute;
    left:-14px;
    border-radius:10px 0 0 10px;
    transition-duration:250ms;
}

.filled-heart::before, .filled-heart::after{
    background:var(--theme-color-1);
}

.hidden-music-player{
    bottom:-100px;
    visibility:hidden;
}

#music-background{
    position: absolute;
    width:calc(100vw - 250px);
    height:75px;
    opacity: 0.8;
    z-index: 1;
    background: var(--bg-color-1);
}

#cover-information{
    display:flex;
    align-items:center;
    position:absolute;
    left:25px;
}

#cover-information > img{
    height:45px;
    width:45px;
    border-radius:15px;
    margin-right:15px;
}

#cover-information > div > h1{
    font-size:16px;
    font-weight:700;
    margin:0;
}

#cover-information > div > p{
    margin:0;
    font-size:12px;
    color:gray;
    font-weight:300;
}

#volume-options{
    position:absolute;
    display:flex;
    align-items:center;
    right:25px;
    gap:10px;
}

#volume-options > img{
    height:20px;
    filter:invert(var(--image-invert));
}

#music-volume{
    width: 150px;
    height: 7px;
    -webkit-appearance: none;
    background: var(--bg-color-2);
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 0 0 5px 0 var(--border-color);
}

#music-volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background:transparent;
    box-shadow: -407px 0 0 400px var(--theme-color-1);
}

#music-timeline{
    width: calc(100vw - 950px);
    height: 7px;
    -webkit-appearance: none;
    background: var(--bg-color-2);
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 0 0 5px 0 var(--border-color);
}

#music-timeline::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background:transparent;
    box-shadow: -407px 0 0 400px var(--theme-color-1);
}

#main-controller{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

#main-controller > div:first-of-type {
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:15px;
}

#main-controller > div:first-of-type > img{
    height:35px;
    cursor:pointer;
    filter:invert(var(--image-invert));
}

#sort-div-btn, #radio-div-btn{
    position:absolute;
    background:linear-gradient(150deg, var(--theme-color-1), var(--theme-color-2));
    width:40px;
    height:40px;
    box-shadow:0 0 10px 0 gray;
    border-radius:10px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    transition-duration:250ms;
    filter:brightness(calc(-1 * var(--darken-amount) * var(--image-invert) + 1));
    bottom:25px;
}

#sort-div-btn{
    right:25px;
}

#radio-div-btn{
    right:80px;
    opacity:0;
    visibility:hidden;
    transition-property:opacity;
    transition-delay:500ms;
}

#sort-div-btn:hover, #radio-div-btn:hover{
    transform:scale(1.1)
}

#sort-div-btn > img, #radio-div-btn > img{
    width:25px;
    filter:invert(1);
}

#radio-modal{
    position:absolute;
    left:270px;
    bottom:95px;
    z-index:1;
    padding:25px;
    width:200px;
    height:75px;
    border-radius:15px;
    box-shadow:0 0 15px 0 gray;
    backdrop-filter:blur(6px);
    overflow:hidden;
    transition-duration:250ms;
    visibility:hidden;
    opacity:0;
}

#radio-list{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    height:75px;
    position:absolute;
    z-index:3;
    gap:10px;
}

#radio-list > div{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:10px;
}

#radio-list > div > img:first-of-type {
    height:25px;
    border-radius:7px;
    box-shadow:0 0 10px 0 black;
    cursor:pointer;
    filter:brightness(0.75);
}

#radio-list > div > img:last-of-type{
    height:20px;
    position:absolute;
    left:2.5px;
    filter:invert(1);
    cursor:pointer;
}

#radio-list > div > h1{
    font-size:16px;
    margin:0;
    color:black;
    font-weight:700;
}

#radio-background{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity: 0.8;
    z-index: 1;
    background: var(--bg-color-1);
}