@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --hover-dark:#0f0f0f;
    --dark-gray:#1e1e1e;
    --light-gray:#2c2c2c;
    --bg-color-1:#ffffff;
    --bg-color-2:#f6f7fb;
    --light-border-color:#ebebeb;
    --dark-border-color:#343434;
    --hover-light:#f5f5f5;
    --accent-color:#fc0390;
}

body{
    font-family: 'Montserrat', sans-serif;
    background:var(--bg-color-1);
    margin:0;
}

#desktop-wrapper{
    display:flex;
    flex-direction:column;
    width:100vw;
    height:100vh;
    overflow:hidden;
}

#desktop-navbar{
    background:var(--dark-gray);
    display:flex;
    flex-direction:row;
    align-items:center;
    height:48px;
    position:absolute;
    width:100vw;
    top:0;
    left:0;
}

#desktop-main-image, .desktop-navbar-right-img{
    width:48px;
    height:48px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    border-right:1px solid var(--dark-border-color);
}

#desktop-main-image > img{
    width:24px;
}

#desktop-input-div{
    margin:0 12px;
    display:flex;
    flex-direction:row;
    align-items:center;
    background:var(--light-gray);
    overflow:hidden;
    border-radius:5px;
    transition-duration:250ms;
}

#desktop-input-div:hover{
    background:var(--dark-border-color);
}

#desktop-input-img{
    width:18px;
    filter:invert(1);
    padding:0 6px;
}

#desktop-navbar-input{
    height:30px;
    background:transparent;
    border:none;
    width:256px;
    outline:none;
    color:white;
    padding-right:12px;
}

#desktop-navbar-right{
    position:absolute;
    right:0;
    display:flex;
    flex-direction:row;
    align-items:center;
}

.desktop-navbar-right-img{
    width:36px;
    border:none;
}

.desktop-navbar-right-img > img{
    width:18px;
    filter:invert(1);
    cursor:pointer;
}

#desktop-navbar-profile{
    display:flex;
    flex-direction:row;
    align-items:center;
    padding:0 12px;
    transition-duration:250ms;
    height:48px;
    border-left:1px solid var(--dark-border-color);
}

#desktop-navbar-profile:hover{
    background:var(--hover-dark);
}

#desktop-navbar-profile-image {
    height: 24px;
    margin-right:12px;
}

#navbar-profile-text > h1{
    font-size:12px;
    font-weight:500;
    cursor:default;
    color:white;
    margin:0;
}

#navbar-profile-text > p{
    font-size:10px;
    font-weight:300;
    color:lightgray;
    cursor:default;
    margin:0;
}

#desktop-navbar-profile > img:last-of-type{
    filter:invert(1);
    height:16px;
    margin:0 6px
}

#desktop-parent-container{
    position:absolute;
    left:0;
    top:48px;
    width:100vw;
    height:calc(100vh - 48px);
    background:var(--bg-color-2);
    overflow:hidden;
    display:flex;
    flex-direction:row;
}

#desktop-sidebar{
    width:256px;
    border-right:1px solid var(--light-border-color);
    height:calc(100vh - 72px);
    background:var(--bg-color-1);
    padding:12px 0;
}

.desktop-sidebar-category{
    width:256px;
    display:flex;
    align-items:center;
    padding:6px 0;
    transition-duration:250ms;
    cursor:pointer;
}

.desktop-sidebar-category:not(.active-sidebar-category):hover {
    background:var(--hover-light)
}

.desktop-sidebar-category > div{
    width:48px;
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.desktop-sidebar-category > div > img{
    height:18px;
}

.desktop-sidebar-category > p{
    margin:0;
    font-size:12px;
    font-weight:400;
    cursor:pointer;
}

.desktop-sidebar-break{
    height:1px;
    width:220px;
    background:var(--light-border-color);
    margin:12px 18px;
}

#desktop-sidebar-categories > h1{
    font-size:12px;
    font-weight:700;
    margin: 0 0 6px 18px;
}

.context-menu:not(.inactive-modal){
    visibility: visible;
    opacity:1;
    transition-duration:250ms;
    transition-property: opacity;
    background:var(--dark-gray);
    position:absolute;
    top:500px;
    left:100px;
    display:flex;
    flex-direction:column;
    padding:12px 0;
    /*border-radius:5px;*/
    overflow:hidden;
    width:128px;
    color:white;
    z-index:1;
}

.context-menu > div{
    display:flex;
    flex-direction:row;
    align-items:center;
    background:transparent;
    transition-duration:250ms;
    width:128px;
    cursor:pointer;
    padding:3px 0;
}

.context-menu > div:hover{
    background:var(--accent-color);
}

.context-menu > div > img{
    height:14px;
    filter:invert(1);
    padding:0 8px;
}

.context-menu > div > p{
    font-size:12px;
    font-weight:500;
    cursor:pointer;
    margin:0;
}

.inactive-modal{
    visibility:hidden;
    opacity:0;
}

.active-sidebar-category{
    background:#ffe8f8;
}

#desktop-main-container{
    width:calc(100vw - 256px);
    height:calc(100vh - 48px);
}

@media(max-width:480px){
    #desktop-wrapper{
        display:none;
    }

    #mobile-wrapper{
        display:flex;
        flex-direction:column;
    }
}