@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --blue-color-1:#2472fc;
    --blue-color-2:#8711c1;
    --blue-color-dark:#354382;
}

body{
    margin:0;
    font-family:"Outfit", sans-serif;
    overflow-x:hidden;
}

#navbar{

}