#desktop-main-container{
    width:calc(100vw - calc(var(--size) * 256px));
    height:calc(100vh - calc(var(--size) * 48px));
}

#desktop-main-container-tab{
    font-size:calc(var(--size) * 12px);
    width:calc(100% - var(--size) * 48px);
    padding:calc(var(--size) * 14px) calc(var(--size) * 24px);
    font-weight:600;
    border-bottom:1px solid var(--light-border-color);
    margin:0;
    position:absolute;
    top:0;
}

#my-dashboard{
    position:absolute;
    top:calc(var(--size) * 44px);
    left:calc(var(--size) * 256px);
    width:calc(100vw - var(--size) * 256px);
    height:calc(100vh - var(--size) * 92px);
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:flex-start;
    overflow-y:scroll !important;
    overflow-x:hidden;
}

#dashboard-left{
    width:calc(100% - var(--size) * 328px);
    padding: calc(var(--size) * 24px) calc(var(--size) * 12px) calc(var(--size) * 24px) calc(var(--size) * 24px);
    height:20px;
}

#dashboard-right{
    width:calc(var(--size) * 256px);
    padding: calc(var(--size) * 24px) calc(var(--size) * 24px) calc(var(--size) * 24px) calc(var(--size) * 12px);
    position:sticky;
    top:0;
}

#profile-at-glance{
    width:calc(100% - var(--size) * 24px);
    padding: calc(var(--size) * 108px) calc(var(--size) * 12px) calc(var(--size) * 12px);
    background:var(--bg-color-1);
    border-radius:calc(var(--size) * 6px);
    position:relative;
    overflow:hidden;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
}

#profile-banner{
    width:calc(var(--size) * 256px);
    height:calc(var(--size) * 64px);
    position:absolute;
    top:0;
    left:0;
}

#profile-image-container{
    position:absolute;
    width:calc(var(--size) * 64px);
    height:calc(var(--size) * 64px);
    background:var(--bg-color-1);
    top:calc(var(--size) * 32px);
    left:calc(var(--size) * 96px);
    border-radius:50%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

#profile-image-container > img{
    height:calc(var(--size) * 36px);
}

#profile-name{
    font-size:calc(var(--size) * 16px);
    margin:0;
}

#profile-desc{
    font-size:calc(var(--size) * 12px);
    color:gray;
    margin:0;
}

#quick-buttons{
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:flex-start;
    flex-wrap:wrap;
    gap:calc(var(--size) * 24px);
}

#quick-buttons > a{
    background:var(--bg-color-1);
    border:1px solid var(--light-border-color);
    padding:calc(var(--size) * 24px);
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    position:relative;
    overflow:hidden;
    border-radius:calc(var(--size) * 6px);
    gap:calc(var(--size) * 16px);
    cursor:pointer;
    transition-duration:250ms;
    text-decoration:none;
}

#quick-buttons > a:hover{
    border:1px solid var(--primary-accent);
}

#quick-buttons > a > div:first-of-type{
    height:100%;
    width:calc(var(--size) * 6px);
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
    position:absolute;
    top:0;
    left:0;
    display:none;
}

#quick-buttons > a > img{
    height:calc(var(--size) * 24px);
}

#quick-buttons > a > div:nth-of-type(2){
    display:flex;
    flex-direction:column;
}

#quick-buttons > a > div:nth-of-type(2) > h1{
    margin:0;
    font-size:calc(var(--size) * 16px);
}

#quick-buttons > a > div:nth-of-type(2) > p{
    font-size:calc(var(--size) * 12px);
    color:gray;
    margin:0;
}

#dashboard-left > h1{
    font-size:calc(var(--size) * 16px);
    margin: calc(var(--size) * 16px) 0 0;
}

#dashboard-left > h2{
    font-size:calc(var(--size) * 14px);
    margin: calc(var(--size) * 12px) 0;
}

.recent-activity-div{
    height:calc(var(--size) * 256px);
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:flex-start;
    gap:calc(var(--size) * 12px);
    flex-wrap:wrap;
    overflow-y:scroll;
    overflow-x:hidden;
    padding:calc(var(--size) * 12px);
}

.recent-activity-div > a{
    background:var(--bg-color-1);
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;
    gap:calc(var(--size) * 18px);
    padding:calc(var(--size) * 18px);
    border:1px solid var(--light-border-color);
    border-radius:calc(var(--size) * 6px);
    text-decoration:none;
    cursor:pointer;
    transition-duration:250ms;
}

.recent-activity-div > a:hover{
    box-shadow:0 0 calc(var(--size) * 6px) 0 gray;
}

.recent-activity-div > a > div:first-of-type{
    width:calc(var(--size) * 28px);
    height:calc(var(--size) * 28px);
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    border-radius:50%;
}

.recent-activity-div > a > div:first-of-type > img{
    filter:invert(1);
    height:calc(var(--size) * 16px);
}

.recent-activity-div > a > div:last-of-type {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
    overflow-x:hidden;
    width:calc(var(--size) * 256px);
    /*gap:calc(var(--size) * 6px);*/
}

.recent-activity-div > a > div:last-of-type > h1{
    font-size:calc(var(--size) * 14px);
    margin:0;
}

.recent-activity-div > a > div:last-of-type > p{
    font-size:calc(var(--size) * 10px);
    margin:0;
    color:gray;
}

.profile-divider{
    margin:calc(var(--size) * 24px) 0;
    background:var(--light-border-color);
    height:1px;
    width:100%;
}

.community-banner{
    background:linear-gradient(135deg, var(--secondary-accent), var(--secondary-accent-gradient));
}

.shared-banner{
    /*background:linear-gradient(135deg, var(--secondary-accent), var(--secondary-accent-gradient));*/
    background:linear-gradient(135deg, var(--tertiary-accent), var(--tertiary-accent-gradient));
}

.personal-banner{
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
}

.other-banner{
    background:linear-gradient(135deg, var(--quaternary-accent), var(--quaternary-accent-gradient));
}

.profile-information{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    text-align:center;
    gap:calc(var(--size) * 6px);
    margin-bottom:calc(var(--size) * 6px);
}

.profile-information > img{
    filter:invert(0.5);
    height:calc(var(--size) * 18px);
}

.profile-information > p{
    margin:0;
    font-size:calc(var(--size) * 12px);
    color:gray;
}

#new-user-modal-bg{
    position:absolute;
    top:0;
    left:0;
    z-index:5;
    width:100vw;
    height:100vh;
    backdrop-filter:blur(calc(var(--size) * 5px));
    background:rgba(255,255,255,0.5)
}