<style>
    #footer{
        display:flex;
        flex-direction:column;
        width:100vw;
        padding:0;
    }

    #footer > div:first-of-type{
        background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
        width:84vw;
        padding:64px 8vw;
    }

    #footer > div:first-of-type > div{
        display:flex;
        flex-direction:row;
        align-items:center;
        gap:24px;
    }

    #footer > div:first-of-type > div > img{
        height:48px;
    }

    #footer > div:first-of-type > div > div{
        display:flex;
        flex-direction:column;
        gap:6px;
    }

    #footer > div:first-of-type > div > div > h1{
        font-size:28px;
        color:white;
        margin:0;
        width:38vw;
    }

    #footer  div:first-of-type > div > div > p{
        width:38vw;
        color:white;
        margin:0;
        font-size:13px;
    }

    #footer > div:first-of-type > a{
        color:white;
        text-transform:uppercase;
        text-decoration:none;
        outline:2px solid white;
        padding:6px 18px;
        font-size:14px;
        font-weight:700;
        border-radius:40px;
        cursor:pointer;
    }

    #footer > div:last-of-type{
        background:var(--light-gray);
        width:84vw;
        padding:128px 8vw;
    }

    #footer > div:last-of-type > div:first-of-type{
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        align-items:flex-start;
    }

    #footer > div:last-of-type > div:first-of-type > div:first-of-type{
        display:flex;
        flex-direction:column;
        align-items:flex-start;
        justify-content:flex-start;
        gap:6px;
    }

    #footer > div:last-of-type > div:first-of-type > div:first-of-type > div:first-of-type{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:flex-start;
        gap:12px;
    }

    #footer > div:last-of-type > div:first-of-type > div:first-of-type > div:first-of-type > img{
        height:24px;
    }

    #footer > div:last-of-type > div:first-of-type > div:first-of-type > div:first-of-type > h1{
        font-size:24px;
        margin:0;
        color:white;
    }

    #footer > div:last-of-type > div:first-of-type > div:first-of-type > p{
        font-size:12px;
        width:32vw;
        color:gray;
    }

    #footer > div:last-of-type > div:first-of-type > div:first-of-type > div:last-of-type{
        display:flex;
        flex-direction:column;
        gap:6px;
        margin-left:12px;
    }

    #footer > div:last-of-type > div:first-of-type > div:first-of-type > div:last-of-type > div{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:flex-start;
        gap:13px;
    }

    #footer > div:last-of-type > div:first-of-type > div:first-of-type > div:last-of-type > div > img{
        filter:invert(0.75);
        height:18px;
    }

    #footer > div:last-of-type > div:first-of-type > div:first-of-type > div:last-of-type > div > p{
        font-size:13px;
        margin:0;
        color:gray;
    }

    #footer > div:last-of-type > div:first-of-type > div:last-of-type{
        display:flex;
        flex-direction:row;
        align-items:flex-start;
        justify-content:flex-end;
        gap:48px;
    }

    #footer > div:last-of-type > div:first-of-type > div:last-of-type > div{
        display:flex;
        flex-direction:column;
        gap:12px;
    }

    #footer > div:last-of-type > div:first-of-type > div:last-of-type > div > h1{
        font-size:14px;
        color:white;
        margin:0;
    }

    #footer > div:last-of-type > div:first-of-type > div:last-of-type > div > a{
        transition-duration:250ms;
        color:gray;
        text-decoration:none;
        font-size:13px;
        margin:0;
    }

    #footer > div:last-of-type > div:first-of-type > div:last-of-type > div > a:hover{
        color:white;
    }

    #footer > div:last-of-type > div:nth-of-type(2){
        width:100%;
        height:1px;
        background-color:gray;
        margin:48px 0 24px 0;
    }

    #footer > div:last-of-type > div:last-of-type{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
    }

    #footer > div:last-of-type > div:last-of-type > div > p{
        margin:0;
        color:gray;
        font-size:12px;
    }

    #footer > div:last-of-type > div:last-of-type > div > a > img{
        transition-duration:250ms;
        filter:invert(0.5);
        height:18px;
    }

    #footer > div:last-of-type > div:last-of-type > div > a > img:hover{
        filter:invert(1);
    }
</style>
<div id="footer">
    <div>
        <div>
            <img src="../icons/elephant-400-400-white.png" alt="">
            <div>
                <h1>Join Elephant Today</h1>
                <p>Sign up for our online educational service and gain access to high-quality educational products that will help you excel in educational journey.</p>
            </div>
        </div>
        <a href="../login?signup">Join Elephant</a>
    </div>
    <div>
        <div>
            <div>
                <div>
                    <img src="../icons/elephant-400-400-white.png" alt="">
                    <h1>Elephant</h1>
                </div>
                    <p>Elephant provides accessible, high-quality educational products and services that empower individuals to achieve their goals and reach their full potential.</p>
                <div>
                    <div>
                        <img src="../icons/landing/phone.png" alt="">
                        <p>+1 (425) 289-9748</p>
                    </div>
                    <div>
                        <img src="../icons/landing/email.png" alt="">
                        <p>support@elephantsuite.net</p>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <h1>Services</h1>
                    <a href="../services/flip">Flip</a>
                    <a href="../services/ask">Ask</a>
                    <a href="../services/timeline">Timeline</a>
                </div>
                <div>
                    <h1>About Us</h1>
                    <a href="../about/mission">Our Mission</a>
                    <a href="../about/employees">Employee Directory</a>
                </div>
                <div>
                    <h1>Legal</h1>
                    <a href="../legal/user-agreement">User Agreement</a>
                </div>
            </div>
        </div>
        <div id="footer-line"></div>
        <div>
            <div>
                <p>© 2023 Kothari Enterprises LLC</p>
            </div>
            <div>
                <a href="https://www.youtube.com/@ElephantSuite"><img src="../icons/landing/youtube.png" alt=""></a>
                <a href="https://www.instagram.com/elephantsuite/"><img src="../icons/landing/instagram.png" alt=""></a>
                <a href="https://www.tiktok.com/@elephantsuite"><img src="../icons/landing/tiktok.png" alt=""></a>
                <a href="https://github.com/Elephant-Learning/"><img src="../icons/landing/github.png" alt=""></a>
                <a href="https://discord.gg/YbZS8H6RbB/"><img src="../icons/landing/discord.png" alt=""></a>
            </div>
        </div>
    </div>
</div>
<script>

</script>