<style>
    #announcements{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:center;
        position:relative;
        height:36px;
        background:var(--light-gray);
        overflow:hidden;
        transition-duration:500ms;
    }

    #announcements.inactive-modal{
        height:0;
    }

    #announcements > p{
        font-size:13px;
        font-weight:500;
        color:white;
        margin:0;
    }

    #announcements > button{
        position:absolute;
        right:12px;
        height:24px;
        width:24px;
        font-weight:700;
        color:gray;
        background:transparent;
        border:none;
        cursor:pointer;
    }

    #navbar-banner{
        width:100vw;
        height:12px;
        background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient), var(--tertiary-accent), var(--tertiary-accent-gradient));
    }

    #navbar{
        display:flex;
        flex-direction:column;
        align-items:flex-start;
        justify-content:flex-start;
        margin-bottom:-56px;
        overflow:visible;
        z-index:4;
    }

    #navbar-header{
        height:48px;
        padding:0 36px;
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        align-items:center;
        width:calc(100vw - 72px);
        border-bottom:1px solid var(--light-border-color);
    }

    #navbar-header > div{
        display:flex;
        flex-direction:row;
        align-items:center;
    }

    #navbar-header-left{
        gap:12px;
    }

    #navbar-header-right{
        gap:24px;
    }

    #navbar-header-left > img{
        height:18px;
    }

    #navbar-header-left > a{
        color:black;
        font-weight:600;
        font-size:14px;
        text-decoration:none;
        margin:0;
    }

    #navbar-header-right > *{
        text-decoration:none;
        color:black;
        font-size:14px;
        font-weight:500;
        cursor:default;
    }

    #navbar-header-right > a{
        cursor:pointer !important;
    }

    #navbar-body{
        height:72px;
        padding:0 36px;
        display:flex;
        flex-direction:row;
        justify-content:flex-start;
        align-items:center;
        width:calc(100vw - 72px);
        border-bottom:1px solid var(--light-border-color);
        gap:24px;

    }

    #navbar-body > a > img{
        height:36px;
    }

    #navbar-body-input-container{
        width:calc(100vw - 342px);
        height:48px;
        background:var(--bg-color-2);
        border:1px solid var(--light-border-color);
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:flex-start;
        overflow:hidden;
        border-radius:6px;
        gap:12px;
    }

    #navbar-body-input-container > img{
        filter:invert(0.5);
        margin-left:12px;
        height:18px;
    }

    #navbar-body-input{
        width:calc(100% - 160px);
        height:48px;
        border:none;
        background:transparent;
        font-weight:500;
        font-size:14px;
        outline:none;
        color:gray;
    }

    #navbar-body-input-container > button{
        height:48px;
        color:white;
        text-transform:uppercase;
        border:none;
        background:var(--dark-gray);
        padding:0 24px;
        font-weight:600;
        cursor:pointer;
        text-decoration:none;
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:center;
        text-align:center;
        font-size:14px;
    }

    .button-heavy{
        height:48px;
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:center;
        text-align:center;
        text-decoration:none;
        color:gray;
        border:1px solid lightgray;
        padding:0 24px;
        border-radius:6px;
    }

    .button-light{
        color:gray;
        text-decoration:none;
    }

    .navbar-modal{
        position:relative;
        display:flex;
        flex-direction:column;
        align-items:center;
        z-index:2;
    }

    .navbar-modal > div:last-of-type{
        position:absolute;
        top:36px;
        right:-48px;
        border:1px solid var(--light-border-color);
        overflow:hidden;
        border-radius:12px;
        visibility:hidden;
        opacity:0;
        transition-duration:250ms;
        transition-delay:1s;
        box-shadow:0 0 6px 0 gray;
    }

    .navbar-modal > div:first-of-type > p{
        cursor:default;
    }

    .navbar-modal > div:first-of-type > p, #navbar-right > a{
        margin:0;
        font-size:14px;
        text-decoration:none;
        color:black;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        transition-duration:250ms;
        padding:0;
    }

    .navbar-modal:hover > div:last-of-type{
        visibility: visible;
        opacity:1;
        transition-delay:0s;
    }

    .navbar-modal > div:last-of-type > div:first-of-type{
        display:flex;
        padding:24px;
        gap:24px;
        flex-direction:row;
        justify-content:flex-start;
        align-items:flex-start;
        background:var(--bg-color-1);
    }

    .navbar-modal > div:last-of-type > div:first-of-type > div{
        width:256px;
    }

    .navbar-modal > div:last-of-type > div:first-of-type > div:first-of-type{
        display:flex;
        flex-direction:column;
        gap:12px;
    }

    .navbar-modal > div:last-of-type > div:first-of-type > div:first-of-type > a{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:flex-start;
        gap:12px;
        padding:12px;
        transition-duration:250ms;
        cursor:pointer;
        border-radius:6px;
        text-decoration:none;
    }

    .navbar-modal > div:last-of-type > div:first-of-type > div:first-of-type > a:hover{
        background:var(--bg-color-2);
    }

    .navbar-modal > div:last-of-type > div:first-of-type > div:first-of-type > a > img{
        height:18px;
    }

    .navbar-modal > div:last-of-type > div:first-of-type > div:first-of-type > a > div > h1, .navbar-modal > div:last-of-type > div:last-of-type > div > h1, .navbar-modal > div:last-of-type > div:first-of-type > div:last-of-type > h1{
        margin:0;
        font-size:14px;
        text-decoration:none;
        color:black;
    }

    .navbar-modal > div:last-of-type > div:first-of-type > div:last-of-type > h1{
        font-weight:500;
        color:gray;
    }

    .navbar-modal > div:last-of-type > div:first-of-type > div:last-of-type{
        display:flex;
        flex-direction:column;
        gap:6px;
    }

    .navbar-modal > div:last-of-type > div:first-of-type > div:last-of-type > a{
        text-decoration:none;
        color:black;
        font-weight:700;
        font-size:14px;
    }

    .navbar-modal > div:last-of-type > div:first-of-type > div:first-of-type > a > div > p{
        font-size:13px;
        text-decoration:none;
        margin:0;
        color:gray;
    }

    .navbar-modal > div:last-of-type > div:last-of-type{
        border-top:1px solid var(--light-border-color);
        background:var(--bg-color-2);
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
        width:536px;
        padding:24px;
    }
    .navbar-modal > div:last-of-type > div:last-of-type > div{
        display:flex;
        flex-direction:column;
        gap:6px;
    }

    .navbar-modal > div:last-of-type > div:last-of-type > div > p{
        color:gray;
        margin:0;
        font-size:13px;
    }

    .navbar-modal > div:last-of-type > div:last-of-type > a{
        padding:8px 12px;
        border-radius:6px;
        transition-duration:250ms;
    }

    .navbar-modal > div:last-of-type > div:last-of-type > a:hover{
        transform:scale(1.05);
    }

    .navbar-modal > div:last-of-type > div:last-of-type > a:active{
        transform:scale(1);
    }

    .button-primary{
        border:1px solid var(--dark-gray);
        background:var(--dark-gray);
        cursor:pointer;
        transition-duration:250ms;
        font-size:14px;
        text-decoration:none;
        font-weight:500;
        color:white;
        border-radius:6px;
    }

    .button-secondary{
        border:1px solid var(--light-border-color);
        background:var(--bg-color-1);
        box-shadow:0 1px 2px 0 var(--light-border-color);
        font-size:14px;
        cursor:pointer;
        transition-duration:250ms;
        font-weight:500;
        text-decoration:none;
        color:black;
    }

    .button-tertiary{
        text-decoration:none;
        font-weight:600;
        color:black;
    }

    #navbar-search-modal{
        width:calc(100vw - 390px);
        height:calc(70vh - 176px);
        padding:24px;
        position:absolute;
        background:white;
        z-index:3;
        left:96px;
        top:133px;
        border-bottom-right-radius:12px;
        border-bottom-left-radius:12px;
        transition-duration:250ms;
        visibility:visible;
        display:flex;
        flex-direction:column;
        align-items:flex-start;
        justify-content:flex-start;
        overflow-y:scroll;
        gap:6px;
    }

    #navbar-search-modal.inactive-modal{
        height:0;
        visibility:hidden;
    }

    #navbar-search-modal > h1{
        font-size:calc(var(--size) * 14px);
        font-weight:600;
        margin:0;
    }

    .navbar-search-modal-result-container{
        width:100%;
        margin-bottom:12px;
    }

    .navbar-search-modal-loader{
        display:flex;
        flex-direction:row;
        align-items:center;
        gap:24px;
        width:100%;
    }

    .skeleton-loader{
        display:block;
        background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 0) 80%
        ),
        var(--light-border-color);
        background-repeat: repeat-y;
        background-size: 50px 500px;
        background-position: 0 0;
        animation: shine 2500ms infinite;
    }

    .navbar-search-modal-loader > div:first-of-type{
        width:36px;
        height:36px;
    }

    .navbar-search-modal-loader > div:last-of-type{
        display:flex;
        flex-direction:column;
        width:100%;
        gap:6px;
    }

    .navbar-search-modal-loader > div:last-of-type > div:first-of-type{
        width:100%;
        height:16px;
    }

    .navbar-search-modal-loader > div:last-of-type > div:last-of-type{
        width:100%;
        height:14px;
    }

    @keyframes shine {
        to {
            background-position: 100% 0, 0 0;
        }
    }

    .navbar-search-modal-template{
        display:none;
    }

    .navbar-search-modal-result-container > div:not(.navbar-search-modal-loader):not(.navbar-search-modal-template){
        display:flex;
        flex-direction:row;
        align-items:center;
        gap:24px;
        margin-bottom:6px;
    }

    .navbar-search-modal-result-container > div:not(.navbar-search-modal-loader):not(.navbar-search-modal-template) > img{
        height:24px;
    }

    .navbar-search-modal-result-container > div:not(.navbar-search-modal-loader):not(.navbar-search-modal-template) > div{
        display:flex;
        flex-direction:column;
    }

    .navbar-search-modal-result-container > div:not(.navbar-search-modal-loader):not(.navbar-search-modal-template) > div > h1{
        margin:0;
        font-size:14px;
    }

    .navbar-search-modal-result-container > div:not(.navbar-search-modal-loader):not(.navbar-search-modal-template) > div > p{
        margin:0;
        font-size:12px;
        color:gray;
    }
</style>
<div id="navbar">
    <div id="navbar-banner"></div>
    <div id="navbar-header">
        <div id="navbar-header-left">
            <img src="../flip/icons/emojis/laugh.png" alt="" id="navbar-emoji">
            <a href="../">Elephant - The Ultimate Student Suite</a>
        </div>
        <div id="navbar-header-right">
            <div class="navbar-modal">
                <div>
                    <p>Services</p>
                </div>
                <div>
                    <div>
                        <div>
                            <a href="../services/flip">
                                <img src="../flip/icons/deck.png" alt="">
                                <div>
                                    <h1>Elephant Flip</h1>
                                    <p>Memorization Made Easy</p>
                                </div>
                            </a>
                            <a href="../services/ask">
                                <img src="../ask/icons/ask.png" alt="">
                                <div>
                                    <h1>Elephant Ask</h1>
                                    <p>Memorization Made Easy</p>
                                </div>
                            </a>
                            <a href="../services/timeline">
                                <img src="../timeline/icons/timeline.png" alt="">
                                <div>
                                    <h1>Elephant Timeline</h1>
                                    <p>Memorization Made Easy</p>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h1>Learn More</h1>
                            <a href="https://docs.elephantsuite.net/docs/elephant-services.html">Elephant Services</a>
                            <a href="https://docs.elephantsuite.net/docs/how-to-create-flip-deck.html">Create Flip Deck</a>
                            <a href="https://docs.elephantsuite.net/docs/how-to-use-flip-deck.html">Study Flip Deck</a>
                            <a href="https://docs.elephantsuite.net/docs/asking-questions-with-elephant-ask.html">Asking Questions</a>
                            <a href="https://docs.elephantsuite.net/docs/earning-ask-points.html">Earning Ask Points</a>
                            <a href="https://docs.elephantsuite.net/docs/how-to-create-timelines.html">Creating Timelines</a>
                            <a href="https://docs.elephantsuite.net/docs/how-to-study-timelines.html">Studying Timelines</a>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h1>Ready to Use These Services?</h1>
                            <p>Join Elephant today to gain access to all services for free!</p>
                        </div>
                        <a href="../login/?signup" class="button-secondary">Join Elephant</a>
                    </div>
                </div>
            </div>
            <div class="navbar-modal">
                <div>
                    <p>About Us</p>
                </div>
                <div>
                    <div>
                        <div>
                            <a href="../about/mission">
                                <img src="../icons/landing/mission.png" alt="">
                                <div>
                                    <h1>Our Mission</h1>
                                    <p>Why we do what we do</p>
                                </div>
                            </a>
                            <a href="../about/employees">
                                <img src="../icons/landing/employees.png" alt="">
                                <div>
                                    <h1>Our Employees</h1>
                                    <p>Who Made This Happen</p>
                                </div>
                            </a>
                        </div>
                        <div>
                            <h1>Help Elephant</h1>
                            <a href="https://docs.elephantsuite.net/docs/elephant-careers.html">Careers</a>
                            <a href="https://docs.elephantsuite.net/docs/contribute-to-elephant.html">Contribute</a>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h1>Want to Contribute to Elephant?</h1>
                            <p>Help students maximize their full intellectual potential!</p>
                        </div>
                        <a href="https://docs.elephantsuite.net/docs/contribute-to-elephant.html" class="button-secondary">Contribute</a>
                    </div>
                </div>
            </div>
            <a href="">Support</a>
        </div>
    </div>
    <div id="navbar-body">
        <a href="../"><img src="../icons/elephant-400-400-pink-02.png" alt=""></a>
        <div id="navbar-body-input-container">
            <img src="../flip/icons/search.png" alt="">
            <input type="text" id="navbar-body-input" placeholder="Power Search Decks, Timelines, Questions, Users, Etc.">
            <button id="navbar-search">Search</button>
        </div>
        <a href="../login/?signup" class="button-heavy">Sign Up</a>
        <a href="../login/" class="button-light">Sign In</a>
    </div>
    <a href="../search?query=" id="search-hyperlink"></a>
</div>
<div id="navbar-search-modal" class="inactive-modal">
    <h1>Elephant Flip Decks</h1>
    <div class="navbar-search-modal-result-container inactive-modal">
        <div class="navbar-search-modal-loader">
            <div class="skeleton-loader"></div>
            <div>
                <div class="skeleton-loader"></div>
                <div class="skeleton-loader"></div>
            </div>
        </div>
        <div class="navbar-search-modal-template">
            <img src="../flip/icons/deck.png" alt="">
            <div>
                <h1>Something</h1>
                <p>Another Thing</p>
            </div>
        </div>
    </div>
    <h1>Elephant Ask Questions</h1>
    <div class="navbar-search-modal-result-container inactive-modal">
        <div class="navbar-search-modal-loader">
            <div class="skeleton-loader"></div>
            <div>
                <div class="skeleton-loader"></div>
                <div class="skeleton-loader"></div>
            </div>
        </div>
        <div class="navbar-search-modal-template">
            <img src="../ask/icons/ask.png" alt="">
            <div>
                <h1>Something</h1>
                <p>Another Thing</p>
            </div>
        </div>
    </div>
    <h1>Elephant Timelines</h1>
    <div class="navbar-search-modal-result-container inactive-modal">
        <div class="navbar-search-modal-loader">
            <div class="skeleton-loader"></div>
            <div>
                <div class="skeleton-loader"></div>
                <div class="skeleton-loader"></div>
            </div>
        </div>
        <div class="navbar-search-modal-template">
            <img src="../timeline/icons/timeline.png" alt="">
            <div>
                <h1>Something</h1>
                <p>Another Thing</p>
            </div>
        </div>
    </div>
    <h1>Elephant Users</h1>
    <div class="navbar-search-modal-result-container inactive-modal">
        <div class="navbar-search-modal-loader">
            <div class="skeleton-loader"></div>
            <div>
                <div class="skeleton-loader"></div>
                <div class="skeleton-loader"></div>
            </div>
        </div>
        <div class="navbar-search-modal-template">
            <img src="../flip/icons/user.png" alt="">
            <div>
                <h1>Something</h1>
                <p>Another Thing</p>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById("navbar-body-input").addEventListener("focus", function(e){
        document.getElementById("navbar-search-modal").classList.remove("inactive-modal")
    });

    document.getElementById("navbar-body-input").onblur = function(){
        document.getElementById("navbar-search-modal").classList.add("inactive-modal");
    }

    document.getElementById("navbar-search").onclick = async function(){
        document.getElementById("navbar-body-input").focus();

        document.querySelectorAll(".navbar-search-modal-result-container").forEach(function(elem){
            for(let i = 0; i < elem.children.length; i++){
                if(!elem.children[i].classList.contains("navbar-search-modal-loader") && !elem.children[i].classList.contains("navbar-search-modal-template")){
                    elem.children[i].remove();
                    i--;
                }
            }
        })

        document.querySelectorAll(".navbar-search-modal-loader").forEach(function(elem){
            elem.classList.remove("inactive-modal");
        });

        document.querySelectorAll(".navbar-search-modal-result-container").forEach(function(elem){
            elem.classList.remove("inactive-modal");
        });

        const query = document.getElementById("navbar-body-input").value;
        const elems = [];

        const deckResponse = await fetch(`https://elephantsuite-rearend.herokuapp.com/deck/getByName?name=${query}&userId=-1`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Access-Control-Allow-Origin': '*',
                'Access-Control-Allow-Methods': 'DELETE, POST, GET, OPTIONS',
                'Access-Control-Allow-Headers': 'Content-Type'
            },
            mode: 'cors'
        });

        const deckContext = await deckResponse.json();
        elems.push(deckContext.context.decks);

        const askResponse = await fetch(`https://elephantsuite-rearend.herokuapp.com/answers/searchByName?name=${query}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Access-Control-Allow-Origin': '*',
                'Access-Control-Allow-Methods': 'DELETE, POST, GET, OPTIONS',
                'Access-Control-Allow-Headers': 'Content-Type'
            },
            mode: 'cors'
        });

        const askContext = await askResponse.json();
        elems.push(askContext.context.answers);

        const timelineResponse = await fetch(`https://elephantsuite-rearend.herokuapp.com/timeline/search?query=${query}&userId=-1`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Access-Control-Allow-Origin': '*',
                'Access-Control-Allow-Methods': 'DELETE, POST, GET, OPTIONS',
                'Access-Control-Allow-Headers': 'Content-Type'
            },
            mode: 'cors'
        });

        const timelineContext = await timelineResponse.json();
        elems.push(timelineContext.context.timelines);

        const userResponse = await fetch(`https://elephantsuite-rearend.herokuapp.com/login/userByName?name=${query}&userId=-1`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Access-Control-Allow-Origin': '*',
                'Access-Control-Allow-Methods': 'DELETE, POST, GET, OPTIONS',
                'Access-Control-Allow-Headers': 'Content-Type'
            },
            mode: 'cors'
        });

        const userContext = await userResponse.json();
        elems.push(userContext.context.users);

        console.log(elems);

        let i = 0;

        document.querySelectorAll(".navbar-search-modal-result-container").forEach(function(elem){
            for(let j = 0; j < elems[i].length; j++){
                console.log(i)
                let newNode = document.querySelectorAll(".navbar-search-modal-template")[i].cloneNode(true);

                if(i === 0){
                    newNode.children[1].children[0].innerHTML = elems[i][j].name;
                    newNode.children[1].children[1].innerHTML = computeTime(elems[i][j].created);
                } else if(i === 1){
                    newNode.children[1].children[0].innerHTML = elems[i][j].title;
                    newNode.children[1].children[1].innerHTML = `By ${elems[i][j].authorName}`;
                } else if(i === 2){
                    newNode.children[1].children[0].innerHTML = elems[i][j].name;
                    newNode.children[1].children[1].innerHTML = `By ${elems[i][j].authorName}`;
                } else if(i === 3){
                    newNode.children[1].children[0].innerHTML = elems[i][j].fullName;
                    newNode.children[1].children[1].innerHTML = elems[i][j].type;
                }

                newNode.classList.remove("navbar-search-modal-template");

                elem.appendChild(newNode);
            } i++;
        });

        document.querySelectorAll(".navbar-search-modal-loader").forEach(function(elem){
            elem.classList.add("inactive-modal");
        });
    }

    function timeToText(date){
        let month = ["January","February","March","April","May","June","July", "August","September","October","November","December"];
        let AMPM = "A.M.";
        let dateHours = date.getHours();
        let dateMinutes = date.getMinutes();
        let dateDay = date.getDate();

        if(dateHours === 0) dateHours += 12;
        else if(dateHours >= 12){
            AMPM = "P.M."
            if(dateHours > 12){
                dateHours -= 12;
            }
        }

        if(dateMinutes < 10){
            dateMinutes = "0" + dateMinutes;
        } if(dateDay < 10){
            dateDay = "0" + dateDay;
        }

        return month[date.getMonth()] + " " + dateDay + ", " + date.getFullYear() + " at " + dateHours + ":" + dateMinutes + " " + AMPM;
    }

    function computeTime(time){
        let splitTime = time.split('-');
        let timing = splitTime[2].split(':');
        let originalDate = new Date(Date.UTC(splitTime[0], splitTime[1] - 1, timing[0].substring(0, 2), timing[0].slice(-2), timing[1]));

        return timeToText(originalDate);
    }

    window.onload = function (){
        const emojis = [
            "angry",
            "confused",
            "cool",
            "cry",
            "happy",
            "laugh",
            "nerd",
            "neutral",
            "sad",
            "skull",
            "unamused",
            "uwu",
            "wink"
        ];

        console.log();

        //document.getElementById("navbar-emoji").setAttribute("src", ``)

        if(Math.floor(Math.random() * 100) === 0) `${document.getElementById("navbar-emoji").src.substring(0, document.getElementById("navbar-emoji").src.lastIndexOf('/'))}/frog.png`
        else document.getElementById("navbar-emoji").setAttribute("src", `${document.getElementById("navbar-emoji").src.substring(0, document.getElementById("navbar-emoji").src.lastIndexOf('/'))}/${emojis[Math.floor(Math.random() * emojis.length)]}.png`)
    };
</script>