@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --text-color:black;
    --image-invert:0;
    --hover-dark:#0f0f0f;
    --dark-gray:#1e1e1e;
    --light-gray:#2c2c2c;
    --bg-color-1:#ffffff;
    --bg-color-2:#f6f7fb;
    --light-border-color:#ebebeb;
    --dark-border-color:#343434;
    --hover-light:#f5f5f5;
    --primary-accent:#fe599d;
    --primary-accent-gradient:#f30096;
    --secondary-accent:#00a8ff;
    --secondary-accent-gradient:#31d6dc;
    --tertiary-accent:#f8680a;
    --tertiary-accent-gradient:#fa8d37;
    --quaternary-accent:#00ff77;
    --quaternary-accent-gradient:#19cf77;
    --light-secondary:#edf9fe;
    --light-tertiary:#fefaed;
        /*--tertiary-accent:#00ff6e;
        --tertiary-accent-gradient:#31dc53;*/
    --accent-highlight:#f30096;
    --light-accent:#ffedf6;
    --size:1;
}

::selection, ::-moz-selection {
    background: var(--primary-accent);
}

*::-webkit-scrollbar{
    width:calc(var(--size) * 8px);
    height:calc(var(--size) * 8px);
    background:transparent;
}

*::-webkit-scrollbar-thumb{
    background:var(--dark-border-color);
}

*::-webkit-scrollbar-corner{
    background:transparent;
}

.primary-filter{
    filter: invert(64%) sepia(80%) saturate(4293%) hue-rotate(305deg) brightness(102%) contrast(99%);
}

.secondary-filter{
    filter: invert(41%) sepia(71%) saturate(2119%) hue-rotate(178deg) brightness(108%) contrast(106%);
}

.tertiary-filter{
    filter: invert(49%) sepia(44%) saturate(3737%) hue-rotate(355deg) brightness(97%) contrast(101%);
}

body{
    font-family: 'Montserrat', sans-serif;
    background:var(--bg-color-1);
    overflow:hidden;
    margin:0;
}

body *{
    font-family: 'Montserrat', sans-serif;
    color:var(--text-color);
}

#desktop-wrapper{
    display:flex;
    flex-direction:column;
    width:100vw;
    height:100vh;
    overflow-x:hidden;
    overflow-y:hidden;
}

#desktop-loader-container:not(.inactive-modal){
    opacity:1;
    visibility: visible;
}

#desktop-loader-container{
    transition-duration:500ms;
    position:absolute;
    z-index:5;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    overflow:hidden;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

#desktop-loader-bg-left{
    background:var(--dark-gray);
    width:50vw;
    height:100vh;
    position:absolute;
    left:0;
    z-index:6;
}

#desktop-loader-bg-right{
    background:var(--dark-gray);
    width:50vw;
    height:100vh;
    position:absolute;
    right:0;
    z-index:6;
}

#desktop-loader{
    width:30vmin;
    height:30vmin;
    background:linear-gradient(135deg, var(--primary-accent) 50%, var(--accent-highlight) 50%);
    z-index:7;
    border-radius:50%;
    box-shadow:0 0 5vmin 0 black;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    animation-name:loaderRotate;
    animation-duration:2500ms;
    animation-iteration-count:infinite;
}

#desktop-loader-img{
    height:17.5vmin;
    position:absolute;
    animation-name:elephantZoom;
    animation-duration:2500ms;
    animation-iteration-count:infinite;
    z-index:7;
}

#desktop-loader-text{
    position:absolute;
    z-index:7;
    color:white;
    bottom:27.5vmin;
}

@keyframes loaderRotate{
    from{
        transform:rotate(0deg);
    } to {
          transform:rotate(2880deg)
      }
}

@keyframes elephantZoom{
    from{
        transform:scale(1);
    } 50%{
          transform:scale(1.1);
      } to{
            transform:scale(1);
        }
}

#desktop-parent-container{
    position:absolute;
    left:0;
    top:calc(var(--size) * 48px);
    width:100vw;
    height:calc(100vh - var(--size) * 48px);
    background:var(--bg-color-2);
    overflow:hidden;
    display:flex;
    flex-direction:row;
}

#music-modal{
    background:var(--bg-color-1);
    position:absolute;
    z-index:4;
    bottom:calc(var(--size) * 24px);
    padding:calc(var(--size) * 12px) calc(var(--size) * 24px);
    right:calc(var(--size) * 24px);
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    gap:calc(var(--size) * 12px);
    border-radius:calc(var(--size) * 12px);
    box-shadow:0 0 calc(var(--size) * 12px) 0 var(--light-border-color);
    transition-duration:250ms;
}

#music-image{
    width:calc(var(--size) * 24px);
    height:calc(var(--size) * 24px);
    background-image:url("../../music/covers/nostalgia.png");
    border-radius:calc(var(--size) * 6px);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

#music-controls{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    gap:calc(var(--size) * 12px);
}

#music-controls > img{
    height:calc(var(--size) * 18px);
    cursor:pointer;
}

#music-name{
    font-size:calc(var(--size) * 14px);
    margin: 0 calc(var(--size) * 24px) 0 0;
}

#desktop-notifications-modal{
    display:flex;
    flex-direction:column;
    position:absolute;
    right:calc(var(--size) * 24px);
    top:calc(var(--size) * 56px);
    z-index:2;
    background:var(--bg-color-1);
    transition-duration:250ms;
    border-radius:calc(var(--size) * 6px);
    border:1px solid var(--light-border-color);
    justify-content:center;
    visibility:visible;
}

#desktop-notifications-header{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    padding:calc(var(--size) * 12px) calc(var(--size) * 24px) calc(var(--size) * 6px) calc(var(--size) * 24px);
    width:calc(var(--size) * 324px);
}

#desktop-notifications-header > h1{
    margin:0;
    font-size:16px;
    font-weight:600;
}

#desktop-notifications-header > img{
    height:calc(var(--size) * 16px);
    filter:invert(0.25);
    cursor:pointer;
}

#desktop-notifications-tabs{
    display:flex;
    flex-direction:row;
    align-items:center;
    padding:calc(var(--size) * 0px) calc(var(--size) * 18px);
    width:calc(var(--size) * 336px);
    gap:calc(var(--size) * 18px);
    border-bottom:1px solid var(--light-border-color);
}

#desktop-notifications-list-container{
    display:flex;
    flex-direction:column;
    flex-shrink: 0;
    width:calc(var(--size) * 372px);
    height:calc(var(--size) * 512px);
    max-height:calc(var(--size) * 490px);
    position:relative;
    align-items:center;
    justify-content:center;
}

.active-notifications-list::-webkit-scrollbar-thumb{
    background:var(--light-border-color);
    border-radius:calc(var(--size) * 4px) 0 0 calc(var(--size) * 4px);
}

.desktop-notifications-list:not(.active-notifications-list), #no-notifications:not(.active-notifications-list){
    visibility:hidden;
    opacity:0;
    height:0;
}

.desktop-notifications-tab{
    transition-duration:125ms;
}

.active-notifications-list{
    visibility:visible;
    overflow-y:scroll;
    overflow-x:hidden;
    opacity:1;
}

#no-notifications, .desktop-notifications-list{
    width:calc(var(--size) * 324px);
    height:calc(var(--size) * 418px);
    max-height:calc(100vh - 275px);
    padding:calc(var(--size) * 24px);
    position:absolute;
}

.desktop-notifications-list{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
    gap:calc(var(--size) * 18px);
    top:0;
    left:0;
}

#no-notifications{
    border:2px dashed var(--light-border-color);
    border-radius:calc(var(--size) * 6px);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
    width:calc(100% - var(--size) * 96px);
    gap:calc(var(--size) * 12px);
}

#no-notifications > *{
    width:calc(var(--size) * 276px);
}

#no-notifications > p{
    color:gray;
    font-size:calc(var(--size) * 12px);
    font-weight:500;
    margin:0;
}

#no-notifications > button{
    height:calc(var(--size) * 30px);
    font-size:calc(var(--size) * 14px);
    background:var(--light-gray);
    border:none;
    outline:none;
    border-radius:calc(var(--size) * 6px);
    cursor:pointer;
    color:white;
    transition-duration:125ms;
    width:calc(var(--size) * 256px);
    text-transform:uppercase;
    letter-spacing:1px;
}

#no-notifications > button:hover{
    transform:scale(1.025);
    box-shadow:0 0 6px 0 var(--light-gray);
}

#no-notifications > button:active{
    box-shadow:0 0 0;
    transform:none;
}

.desktop-notifications-tab{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:calc(var(--size) * 6px);
    cursor:pointer;
    padding:calc(var(--size) * 6px);
    transition-duration:125ms;
    border-bottom:1px solid var(--bg-color-1);
}

.desktop-notifications-tab > *{
    transition-duration:125ms;
}

.desktop-notifications-tab > h1{
    font-size:calc(var(--size) * 14px);
    font-weight:500;
    margin:0;
    cursor:pointer;
}

.desktop-notifications-tab > p{
    font-size:calc(var(--size) * 10px);
    font-weight:500;
    padding:calc(var(--size) * 3px) calc(var(--size) * 6px);
    border-radius:calc(var(--size) * 3px);
    margin:0;
    cursor:pointer;
}

.desktop-notifications-tab:not(.active-notifications-tab) > h1{
    color:#aaa;
}

.desktop-notifications-tab:not(.active-notifications-tab) > p{
    color:#aaa;
    background:var(--light-border-color);
}

.active-notifications-tab{
    border-bottom:1px solid var(--light-gray);
}

.active-notifications-tab > p{
    color:white;
    background:var(--light-gray);
}

.desktop-notification{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
    width:calc(var(--size) * 324px);
    gap:calc(var(--size) * 12px);
    border-bottom:1px solid var(--light-border-color);
    padding-bottom:calc(var(--size) * 18px);
}

.desktop-notification > *{
    flex-shrink: 0;
}

.desktop-notification > div:first-of-type{
    width:calc(var(--size) * 8px);
    height:calc(var(--size) * 8px);
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
    border-radius:50%;
}

.desktop-notification > div:nth-of-type(2){
    background:var(--light-accent);
    height:calc(var(--size) * 42px);
    width:calc(var(--size) * 42px);
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    border-radius:calc(var(--size) * 6px);
}

.desktop-notification > div:nth-of-type(2) > img{
    height:calc(var(--size) * 32px);
}

.desktop-notification > div:nth-of-type(3){
    display:flex;
    flex-direction:column;
    gap:calc(var(--size) * 6px);
}

.desktop-notification > div:nth-of-type(3) > h1{
    margin:0;
    width:calc(var(--size) * 256px);
    font-size:calc(var(--size) * 13px);
    font-weight:400;
}

.desktop-notification > div:nth-of-type(3) > p{
    margin:0;
    font-size:calc(var(--size) * 12px);
    font-weight:300;
    color:gray;
}

.desktop-notification-options{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:calc(var(--size) * 9px);
}

.desktop-notification-options > button{
    padding:calc(var(--size) * 6px) calc(var(--size) * 18px);
    border-radius:calc(var(--size) * 4px);
    cursor:pointer;
    font-weight:400;
    font-size:calc(var(--size) * 11px);
    transition-duration:250ms;
}

.desktop-notification-options > button:hover{
    box-shadow:0 0 calc(var(--size) * 6px) 0 var(--light-gray);
}

.desktop-notification-options > button:active{
    box-shadow:none;
}

.desktop-notification-btn-2{
    border:1px solid var(--light-border-color);
    background:var(--bg-color-1);
    color:var(--text-color);
}

.desktop-notification-btn-1{
    border:1px solid var(--dark-border-color);
    background:var(--light-gray);
    color:white;
}

#desktop-notifications-modal.inactive-modal{
    display:none;
}

.bolded{
    font-weight:700;
}

.inactive-modal{
    visibility:hidden;
    opacity:0;
}

#desktop-sidebar{
    width:calc(var(--size) * 256px);
    border-right:1px solid var(--light-border-color);
    height:calc(100vh - var(--size) * 72px);
    background:transparent;
    background:var(--bg-color-1);
    padding:calc(var(--size) * 12px) 0;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    gap:calc(var(--size) * 6px);
}

.sidebar-button, .sidebar-dropdown > div:first-of-type{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;
    gap:calc(var(--size) * 12px);
    padding:calc(var(--size) * 6px) 0;
    width:calc(var(--size) * 208px);
    border-radius:calc(var(--size) * 6px);
    cursor:pointer;
}

.sidebar-button{
    transition-duration:250ms;
    padding: calc(var(--size) * 6px) calc(var(--size) * 12px);
}

.sidebar-button:not(.active-sidebar-button):hover, .sidebar-dropdown > div:last-of-type > div:not(.active-sidebar-dropdown-category):hover{
    background:var(--light-border-color);
}

.sidebar-dropdown{
    display:flex;
    flex-direction:column;
    align-items:flex-end;
}

.active-sidebar-dropdown > div:first-of-type > div:last-of-type > img:last-of-type{
    transform:rotate(180deg);
}

.sidebar-dropdown:not(.active-sidebar-dropdown) > div:last-of-type{
    height:0;
    overflow-y:hidden;
}

.sidebar-dropdown > div:last-of-type{
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    width:calc(var(--size) * 184px);
    gap:calc(var(--size) * 6px);
    height:auto;
    transition-duration:250ms;
}

.sidebar-dropdown > div:last-of-type > div{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;
    gap:calc(var(--size) * 12px);
    padding:calc(var(--size) * 6px) calc(var(--size) * 12px);
    border-radius:calc(var(--size) * 6px);
    width:calc(var(--size) * 160px);
    transition-duration:250ms;
    cursor:pointer;
}

.sidebar-dropdown > div:last-of-type > div::before{
    content:'';
    background:var(--light-border-color);
    width:calc(var(--size) * 8px);
    height:calc(var(--size) * 8px);
    position:absolute;
    left:calc(var(--size) * -20px);
    border-radius:50%;
    z-index:1;
}

.active-sidebar-dropdown-category::before{
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient)) !important;
}

.sidebar-dropdown > div:last-of-type > div:not(:last-of-type)::after{
    content:'';
    width:calc(var(--size) * 2px);
    height:calc(var(--size) * 30px);
    position:absolute;
    left:calc(var(--size) * -17px);
    top:calc(var(--size) * 16px);
    background:var(--light-border-color);
}

.active-sidebar-dropdown-category, .active-sidebar-button{
    background:var(--light-accent);
}

.sidebar-dropdown > div:first-of-type, .sidebar-dropdown > div:last-of-type > div{
    position:relative;
}

.sidebar-button > img, .sidebar-dropdown > div:first-of-type > img:first-of-type, .sidebar-dropdown > div:last-of-type > div > img{
    height:calc(var(--size) * 16px);
    filter:invert(var(--image-invert));
}

.sidebar-dropdown > div:first-of-type > div:last-of-type{
    position:absolute;
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:calc(var(--size) * 6px);
    right:0;
}

.sidebar-dropdown > div:first-of-type > div:last-of-type > img{
    height:calc(var(--size) * 16px);
    filter:invert(var(--image-invert));
    transition-duration:250ms;
}

.sidebar-dropdown > div:first-of-type > div:last-of-type > img:hover{
    transform:scale(1.25);
}

.active-sidebar-dropdown > div:first-of-type > div:last-of-type > img:last-of-type:hover{
    transform:scale(1.25) rotate(180deg) !important;
}

.sidebar-button > p, .sidebar-dropdown > div:first-of-type > p, .sidebar-dropdown > div:last-of-type > div > p{
    font-size:calc(var(--size) * 12px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight:500;
    margin:0;
}

.sidebar-dropdown > div:last-of-type > div > input{
    font-size:calc(var(--size) * 12px);
    width:calc(var(--size) * 116px);
    border:1px solid var(--dark-border-color);
    outline:none;
    border-radius:calc(var(--size) * 6px);
    font-weight:500;
    padding:calc(var(--size) * 2px) calc(var(--size) * 6px);
    background:var(--bg-color-1);
}

.sidebar-break{
    height:0;
    width:calc(var(--size) * 220px);
    border-top:1px solid var(--light-border-color);
    margin:calc(var(--size) * 12px) calc(var(--size) * 18px);
}

.unavailable-sidebar-node{
    cursor:not-allowed !important;
    background:var(--light-border-color);
}

.unavailable-sidebar-node > img{
    filter:invert(0.5) !important;
}

.unavailable-sidebar-node > p{
    color:gray !important;
}

/*.desktop-sidebar-category, .desktop-sidebar-folder, .desktop-sidebar-category-2{
    width:calc(var(--size) * 256px);
    display:flex;
    align-items:center;
    padding:calc(var(--size) * 6px) 0;
    transition-duration:250ms;
    cursor:pointer;
}

.desktop-sidebar-category:not(.active-sidebar-category):not(.unavailable-sidebar-category):hover, .desktop-sidebar-category-2:not(.active-sidebar-category):not(.unavailable-sidebar-category):hover, .desktop-sidebar-folder:not(.active-sidebar-category):hover {
    background:var(--hover-light)
}

.unavailable-sidebar-category{
    background:var(--light-border-color);
}

.unavailable-sidebar-category > div > img{
    filter:invert(0.5) !important;
}

.unavailable-sidebar-category > p{
    color:gray !important;
}

.desktop-sidebar-category > div, .desktop-sidebar-folder > div, .desktop-sidebar-category-2 > div{
    width:calc(var(--size) * 48px);
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.desktop-sidebar-category > div > img, .desktop-sidebar-folder > div > img, .desktop-sidebar-category-2 > div > img{
    height:calc(var(--size) * 18px);
    filter:invert(var(--image-invert));
}

.desktop-sidebar-category > p, .desktop-sidebar-folder > p, .desktop-sidebar-category-2 > p{
    margin:0;
    font-size:calc(var(--size) * 12px);
    font-weight:400;
    cursor:pointer;
}

.desktop-sidebar-break{
    height:1px;
    width:calc(var(--size) * 220px);
    background:var(--light-border-color);
    margin:calc(var(--size) * 12px) calc(var(--size) * 18px);
}

#desktop-sidebar-categories > h1{
    font-size:calc(var(--size) * 12px);
    font-weight:700;
    margin: 0 0 calc(var(--size) * 6px) calc(var(--size) * 18px);
}*/

#context-menu:not(.inactive-modal){
    visibility: visible;
    opacity:1;
    transition-duration:250ms;
    transition-property: opacity;
    background:var(--dark-gray);
    position:absolute;
    display:flex;
    flex-direction:column;
    padding:calc(var(--size) * 12px) 0;
    overflow:hidden;
    border-radius:calc(var(--size) * 6px);
    box-shadow:0 0 calc(var(--size) * 12px) 0 black;
    width:calc(var(--size) * 170px);
    z-index:1;
}

#context-menu > div{
    display:flex;
    flex-direction:row;
    align-items:center;
    width:calc(var(--size) * 194px);
    cursor:pointer;
    padding:calc(var(--size) * 4px) 0;
}

#context-menu > div:hover{
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
}

#context-menu > div > img{
    height:calc(var(--size) * 16px);
    filter:invert(1);
    padding:0 calc(var(--size) * 12px);
}

#context-menu > div > p{
    font-size:calc(var(--size) * 12px);
    cursor:pointer;
    margin:0;
    color:white;
}

#desktop-sidebar-employee.inactive-modal{
    display:none;
}

.active-sidebar-category{
    background:var(--light-accent);
}

#desktop-friending-modal.inactive-modal{
    right:calc(var(--size) * -368px);
}

#desktop-friending-modal:not(.inactive-modal){
    right:calc(var(--size) * 24px);
}

#desktop-friending-modal{
    top:calc(var(--size) * 56px);
}

#desktop-folder-decks-modal.inactive-modal{
    right:calc(var(--size) * -368px);
}

#desktop-folder-decks-modal:not(.inactive-modal){
    right:calc(var(--size) * 24px);
}

#desktop-folder-decks-modal{
    bottom:calc(var(--size) * 12px);
}