#recents-create{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;
    flex-wrap:wrap;
    gap:calc(var(--size) * 24px);
    margin:calc(var(--size) * 24px);
    width:calc(100vw - calc(var(--size) * 304px));
}

#recents-create > div{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    border:1px solid var(--light-border-color);
    gap:calc(var(--size) * 18px);
    padding:calc(var(--size) * 24px);
    border-radius:calc(var(--size) * 6px);
    background:var(--bg-color-1);
    transition-duration:250ms;
}

#recents-create > div:nth-of-type(1):hover{
    background:var(--light-accent);
}

#recents-create > div:nth-of-type(2):hover{
    background:var(--green-light);
}

#recents-create > div > img:first-of-type{
    height:calc(var(--size) * 30px);
}

#recents-create > div > div > h1{
    font-size:calc(var(--size) * 12px);
    font-weight:600;
    margin:0;
    cursor:default;
}

#recents-create > div > div > p{
    font-size:calc(var(--size) * 10px);
    font-weight:400;
    margin:0;
    color:gray;
    cursor:default;
}

#recents-create > div > img:last-of-type{
    height:calc(var(--size) * 18px);
    margin-left:calc(var(--size) * 18px)
}