.list{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    gap:calc(var(--size) * 18px);
    width:100vw;
}

.list > #flashcards-add-card{
    width:calc(100% - var(--size) * 32px);
    text-align:center;
    flex-shrink:0;
    color:gray;
    border:calc(var(--size) * 1px) dashed gray;
    border-radius:calc(var(--size) * 6px);
    height:calc(var(--size) * 128px);
    cursor:pointer;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    transition-duration:250ms;
    font-size:calc(var(--size) * 14px);
}

.list > #flashcards-add-card:hover, .list > .flashcards-card > .flashcards-card-answers > button:hover{
    font-size:calc(var(--size) * 15px);
}

.list > .flashcards-card{
    width:calc(100% - var(--size) * 64px);
    margin-right:calc(var(--size) * 32px);
    background:var(--bg-color-1);
    border:1px solid var(--light-border-color);
    border-radius:calc(var(--size) * 6px);
    padding:calc(var(--size) * 6px) 0;
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.list > .flashcards-card > .flashcards-card-number{
    position:absolute;
    width:calc(var(--size) * 24px);
    height:calc(var(--size) * 24px);
    top:calc(var(--size) * -26px);
    left:calc(var(--size) * -10px);
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    color:white;
    font-size:calc(var(--size) * 14px);
    border-radius:50%;
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
}

.list > .flashcards-card > .flashcards-card-copyright{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    width:calc(var(--size) * 96px);
    position:absolute;
    right:calc(var(--size) * 16px);
}

.kanban > .flashcards-card > .flashcards-card-copyright > img, .list > .flashcards-card > .flashcards-card-copyright > img{
    height:calc(var(--size) * 14px);
    filter:invert(calc(-0.8 * var(--image-invert) + 0.9));
}

.kanban > .flashcards-card > .flashcards-card-copyright > div, .list > .flashcards-card > .flashcards-card-copyright > div{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-end;
    gap:calc(var(--size) * 4px);
}

.kanban > .flashcards-card > .flashcards-card-copyright > div > p, .list > .flashcards-card > .flashcards-card-copyright > div > p{
    font-size:calc(var(--size) * 10px);
    color:lightgray;
    margin:0;
}

.kanban > .flashcards-card > .flashcards-card-copyright > div > img, .list > .flashcards-card > .flashcards-card-copyright > div > img{
    height:calc(var(--size) * 12px);
    filter:invert(calc(-0.5 * var(--image-invert) + 0.75));
}

.list > .flashcards-card > input{
    font-size:calc(var(--size) * 14px);
    background:transparent;
    outline:none;
    border:none;
    width:calc(100% - var(--size) * 32px);
    padding:calc(var(--size) * 6px) 0;
    cursor:pointer;
    font-weight:700;
}

.list > .flashcards-card > input:focus{
    cursor:text;
}

.list > .flashcards-card > input::placeholder{
    color:gray;
}

.list > .flashcards-card > .flashcards-card-answers{
    width:calc(100% - var(--size) * 32px);
    display:flex;
    flex-direction:column;
    gap:calc(var(--size) * 8px);
    margin:calc(var(--size) * 8px) 0;
}

.list > .flashcards-card > .flashcards-card-answers > .flashcards-card-answers-div{
    position:relative;
}

.list > .flashcards-card > .flashcards-card-answers > .flashcards-card-answers-div > input{
    width:calc(100% - var(--size) * 40px);
    background:var(--bg-color-2);
    border:1px solid var(--light-border-color);
    outline:none;
    padding:calc(var(--size) * 8px) calc(var(--size) * 28px) calc(var(--size) * 8px) calc(var(--size) * 12px);
    border-radius:calc(var(--size) * 6px);
    font-size:calc(var(--size) * 12px);
    color:gray;
}

.list > .flashcards-card > .flashcards-card-answers > .flashcards-card-answers-div > img{
    position:absolute;
    height:calc(var(--size) * 14px);
    top:calc(var(--size) * 9px);
    right:calc(var(--size) * 6px);
    cursor:pointer;
    filter:invert(0.5);
    transition-duration:125ms;
    opacity:0;
    visibility:hidden;
}

.list > .flashcards-card > .flashcards-card-answers > .flashcards-card-answers-div > input:focus ~ img{
    opacity:1;
    visibility:visible;
}

.list > .flashcards-card > .flashcards-card-answers > .flashcards-card-answers-div > img:hover{
    transform:scale(1.1);
}

.list > .flashcards-card > .flashcards-card-answers > button{
    width:100%;
    border:calc(var(--size) * 1px) dashed gray;
    color:gray;
    background:transparent;
    cursor:pointer;
    height:calc(var(--size) * 36px);
    font-size:calc(var(--size) * 14px);
    border-radius:calc(var(--size) * 6px);
    transition-duration:250ms;
    outline:none;
}

.list > .flashcards-card > .flashcards-card-footer{
    position:absolute;
    width:calc(var(--size) * 30px);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background:var(--bg-color-1);
    height:90%;
    right:calc(-1 * var(--size) * 32px);
    border:1px solid var(--light-border-color);
    border-bottom-right-radius:calc(var(--size) * 6px);
    border-top-right-radius:calc(var(--size) * 6px);
    border-left:none;
}

.list > .flashcards-card > .flashcards-card-footer > .flashcards-card-footer-right{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:calc(var(--size) * 6px);
}

.list > .flashcards-card > .flashcards-card-footer > .flashcards-card-footer-right > img{
    height:calc(var(--size) * 18px);
    filter:invert(0.5);
    cursor:pointer;
    transition-duration:125ms;
}

.list > .flashcards-card > .flashcards-card-footer > .flashcards-card-footer-right > img:hover{
    transform:scale(1.1);
}