@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --blue-color-1:#405DE6;
    --blue-color-2:#833AB4;
    --blue-color-dark:#354382;

    --red-color-1:#833AB4;
    --red-color-2:#E1306C;
    --red-color-dark:#664180;

    --bg-color:white;
}

body{
    margin:0;
    font-family:"Outfit", sans-serif;
    overflow-x:hidden;
    background:var(--bg-color);
}

#navbar{
    background:white;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    height:100px;
}

#navbar-header{
    display:flex;
    flex-direction:row;
    align-items:center;
}

#navbar-header > img{
    height:50px;
    filter: invert(32%) sepia(32%) saturate(5291%) hue-rotate(223deg) brightness(93%) contrast(94%);
}

#navbar-header > div{
    margin-left:10px;
}

#navbar-header > div > h1{
    color:var(--blue-color-1);
    font-size:35px;
    font-weight:700;
    margin:0;
}

#navbar-header > div > p{
    margin: -5px 0 0 0;
    font-weight:300;
    color:black;
    font-size:14px;
}

#navbar-links{
    margin-left:150px;
    display:flex;
    gap:40px;
}

.navbar-link{
    font-size:16px;
    font-weight:700;
    text-decoration:none;
    color:black;
}

#header-links{
    display:flex;
    gap:15px;
    margin-left:150px;
}

#header-links > img{
    height:50px;
}