@media only screen and (max-width: 1075px){
    #desktop-wrapper > div:first-of-type{
        width:100vw;
        height:75vh;
    }

    #desktop-wrapper > div:last-of-type{
        width:100vw;
        height:25vh;
    }

    #desktop-color-container{
        position:absolute;
        top:0;
        width:100vw;
        height:calc(25vh + 24px);
        z-index:1;
        left:0;
    }

    #desktop-main-container{
        position:absolute;
        bottom:0;
        width:100vw;
        height:80vh;
        border-radius:24px 24px 0 0;
        z-index:2;
        background:var(--bg-color-1);
        overflow-y:scroll;
        overflow-x:hidden;
    }

    .desktop-tab{
        bottom:0;
        width:100%;
        height:80vh;
    }
}