@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --hover-dark: #0f0f0f;
    --dark-gray: #1e1e1e;
    --light-gray: #2c2c2c;
    --bg-color-1: #ffffff;
    --bg-color-2: #f6f7fb;
    --light-border-color: #ebebeb;
    --dark-border-color: #343434;
    --hover-light: #f5f5f5;
    --primary-accent: #fe599d;
    --primary-accent-gradient: #f30096;
    --secondary-accent: #00a8ff;
    --secondary-accent-gradient: #31d6dc;
    --tertiary-accent: #f8680a;
    --tertiary-accent-gradient: #fa8d37;
}

*::-webkit-scrollbar{
    height:8px;
    width:8px;
    background:transparent;
}

*::-webkit-scrollbar-thumb{
    background:var(--dark-border-color);

}

body{
    font-family: 'Montserrat', sans-serif;
    background:var(--bg-color-1);
    overflow:hidden;
    width:100vw;
    height:100vh;
    margin:0;
}

body * {
    font-family: 'Montserrat', sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--bg-color-2) inset !important;
}

#desktop-wrapper{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:row;
    align-items:center;
}

#desktop-wrapper > div{
    width:50vw;
    height:100vh;
}

.break{
    margin-top:24px;
}

#desktop-color-container{
    transition-duration:250ms;
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
}

.desktop-tab{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    transition-duration:250ms;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:50vw;
}

.desktop-tab:not(.inactive-tab){
    visibility:visible;
    opacity:1;
}

.inactive-tab{
    visibility:hidden;
    opacity:0;
}

.desktop-tab > img:first-of-type{
    height:64px;
}

.desktop-tab > h1:first-of-type{
    margin:12px 0;
    font-size:32px;
    font-weight:700;
    text-align:center;
}

.desktop-tab > p:first-of-type{
    margin:0;
    font-size:16px;
    font-weight:400;
    color:gray;
    text-align:center;
}

.input-div{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    background:var(--bg-color-2);
    border:1px solid var(--light-border-color);
    margin-top:24px;
    border-radius:6px;
    padding:12px 18px;
    position:relative;
}

.input-div > img:first-of-type{
    height:18px;
    filter:invert(0.5);
    margin-right:6px;
}

.input-div > input{
    width:20vw;
    background:transparent;
    border:none;
    height:20px;
    outline:none;
    color:gray;
    font-size:14px;
}

.input-div > img:nth-of-type(2){
    height:18px;
    position:absolute;
    right:18px;
    filter:invert(0.5);
    cursor:pointer;
    visibility:hidden;
    opacity:0;
    transition-duration:250ms;
}

.input-div > input:focus ~ img:nth-of-type(2){
     visibility: visible;
     opacity:1;
}

span.action-item, h6.action-item{
    background: -webkit-linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor:pointer;
    font-weight:700 !important;
}

.desktop-tab h6{
    font-size:12px;
    font-weight:400;
    margin:24px;
    color:gray;
    text-align:center;
}

.desktop-tab > button:not(.small-btn){
    width:calc(20vw + 64px);
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
    outline:none;
    border:none;
    height:48px;
    border-radius:6px;
    letter-spacing:2px;
    text-transform:uppercase;
    cursor:pointer;
    transition-duration:250ms;
    margin-top:24px;
    font-weight:400;
}

.desktop-tab > button:not(.desktop-location-add):not(.small-btn){
    font-size:18px;
}

.desktop-tab > button:not(.small-btn).inactive-button{
    background:var(--hover-light);
    color:lightgray;
}

.desktop-tab > button:not(.small-btn):not(.inactive-button){
    color:white;
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
}

.desktop-tab > button:not(.small-btn):not(.inactive-button):hover{
    box-shadow:0 0 8px 0 gray;
}

.desktop-tab > button:not(.small-btn):not(.inactive-button):active{
    box-shadow: 0 0 0;
}

.small-btn{
    font-weight:500;
    font-size:14px;
    background:var(--bg-color-1);
    border:1px solid var(--light-border-color);
    color:gray;
    padding:8px 36px;
    border-radius:6px;
    cursor:pointer;
    transition-duration:250ms;
}

.small-btn:hover{
    box-shadow:0 0 6px 0 gray;
    background:var(--bg-color-1);
}

.account-option-div{
    display:flex;
    flex-direction:row;
    align-items:center;
    width:500px;
    margin-top:18px;
    padding:12px;
    border:1px solid var(--light-border-color);
    border-radius:12px;
    position:relative;
    cursor:pointer;
    transition-duration:250ms;
}

.account-option-div:hover{
    transform:scale(1.025);
}

.account-option-pic{
    width:36px;
    height:36px;
    border-radius:12px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    margin-right:12px;
}

.account-option-pic > img{
    height:16px;
    padding:4px;
    background:rgba(255,255,255,0.5);
    border-radius:50%;
}

.account-option-div > div:nth-of-type(2) > h1{
    font-size:16px;
    margin:3px 0;
}

.account-option-div > div:nth-of-type(2) > p{
    font-size:12px;
    color:gray;
    margin:3px 0;
}

.account-option-div > div:nth-of-type(3){
    position:absolute;
    right:12px;
    top:12px;
    width:18px;
    height:18px;
    border:1px solid var(--light-border-color);
    border-radius:50%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    transition-duration:250ms;
}

.account-option-div > div:nth-of-type(3) > img{
    height:12px;
}

.non-selected-option > div:nth-of-type(3){
    background:var(--hover-light);
}

.non-selected-option > div:nth-of-type(3) > img{
   filter:invert(0.5);
}

.selected-option > div:nth-of-type(3) > img{
    filter:invert(1);
}

.non-selected-option {
    background:var(--bg-color-2);
    color:lightgray;
}

.non-selected-option > div:nth-of-type(2) > p{
    color:lightgray;
}

#sign-up-btn-1{
    margin-bottom:24px;
}

.inactive-button {
    background: red;
}

.home-modal{
    position:absolute;
    bottom:24px;
    left:24px;
    width:36px;
    height:36px;
    background:var(--dark-gray);
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    cursor:pointer;
    transition-duration:250ms;
    z-index:2;
}

.home-modal:hover{
    box-shadow:0 0 calc(var(--size) * 6px) 0 var(--dark-gray);
}

.home-modal > a{
    width:100%;
    height:100%;
    border-radius:50%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    cursor:pointer;
}

.home-modal > a > img{
    height:20px;
    filter:invert(1);
}

.desktop-location-add{
    font-size:14px;
}

#desktop-loading-modal{
    width:100vw;
    height:100vh;
    position:absolute;
    top:0;
    left:0;
    background:rgba(0,0,0,0.5);
    z-index:5;
}

#desktop-loading-modal.inactive-modal{
    display:none;
}

#desktop-alert-modal{
    position:absolute;
    transition-duration:250ms;
    bottom:12px;
}

#desktop-alert-modal:not(.inactive-modal){
    right:12px;
}

#desktop-alert-modal.inactive-modal{
    right:-400px;
}

.split-div{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:calc(15vw + 64px);
    margin:24px 0;
}

#checkbox-div{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-start;
    gap:12px;
}

#checkbox{
    border:1px solid var(--light-border-color);
    border-radius:6px;
    width:18px;
    height:18px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    margin:0;
}

#checkbox > img{
    width:14px;
    height:14px;
    filter:invert(1);
    margin:0;
}

.split-div h6{
    margin:0;
}

.checked{
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
}

.unchecked > img{
    opacity:0;
}

.checked > img{
    opacity:1;
}