@import url('Gotham Medium');
@import url('Gotham Extra');
@import url('Gotham Book');
@import url('Gotham Bold');
@import url('Gotham Bold Italic');
@import url('Gotham Extra Light Italic');
@import url('Gotham Thin');
@import url('Gotham Ultra');
@import url('Gotham Light');
@import url('Gotham Black');

#navbar{
    width:100vw;
    position:absolute;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    justify-items: center;
    height: 7.5vh;
    z-index:1;
    opacity: 0.8;
    font-family: 'Gotham Medium';
    margin-left: 0%;
    align-self: center;
    padding: 0;
    margin: 0;
    margin-top: 0;

}

#logo { 
    height: 4.5vh;
    margin-right: 14.75vw;
    cursor: pointer;
}

.navHeading {
    display: flex;
    position: relative;
    cursor: pointer;
    flex-direction:row;
    align-items:center;
    font-size: 1.8vh;
    color: black;
    height: 7.5vh;
    line-height: 0;
    justify-content: center;
    padding-left: 1.75vw;
    padding-right: 1.75vw;
    }

.navHeadingSuiteFeatures {
    display: flex;
    position: relative;
    cursor: pointer;
    flex-direction:row;
    align-items:center;
    font-size: 1.8vh;
    color: black;
    height: 7.5vh;
    line-height: 0;
    padding-left: 1.75vw;
    padding-right: 1.75vw;
    justify-content: center;
}
     
    @keyframes gradientText {
      from {
          background-position: 0%;
      }
      to {
          background-position: 10000%;
      }
    }

.signInButton {
    display:flex;
    cursor: pointer;
    flex-direction:row;
    align-items: center;
    text-align:center;
    justify-content: center;
    width: 7.5vw;
    min-height: 4.5vh;
    font-family: 'Gotham';
    margin-left: 10vw;
    font-size: medium;
    -moz-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    -webkit-transition: all 300ms  ease-in-out;
    -ms-transition: color 300ms ease-in-out;
    -o-transition: color 300ms ease-in-out;
    color: black;
    border: none;
    border-radius: 0.25vw;
    background-image: linear-gradient(90deg ,#ffcfe4, #ff9cc7, #ff94c3, #fa6eab, #ff529d, #f7398b, #f7237e, #ff006d, #f7237e, #f7398b, #ff529d, #fa6eab, #ff94c3, #ff9cc7, #ffcfe4);
    background-size: 1000%;
    animation: gradientText 2000s infinite linear;
    font-size: 1.8vh;
    line-height: 0%;
    padding: none;
    position: relative;
}

.dropDownNavBarList {
    display: flex;
    position: absolute;
    justify-content: left; 
    margin-top: 7.5vh;
    height: 8vh;
    width: 29.5vw;
    top: 0vh;
    justify-self: center;
    visibility: hidden;
    border-radius: 0.25vw;
    background-image: linear-gradient(135deg, #eeeeee, #f0f0f0, #eeeeee);
   -webkit-border-radius: 0.25vw;
   -moz-border-radius: 0.25vw;
   box-shadow: 0 0.1vh 0.1vw rgba(0,0,0,0.3);
   -webkit-transition: all 0.3s  ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
    z-index: 2;
}

.featuresTabIcon {
    width: 2.5vw;
    cursor: pointer;
    align-self: center; 
}

.featuresTabIcon2 {
    height: 4.5vh;
    cursor: pointer;
    align-self: center; 
}

.dropDownNavBarIndLink {
    height: 5vh;
    width: 12.5vw;   
    display: flex;
    flex-direction: row; 
    border-radius: 0.1vw;
    z-index: 3;
    align-self: right;
    align-items: center;
    padding-left: 0.75vw;
    padding-top: 0.75vw;
    cursor: pointer;
}

.dropDownNavBarIndLink2 {
    height: 5vh;
    width: 12.5vw;   
    display: flex;
    flex-direction: row; 
    border-radius: 0.1vw;
    z-index: 3;
    align-self: right;
    align-items: center;
    padding-top: 1.5vh;
    padding-left: 3.25vw;

}

.suiteFeatureHeading {
    font-size: 1.5vh;
    font-family: 'Gotham Medium';
    width: 10vw;
    cursor: pointer;
    border-radius: 0.1vw;
    padding-left: 1vw;
    padding-bottom: 2.75vh;
    line-height: 0;
}

.suiteFeatureDescription {
    font-size: 0.9vh;
    font-family: 'Gotham Light';
    width: 15vw;
    color: gray;
    padding-top: 1.6vh;
    margin-left: -6vw;
    -moz-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
    cursor: pointer;
    border-radius: 0.1vw;
}

.suiteFeatureDescription2 {
    font-size: 0.9vh;
    font-family: 'Gotham Light';
    width: 15vw;
    color: gray;
    padding-top: 2vh;
    margin-left: -6.2vw;
    -moz-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
    cursor: pointer;
    border-radius: 0.1vw;
}

.suiteFeatureHeading2 {
    font-size: 1.5vh;
    font-family: 'Gotham Medium';
    width: 10vw;
    cursor: pointer;
    border-radius: 0.1vw;
    padding-left: 1vw;
    padding-bottom: 2.75vh;
    line-height: 0;  
}

#navbar:hover > .navHeading:hover {
    box-shadow: 0px 0.1vh 0px 0px #fc036f inset;
}

#navbar:hover > .navHeadingSuiteFeatures:hover {
    box-shadow: 0px 0.1vh 0px 0px #fc036f inset;
    }

#navbar:hover > #dashboardHover:hover {
   color: transparent;
}

#navbar:hover > #dashboardHover {
    color: grey;
} 

#navbar:hover > .signInButton:hover {
    color: white;
}

.navHeadingSuiteFeatures:hover ~ .dropDownNavBarList {
    visibility: visible; 
    pointer-events: all;
}

.dropDownNavBarList:hover ~ .dropDownNavBarList {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
}

.suiteFeatureDescription:hover {
    color: black;
}

.suiteFeatureHeading:hover ~ .suiteFeatureDescription {
    color: black;
}

.featuresTabIcon:hover ~ .suiteFeatureDescription {
    color: black;
}

.featuresTabIcon2:hover ~ .suiteFeatureDescription2 {
    color: black;
}

.suiteFeatureHeading2:hover ~ .suiteFeatureDescription2 {
    color: black;
}

.suiteFeatureDescription2:hover ~ .suiteFeatureDescription2 {
    color: black;
}

.dropDownNavBarList.dropDownNavBarList:hover .dropDownNavBarList {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
}

.navHeadingSuiteFeatures:hover + .dropDownNavBarList, .dropDownNavBarList:hover {
    visibility: visible;
    pointer-events: all;
}

.dropDownNavBarList:not(:hover) .navHeadingSuiteFeatures {
    box-shadow: 0px 0.1vh 0px 0px #fc036f inset;
}
 
.suiteFeatureDescription:hover {
     color: black;
}

 .suiteFeatureDescription2:hover {
    color: black;
}

.dropDownNavBarList:hover + .navHeadingSuiteFeatures {
    color: black;
}

.dropDownNavBarIndLink:hover .navHeadingSuiteFeatures {
    color: black;
}

