@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --blue-color-1:#405DE6;
    --blue-color-2:#833AB4;
    --blue-color-dark:#354382;

    --red-color-1:#833AB4;
    --red-color-2:#E1306C;
    --red-color-dark:#664180;

    --bg-color: #05010d;
    --bg-color-100: #101111;
    --bg-color-200: #18191a;
    --bg-color-300: #313133;
    --bg-color-400: #494b4d;
}

body{
    margin:0;
    font-family:"Outfit", sans-serif;
    overflow-x:hidden;
    background:var(--bg-color);
    color:white;
}

#navbar{
    width:88vw;
    position:absolute;
    left:6vw;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    height:75px;
    z-index:1;
}

#header{
    display:flex;
    flex-direction:row;
    align-items:center;
}

#header > img{
    height:30px;
    margin-right:5px;
}

#header > h1{
    font-size:22px;
    font-weight:500;
    margin: 0 20vw 0 0;
    color:#bbb;
}

#pages {
    display:flex;
    flex-direction:row;
    align-items:center;
    color:#a9a4ac;
    gap:45px;
}

#pages::after{
    margin:0 10px;
    content:'';
    width:2px;
    height:25px;
    background:var(--bg-color-200);
}

.page{
    display:flex;
    position:relative;
}

.page > p{
    font-size:14px;
    cursor:pointer;
    font-weight:500;
    transition-duration:250ms;
    margin:0;
}

.page > p:hover{
    color:white;
}

.page > div{
    position:absolute;
    font-size:12px;
    opacity:0.75;
    color:white;
    background:var(--blue-color-1);
    width:16px;
    height:16px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    right:-20px;
    top:-5px;
    border-radius:5px;
}

.accented{
    background: -webkit-linear-gradient(150deg, var(--blue-color-1), var(--blue-color-2));;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#header-links{
    display:flex;
    justify-content:space-around;
    align-items:center;
    width:100px;
}

#header-links > img{
    filter:invert(1) brightness(0.75);
    cursor:pointer;
    transition-duration:250ms;
    height:20px;
}

#header-links > img:hover{
    filter:invert(1);
}

#main-container{
    width:70vw;
    position:absolute;
    top:150px;
    left:15vw;
}

#main-header > h1{
    font-size:65px;
    margin:0;
}

#main-header > p{
    font-size:18px;
    color:gray;
    margin:10px 0;
}

#main-header{
    margin-bottom:100px;
}

.table-header{
    text-align:left;
    font-size:25px;
    font-weight:700;
    margin:0;
    width:calc(70vw / 3);
}

.table-subheader{
    margin:10px 0;
    text-align:left;
    font-size:14px;
    font-weight:300;
    color:gray;
}

.table-subheader:last-of-type{
    margin-bottom:50px;
}

.feature-row{
    position:relative;
    padding:5px 0
}

.feature-row > img{
    filter:invert(1);
}

.feature-row > div{
    position:absolute;
    width:30px;
    height:30px;
    border-radius:15px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    top:0;
}

.feature-row > div > img{
    filter:invert(1);
    width:20px;
}

.feature-row > p{
    position:absolute;
    margin:0;
    top:5px;
    font-size:16px;
    font-weight:300;
    left:40px;
}