@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

#desktop-navbar > div:first-of-type > div > h1{
    font-size:18px;
    font-weight:700;
    margin:0;
}

:root{
    --hover-dark:#0f0f0f;
    --dark-gray:#1e1e1e;
    --light-gray:#2c2c2c;
    --bg-color-1:#ffffff;
    --bg-color-2:#f6f7fb;
    --light-border-color:#ebebeb;
    --dark-border-color:#343434;
    --hover-light:#f5f5f5;
    --primary-accent:#fe599d;
    --primary-accent-gradient:#f30096;
    --secondary-accent:#00a8ff;
    --secondary-accent-gradient:#31d6dc;
    --tertiary-accent:#f8680a;
    --tertiary-accent-gradient:#fa8d37;
    --accent-highlight:#f30096;
    --light-accent:#ffedf6;
}

*::-webkit-scrollbar{
    width:8px;
    background:var(--hover-dark);
    position:absolute;
}

*::-webkit-scrollbar-thumb{
    background:var(--dark-border-color);

}

body{
    font-family: 'Montserrat', sans-serif;
    background:var(--bg-color-2);
    overflow:hidden;
    margin:0;
}

body *{
    font-family: 'Montserrat', sans-serif;
}

.accent{
    color:var(--primary-accent);
}

#desktop-wrapper{
    display:flex;
    flex-direction:column;
    width:100vw;
    height:100vh;
    overflow-x:hidden;
}

.inactive-modal{
    visibility:hidden;
    opacity:0;
}

#desktop-navbar-container{
    display:flex;
    flex-direction:column;
}

#announcements.inactive-modal{
    height:0;
}

#announcements{
    display:flex;
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
    flex-direction:row;
    align-items:center;
    justify-content:center;
    height:42px;
    color:white;
    position:relative;
    transition-duration:250ms;
}

#announcements > h1{
    background:rgba(0,0,0,0.3);
    font-size:14px;
    text-transform: uppercase;
    padding:6px 12px;
    border-radius:6px;
}

#announcements > p{
    font-size:14px;
    margin-left:12px;
    font-weight:500;
}

#announcements > div{
    position:absolute;
    cursor:pointer;
    width:24px;
    height:24px;
    right:18px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

#announcements > div > img{
    height:18px;
    filter:invert(1);
}

#desktop-navbar{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    position:relative;
    height:72px;
    background:var(--bg-color-1);
}

#desktop-navbar > div:first-of-type{
    position:absolute;
    display:flex;
    flex-direction:row;
    align-items:center;
    left:12.5vw;
}

#desktop-navbar > div:first-of-type > img{
    height:36px;
    margin-right:6px;
}

#desktop-navbar > div:first-of-type > div{
    position:relative;
}

#desktop-navbar > div:first-of-type > div > p{
    font-size:10px;
    width:200px;
    margin: -2px 0 0;
}

#desktop-navbar > div:nth-of-type(2){
    display:flex;
    font-size:14px;
    gap:18px;
    cursor:pointer;
    color:var(--dark-gray);
}

#desktop-navbar > div:nth-of-type(2) > a {
    text-decoration:none;
    color:var(--dark-gray);
}

#desktop-navbar > div:nth-of-type(2) > a, #desktop-navbar > div:last-of-type > a:first-of-type, #desktop-navbar > div:nth-of-type(2) > div > p{
    transition-duration:250ms;
}

#desktop-navbar > div:nth-of-type(2) > a:hover, #desktop-navbar > div:last-of-type > a:first-of-type:hover, #desktop-navbar > div:nth-of-type(2) > div > p:hover{
    color:var(--primary-accent);
    text-shadow: 0 0 2px var(--primary-accent);
}

#desktop-navbar > div:last-of-type{
    position:absolute;
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:18px;
    right:12.5vw;
}

#desktop-navbar > div:last-of-type > a:first-of-type {
    font-size:14px;
    color:var(--dark-gray);
    text-decoration:none;
    cursor:pointer;
}

#desktop-navbar > div:last-of-type > a:last-of-type{
    padding:8px 18px;
    outline:none;
    border:3px solid var(--primary-accent);
    background:var(--bg-color-1);
    color:var(--primary-accent);
    border-radius:8px;
    font-weight:700;
    text-transform:uppercase;
    cursor:pointer;
    transition-duration:250ms;
    text-decoration:none;
}

#desktop-navbar > div:last-of-type > a:last-of-type:hover{
    background:var(--primary-accent);
    color:white;
}

#desktop-main{
    width:100vw;
    height:32.5vw;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    gap:5vw;
    position:relative;
}

#desktop-main > div{
    width:35%;
    height:90%;
}

#laptop{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:100%;
    height:100%;
}

#laptop-bottom{
    width:100%;
    height:16px;
    background:var(--light-gray);
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    position:relative;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    box-shadow: 0 48px 32px 0 gray;
}

.laptop-foot{
    position:absolute;
    width:15%;
    min-width:48px;
    height:6px;
    bottom:-6px;
    background:var(--dark-gray);
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
}

#laptop-foot-1{
    left:10%;
}

#laptop-foot-2{
    right:10%;
}

#laptop-center-crease{
    background:var(--dark-gray);
    width:25%;
    height:16px;
    box-shadow: inset 0 0 8px 0 var(--hover-dark);
    border-bottom-left-radius:16px;
    border-bottom-right-radius:16px;
}

#laptop-main{
    background:var(--dark-gray);
    width:80%;
    height:60%;
    padding-bottom:2.5%;
    border-radius:24px 24px 6px 6px;
    display:flex;
    flex-direction:column;
    align-items:center;
    position:relative;
    justify-content:flex-start;
    overflow:hidden;
}

#laptop-webcam{
    background:var(--bg-color-2);
    box-shadow:0 0 24px 4px var(--bg-color-1);
    width:4px;
    height:4px;
    border-radius:50%;
    position:absolute;
    top:2.5%;
}

#laptop-screen{
    width:100%;
    background:var(--hover-dark);
    height:97.5%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    overflow:hidden;
}

#laptop-screen > img{
    width:95%;
    height:80%;
}

#laptop-screen-apps{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    background:var(--dark-gray);
    width:95%;
    gap:6px;
    height:7.5%;
}

#laptop-screen-apps > div{
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    position:relative;
}

#laptop-screen-apps > div > div{
    width:3px;
    height:3px;
    border-radius:50%;
    background:var(--bg-color-2);
    position:absolute;
    bottom:0;
}

#laptop-screen-apps img{
    height:60%;
}

#desktop-main-text{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
}

#desktop-main-text > h1{
    font-size:3.5vw;
    font-weight:700;
    margin:0;
    line-height:3.75vw;
}

#desktop-main-text > p{
    font-size:1vw;
    margin:12px 0 24px 0;
    font-weight:400;
    color:gray;
}

#desktop-main-text > button{
    border:3px solid var(--primary-accent);
    background:var(--bg-color-1);
    color:var(--primary-accent);
    font-weight:700;
    text-transform: uppercase;
    transition-duration:250ms;
    padding:12px 24px;
    border-radius:8px;
    cursor:pointer;
}

#desktop-main-text > button:hover{
    color:white;
    background:var(--primary-accent)
}

.navbar-modal{
    display:flex;
    flex-direction:column;
    align-items:center;
    position:relative;
}

.navbar-modal > p{
    margin:0;
}

.navbar-modal > div{
    visibility:hidden;
    opacity:0;
    transition-duration:500ms;
    position:absolute;
    top:46px;
    transition-delay:1s;
}

.navbar-modal > p:hover ~ div, .navbar-modal > div:hover{
    visibility:visible;
    transition-delay:0ms;
    opacity:1;
}

.navbar-modal > div > div:first-of-type{
    height:6px;
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
}

.navbar-modal-main{
    background:var(--bg-color-1);
    padding:24px;
}

.navbar-modal-main > div{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:12px;
}

.navbar-modal-main > div > img{
    height:24px;
}

.navbar-modal-main > div > div > h1{
    font-size:14px;
    font-weight:700;
    margin:0;
}

.navbar-modal-main > div > div > p{
    font-size:12px;
    width:200px;
    margin:0;
}

#desktop-partners{
    width:100vw;
    height:96px;
    /*background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));*/
    background:var(--bg-color-1);
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}

#desktop-partners > img{
    height:18px;
    filter:saturate(0);
    transition-duration:250ms;
    cursor:pointer;
}

#desktop-partners > img:hover{
    transform:scale(1.025);
    filter:saturate(1);
}