#header-container{
    height:450px;
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    width:84vw;
    padding:0 8vw;
    overflow:hidden;
    margin-top:56px;
}

#header-container > img:first-of-type{
    opacity:0.1;
    position:absolute;
    height:1000px;
    right:-300px;
}

#header-container > *:not(img:first-of-type){
    max-width:40vw;
    margin:4px 0;
    color:white;
}

.header-label{
    background:hotpink;
    padding:6px 18px;
    text-transform:uppercase;
    font-weight:700;
    border-radius:17px;
    font-size:14px;
    color:white;
}

#header-container > h1{
    font-size:64px;
    text-transform:uppercase;
}

#header-container > p{
    font-size:16px;
    line-height:22px;
    font-weight:500;
}

#terms-and-conditions{
    width:50vw;
    margin:64px 25vw;
}

#terms-and-conditions, #user-agreement-break{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
    gap:18px;
}

#terms-and-conditions *{
    margin:0;
    font-size:12px;
    font-weight:400;
}