#desktop-main-container {
    width: calc(100vw - calc(var(--size) * 256px));
    height: calc(100vh - calc(var(--size) * 48px));
}

#desktop-bottom-buttons {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc(var(--size) * 12px);
    bottom: calc(var(--size) * 12px);
    right: calc(var(--size) * 12px);
}

.desktop-bottom-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: var(--dark-gray);
    width: calc(var(--size) * 36px);
    height: calc(var(--size) * 36px);
    border-radius: 50%;
    cursor: pointer;
    transition-duration: 250ms;
}

.desktop-bottom-btn:not(.inactive-modal) {
    opacity: 1;
    visibility: visible;
}

.desktop-bottom-btn > img {
    height: calc(var(--size) * 20px);
    filter: invert(1);
}

.desktop-bottom-btn:hover {
    box-shadow: 0 0 calc(var(--size) * 6px) 0 var(--dark-gray);
}

#desktop-main-container-tab {
    font-size: calc(var(--size) * 12px);
    width: calc(100% - var(--size) * 48px);
    padding: calc(var(--size) * 14px) calc(var(--size) * 24px);
    font-weight: 600;
    border-bottom: 1px solid var(--light-border-color);
    margin: 0;
    position: absolute;
    top: 0;
}

#desktop-timeline-dashboard {
    position: absolute;
    top: calc(var(--size) * 44px);
    left: calc(var(--size) * 256px);
    width: calc(100vw - var(--size) * 256px);
    height: calc(100vh - var(--size) * 92px);
    overflow-y: scroll !important;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#timeline-main-options, #folder-main-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: calc(var(--size) * 24px);
    margin: calc(var(--size) * 24px);
    width: calc(100vw - calc(var(--size) * 304px));
}

#timeline-main-options > div, #folder-main-options > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--light-border-color);
    gap: calc(var(--size) * 18px);
    padding: calc(var(--size) * 24px);
    border-radius: calc(var(--size) * 6px);
    background: var(--bg-color-1);
    transition-duration: 250ms;
    cursor: pointer;
}

/*#flip-main-options > div:nth-of-type(1):hover{
    border:1px solid var(--primary-accent);
}

#flip-main-options > div:nth-of-type(2):hover{
    border:1px solid var(--secondary-accent);
}*/

#timeline-main-options > div:hover, #folder-main-options > div:hover {
    border: 1px solid var(--primary-accent);
}

#timeline-main-options > div > img:first-of-type, #folder-main-options > div > img:first-of-type {
    height: calc(var(--size) * 30px);
    filter: invert(1) brightness(var(--image-invert));
}

#timeline-main-options > div > div > h1, #folder-main-options > div > div > h1 {
    font-size: calc(var(--size) * 14px);
    font-weight: 600;
    margin: 0;
    cursor: pointer;
}

#timeline-main-options > div > div > p, #folder-main-options > div > div > p {
    font-size: calc(var(--size) * 12px);
    margin: 0;
    color: gray;
    cursor: pointer;
}

#timeline-main-options > div > img:last-of-type, #folder-main-options > div > img:last-of-type {
    height: calc(var(--size) * 18px);
    margin-left: calc(var(--size) * 18px);
    filter: invert(1) brightness(var(--image-invert));
}

#timeline-filter-container {
    margin-left: calc(var(--size) * 24px);
}

#timeline-filter {
    width: calc(var(--size) * 384px);
    font-size: calc(var(--size) * 12px);
    padding: calc(var(--size) * 8px) calc(var(--size) * 12px);
    border-radius: calc(var(--size) * 6px);
    color: gray;
    outline: none;
    border: 1px solid var(--light-border-color);
    background: var(--bg-color-1);
}

#timelines-list-container {
    height: calc(100vh - var(--size) * 245px);
    width: calc(100vw - var(--size) * 306px);
    position: absolute;
    bottom: calc(var(--size) * 24px);
    left: calc(var(--size) * 24px);
    z-index: 1;
}

#my-timelines {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: calc(var(--size) * 12px);
    padding-bottom: calc(var(--size) * 48px);
    position: relative;
}

#no-timelines:not(.inactive-modal) {
    width: calc(100vw - var(--size) * 306px);
    height: calc(100vh - var(--size) * 245px);
    border-radius: calc(var(--size) * 12px);
    border: calc(var(--size) * 2px) dashed gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    cursor: pointer;
}

#no-timelines > p {
    font-size: calc(var(--size) * 12px);
    color: gray;
    margin: 0;
    font-weight: 400;
    transition-duration: 250ms;
}

#no-timelines:hover > p {
    font-size: calc(var(--size) * 14px);
}

.timeline {
    display: flex;
    align-items: center;
    background: var(--bg-color-1);
    padding: calc(var(--size) * 12px) calc(var(--size) * 18px);
    border: 1px solid var(--light-border-color);
    border-radius: calc(var(--size) * 6px);
    gap: calc(var(--size) * 18px);
    position: relative;
    width: calc(var(--size) * 445px);
    cursor: pointer;
    transition: opacity 500ms;
    will-change: opacity;
}

.timeline.faded-out {
    opacity: 0;
}

.personal-timeline-border:hover {
    border: 1px solid var(--primary-accent);
}

.community-timeline-border:hover {
    border: 1px solid var(--secondary-accent);
}

.shared-timeline-border:hover {
    border: 1px solid var(--tertiary-accent);
}

.other-timeline-border:hover {
    border: 1px solid var(--quaternary-accent);
}

.timeline > div:first-of-type {
    padding: calc(var(--size) * 6px);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: calc(var(--size) * 30px);
    height: calc(var(--size) * 30px);
    border: 1px solid var(--light-border-color);
    /*box-shadow:inset 0 0 calc(var(--size) * 4px) 0 var(--light-gray);*/
}

.timeline > div:first-of-type > img:first-of-type {
    height: calc(var(--size) * 24px);
}

.timeline:not(.user-timeline) > div:first-of-type > img:first-of-type {
    filter: invert(1);
}

.timeline > div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
}

.timeline > div:nth-of-type(2) > h1 {
    font-size: calc(var(--size) * 14px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(var(--size) * 184px);
    margin: 0;
}

.timeline > div:nth-of-type(2) > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc(var(--size) * 6px);
}

.timeline > div:nth-of-type(2) > div > img {
    height: calc(var(--size) * 14px);
}

.timeline > div:nth-of-type(2) > div > p {
    font-size: calc(var(--size) * 12px);
    font-weight: 400;
    color: gray;
    margin: 0;
}

.timeline > p {
    text-transform: uppercase;
    font-size: calc(var(--size) * 12px);
    padding: calc(var(--size) * 6px) calc(var(--size) * 12px);
    color: white;
    font-weight: 500;
    border-radius: calc(var(--size) * 6px);
    text-shadow: 0 0 calc(var(--size) * 2px) black;
}

.community-timeline {
    background: linear-gradient(135deg, var(--secondary-accent), var(--secondary-accent-gradient));
}

.shared-timeline {
    background: linear-gradient(135deg, var(--tertiary-accent), var(--tertiary-accent-gradient));
}

.personal-timeline {
    background: linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
}

.other-timeline {
    background: linear-gradient(135deg, var(--quaternary-accent), var(--quaternary-accent-gradient));
}

.timeline > div:last-of-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: calc(var(--size) * 4px);
    position: absolute;
    right: calc(var(--size) * 18px);
}

.timeline > div:last-of-type > img, .timeline > div:last-of-type > div > img {
    height: calc(var(--size) * 18px);
    filter: invert(var(--image-invert));
    transition-duration: 250ms;
    cursor: pointer;
}

.timeline > div:last-of-type > img:hover, .timeline > div:last-of-type > div > img:hover {
    transform: scale(1.1);
}

.timeline > div:last-of-type > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.timeline > div:last-of-type > div > div {
    position: absolute;
    bottom: calc(var(--size) * 24px);
    background: var(--light-gray);
    padding: calc(var(--size) * 6px) calc(var(--size) * 24px);
    font-size: calc(var(--size) * 12px);
    border-radius: 6px;
    border: 1px solid var(--dark-border-color);
    transition-duration: 250ms;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition-delay: 0ms;
    opacity: 0;
    visibility: hidden;
    color: white;
    z-index: 3;
}

.timeline > div:last-of-type > div > img:hover ~ div {
    visibility: visible;
    transition-delay: 500ms;
    opacity: 1;
}

.timeline > div:last-of-type > div > div::after {
    content: '';
    position: absolute;
    top: calc(var(--size) * 27px);
    z-index: 2;
    width: 0;
    height: 0;
    border-left: calc(var(--size) * 8px) solid transparent;
    border-right: calc(var(--size) * 8px) solid transparent;
    border-top: calc(var(--size) * 6px) solid var(--light-gray);
}