#header-container{
    height:450px;
    background:linear-gradient(135deg, var(--primary-accent), var(--primary-accent-gradient));
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    width:84vw;
    padding:0 8vw;
    overflow:hidden;
    margin-top:56px;
}

#header-container > img:first-of-type{
    opacity:0.1;
    position:absolute;
    height:1000px;
    right:-300px;
}

#header-container > *:not(img:first-of-type){
    max-width:40vw;
    margin:4px 0;
    color:white;
}

.header-label{
    background:hotpink;
    padding:6px 18px;
    text-transform:uppercase;
    font-weight:700;
    border-radius:17px;
    font-size:14px;
    color:white;
}

#header-container > h1{
    font-size:64px;
    text-transform:uppercase;
}

#header-container > p{
    font-size:16px;
    line-height:22px;
    font-weight:500;
}

#staff-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    gap:18px;
    background:var(--bg-color-1);
    padding:128px 8vw;
}

#staff-container > h1{
    font-size:36px;
    width:50vw;
    text-align:center;
    margin:0;
}

#staff-container > p{
    width:50vw;
    text-align:center;
    margin:0;
    font-size:14px;
    font-weight:400;
}

.staff-wrap{
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:center;
    width:84vw;
    gap:24px;
}

.staff-wrap > div{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
    width:256px;
    gap:24px;
}

.staff-wrap > div > img{
    height:256px;
    width:256px;
    border-radius:12px;
}

.staff-wrap > div > div{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
    gap:6px;
}

.staff-wrap > div > div > h1{
    margin:0;
    font-size:18px;
    color:var(--primary-accent);
    font-weight:700;
}

.staff-wrap > div > div > p{
    font-size:14px;
    font-weight:500;
    margin:0;
}